/* */
.wrap .tit {
  padding: 0 20px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: left;
  margin-bottom: 12px;
}

.ctg_topMenu {
  width: 100%;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  left: 0;
  background-color: #F7F7F7;
  z-index: 100;
}

.ctg_topMenu .inner_wrap {
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 22px 20px 18px 20px;
}

.ctg_topMenu a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  position: relative;
  letter-spacing: -0.15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  margin-left: 16px;
  font-size: 16px;
}

.ctg_topMenu a:first-of-type {
  margin-left: 0px;
}

.ctg_topMenu a.active {
  color: #000;
}

.menu_sort {
  padding: 0 20px;
  margin-top: 16px;
  overflow-x: auto;
  white-space: nowrap;
}

.menu_sort.list_inner_sort {
  padding: 0;
  margin-bottom: 16px;
}

.menu_sort .btn_sort {
  line-height: 21px;
  font-size: 13px;
  margin-right: 16px;
  position: relative;
  color: #595959;
}

.menu_sort .btn_sort.active {
  color: #000;
  font-weight: 500;
}

.menu_sort .btn_sort:first-of-type:before {
  display: none;
}

.menu_sort .btn_sort:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 7px;
  background-color: #eaeaea;
  top: 6px;
  left: -10px;
}

.menu_sort.ty02 {
  margin: 15px 0 20px 0;
  padding: 0;
}

.menu_sort.ty02 li {
  position: relative;
}

.update_txt {
  padding: 0 20px;
  margin-top: 15px;
  font-size: 12px;
  color: #767676;
}

.update_txt em {
  line-height: 17px;
}

.update_txt .timer {
  margin: 0 3px;
}

.update_txt .btn_info {
  width: 17px;
  height: 17px;
  background: url(../images/guide/btn_tooltip_mok.png) no-repeat center center/15px;
}

.sticky_selec {
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  left: 0;
  z-index: 7;
  background-color: #fff;
}

.sticky_selec.anchor {
  top: 60px;
}

.common_select {
  width: 100%;
  height: 50px;
  padding: 14px 25px 14px 15px;
  border: 1px solid #d5d5d5;
  position: relative;
  line-height: 22px;
  letter-spacing: -0.14px;
  border-radius: 6px;
  outline: 0;
  color: #767676;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/guide/ico_selec_arrow.svg) no-repeat right 14px top 50%/9px;
}

.common_select option {
  height: 50px;
}

.ctg_top_swiper {
  padding: 30px 0 60px 0;
  margin-bottom: 24px;
  background: url(../images/guide/md_top_banner_bg.svg) no-repeat;
  background-size: cover;
}

.ctg_top_swiper .banner_title {
  padding: 20px;
  background: url(../images/guide/banr_title_bg.svg) no-repeat center top;
  background-size: auto 83px;
}

.ctg_top_swiper .banner_title .tit {
  height: 37px;
  background: url(../images/guide/tod_banner_txt_img.png) no-repeat center center/auto;
}

.ctg_top_swiper .banner_title .sub {
  text-align: center;
  line-height: 22px;
  margin-top: 7px;
}

.ctg_top_swiper .prod-wrapper {
  padding-top: 16px;
}

.ctg_top_swiper .swiper-slide {
  position: relative;
  width: 217px;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  min-height: 100% !important;
}

.ctg_top_swiper .swiper-slide:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
  border: 2px solid #000;
  z-index: 2;
}

.ctg_top_swiper .swiper-slide .product_pic {
  padding-top: 217px;
  margin-bottom: 0;
}

.ctg_top_swiper .swiper-slide img {
  width: 100%;
  height: auto;
}

.ctg_top_swiper .swiper-slide .product_info {
  padding: 12px 20px 20px 20px;
  background-color: #fff;
}

.ctg_top_swiper .swiper-pagination.out_bottom {
  height: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  bottom: 30px;
  line-height: 16px;
}

.ctg_top_swiper .swiper-pagination.out_bottom .swiper-pagination-current {
  color: #000;
  line-height: 16px;
}

.ctg_top_swiper .swiper-pagination.out_bottom .swiper-pagination-total {
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.ctg_top_swiper .swiper-pagination.out_bottom .swiper-pagination-total:before {
  color: rgba(0, 0, 0, 0.6);
}

.list_section {
  position: relative;
}

.list_section .evt_products.row_dir {
  margin-top: 20px;
  padding: 20px 20px 0 20px;
}

.list_section .evt_products.row_dir .prod_item {
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.list_section .rangking {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 52px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: -20px;
  left: -10px;
  z-index: 30;
  color: #000;
  font-weight: 700;
  background: url(../images/guide/lank_noraml.svg) no-repeat center center/50px;
}

.list_section .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .rangking .rank_icon {
  width: 10px;
  height: 15px;
  margin-left: 2px;
  margin-top: -1px;
}

.list_section .rangking .rank {
  display: block;
}

.list_section .rangking.down .rank_icon {
  background: url(../images/guide/lank_noraml_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .rangking.up .rank_icon {
  background: url(../images/guide/lank_noraml_up.svg) no-repeat center center/9px;
  margin-top: -2px;
}

.list_section .rangking.same .rank_icon {
  position: relative;
}

.list_section .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #000;
  top: 50%;
  left: 0;
  margin-top: -2px;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking .rank {
  display: block;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(1) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking .rank {
  display: block;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(2) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking .rank {
  display: block;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(3) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking .rank {
  display: block;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(4) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking .rank {
  display: block;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .prod-wrapper:first-of-type .prod_item:nth-of-type(5) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.ranking_bubble_area {
  position: absolute;
  right: 0;
  bottom: 47vw;
  padding-right: 40px;
  z-index: 10;
}

.ranking_bubble_area .rank_icon {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  right: -15px;
  top: -14px;
  z-index: 13;
  background: url(../images/guide/lanking_bubble_thumb.svg) no-repeat center center/55px;
}

.ranking_bubble_area .icon_show {
  width: 55px;
  height: 70px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.ranking_bubble_area .ranking_bubble {
  position: relative;
  width: 130px;
  height: 56px;
  padding: 10px 20px;
  line-height: 20px;
  font-weight: 700;
  background: url(../images/guide/lanking_bubble.svg) no-repeat center center/120px;
}

.ranking_bubble_area .ranking_bubble:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 15px;
  background: url(../images/guide/lanking_bubble_icon.svg) no-repeat center center/10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 8px;
  right: 38px;
}

.ranking_bubble_area.new {
  position: absolute;
  padding-right: 0;
  right: 0px;
  bottom: 100vw;
  z-index: 10;
}

.ranking_bubble_area.new .rank_icon {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -15px;
  left: 5px;
  z-index: 13;
  background: url(../images/guide/lanking_bubble_new.svg) no-repeat center center/65px;
}

.ranking_bubble_area.new .icon_show {
  width: 70px;
  height: 30px;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.ranking_bubble_area.new .ranking_bubble {
  position: relative;
  width: 140px;
  height: 68px;
  padding: 15px 20px;
  line-height: 20px;
  font-weight: 700;
  background: url(../images/guide/lanking_bubble.svg) no-repeat center center/135px;
}

.ranking_bubble_area.new .ranking_bubble:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 15px;
  background: url(../images/guide/lanking_bubble_icon.svg) no-repeat center center/10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 18px;
  right: 68px;
}

.prod_list_wrap {
  position: relative;
  padding: 0 20px;
}

.prod_list_wrap .tit {
  line-height: 35px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01;
  margin-bottom: 12px;
  padding: 0;
}

.prod_list_wrap .prod-wrapper.evt_products {
  padding-top: 0;
}

.solo_banner {
  margin: 30px 0;
}

.solo_banner img {
  width: 100%;
}

.belt_banner {
  margin-top: 60px;
}

.belt_banner > img {
  width: 100%;
}

.btn_more_div {
  margin-top: 26px;
}

.btn_more_div .more_btn {
  width: 71px;
  height: 24px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.btn_more_div .more_btn.hidden {
  display: none;
}

.btn_more_div .txt {
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.15px;
  color: #767676;
}

.btn_more_div .btn_more_icon {
  width: 24px;
  height: 24px;
  background: url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
  background-size: 24px auto;
}
