/* */
.devide_hr {
  display: block;
  width: 100%;
  height: 8px;
  padding: 0;
  border: none;
  background-color: #f7f7f7;
  margin: 0;
  margin-top: 40px;
}

.devide_hr.type_top {
  margin-top: 0;
}

.brand_card {
  padding: 30px 20px;
  background-color: #2B2E3D;
  color: #fff;
}

.brand_card .tit_card_head {
  position: relative;
  margin-bottom: 20px;
}

.brand_card .tit_card_head .brand_thumbnail {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.brand_card .tit_card_head .brand {
  font-size: 12px;
  line-height: 20px;
}

.brand_card .tit_card_head .logo {
  line-height: 36px;
  font-family: 'Gmarket Sans';
  text-shadow: 3px 2px 0px #000;
  font-weight: 900;
  font-size: 36px;
  color: #FFEB01;
}

.brand_card .tit_card_head .brand_thumbnail ~ .brand,
.brand_card .tit_card_head .brand_thumbnail ~ .logo {
  padding-right: 60px;
}

.brand_card .tit_card_body {
  margin-bottom: 20px;
}

.brand_card .tit_card_body .tit_desc {
  margin-bottom: 8px;
  line-height: 23px;
  font-weight: 400;
}

.brand_card .tit_card_body .desc {
  word-break: keep-all;
  line-height: 20px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.brand_card .tit_card_foot {
  overflow: hidden;
}

.brand_card .tit_card_foot button {
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.brand_card .tit_card_foot .evt_good_count {
  display: block;
  padding: 5px 12px;
  height: 35px;
  border-radius: 35px;
  color: #fff;
  font-size: 10px;
  background-color: #000;
  z-index: 5;
}

.brand_card .tit_card_foot .evt_good_count .icon {
  float: left;
  width: 12px;
  height: 14px;
  margin-top: -1px;
  background: url(../images/guide/ico_prod_like_icon.svg) no-repeat center center/12px;
}

.brand_card .tit_card_foot .evt_good_count .txt {
  float: left;
  margin-left: 3px;
  line-height: 14px;
}

.brand_card .tit_card_foot .evt_good_count.active .icon {
  float: left;
  width: 12px;
  height: 14px;
  background: url(../images/guide/ico_prod_like_icon_active.svg) no-repeat center center/12px;
}

.brand_card .tit_card_foot .share_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url(../images/ico/ico_share_white.svg) no-repeat center center/15px;
  background-color: #000;
}

.vodeo_wrap {
  padding: 30px 20px 0 20px;
}

.vodeo_wrap .tit {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 29px;
  padding-right: 20px;
}

.vodeo_wrap .sub_tit {
  margin-top: 5px;
  line-height: 20px;
  color: #595959;
}

.vodeo_wrap .video_item {
  position: relative;
  margin-top: 20px;
  padding-top: 56.25%;
  overflow: hidden;
}

.vodeo_wrap .video_item .evt_video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
}

.evt_slider_wrap {
  padding: 30px 0 0px 20px;
}

.evt_slider_wrap .tit {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 29px;
  padding-right: 20px;
}

.evt_slider_wrap .swiper.brandSwiper {
  padding-right: 20px;
}

.evt_slider_wrap.coupon_swiper .evt_slider .evt_item {
  width: 320px;
  padding: 17px 90px 19px 20px;
  height: auto;
  min-height: 100%;
  background: url(../images/guide/brand_coupon_bg.svg) no-repeat left top/99%;
}

.evt_slider_wrap.coupon_swiper .evt_slider .cupon_info .discount {
  float: none;
  font-size: 20px;
  margin: 0 0 5px 0;
}

.evt_slider_wrap.coupon_swiper .evt_slider .cupon_info .gray {
  color: #595959;
}

.evt_slider_wrap.coupon_swiper .evt_slider .cupon_info .cpon_notice {
  margin: top 8px;
  line-height: 18px;
  font-size: 12px;
  color: #767676;
  letter-spacing: -0.13px;
}

.evt_slider_wrap .evt_slider {
  padding-top: 20px;
  padding-right: 20px;
}

.evt_slider_wrap .evt_slider .evt_item {
  width: 320px;
}

.evt_slider_wrap .evt_slider .evt_item .img_wrap {
  position: relative;
  height: 0;
  padding-top: 60%;
  border-radius: 8px;
}

.ctg_floating_menues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: auto;
  padding: 1px 20px 1px 0;
}

.ctg_floating_menues button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 8px 14px;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  margin-right: 4px;
  font-size: 13px;
  color: #767676;
  letter-spacing: -0.013em;
  background-color: #fff;
}

.ctg_floating_menues button:last-of-type {
  margin-right: 0;
}

.ctg_floating_menues button.arrow_li {
  padding-right: 35px;
  background: url(../images/guide/arrow_down.svg) no-repeat right 14px top 50%/9px;
  background-color: #fff;
}

.ctg_floating_menues button.active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.ctg_prod_wrap {
  padding: 30px 20px 0 20px;
  color: #292929;
}

.ctg_prod_wrap .tit {
  padding-right: 20px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 29px;
}

.ctg_prod_wrap .prod_list_info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctg_prod_wrap > span {
  display: block;
  line-height: 19px;
}

.ctg_prod_wrap .prod_ea {
  color: #767676;
}

.ctg_prod_wrap .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.ctg_prod_wrap .sort_nm {
  font-weight: 500;
  padding-right: 14px;
  background: url(../images/guide/arrow_down.svg) no-repeat right 0px top 50%/10px;
}

.ctg_prod_wrap .ctg_list_icon {
  margin-left: 15px;
  width: 14px;
  height: 19px;
  background: url(../images/guide/ico_ctg_list_type1.svg) no-repeat center center/14px;
}

.ctg_prod_wrap .ctg_list_icon.row_list {
  background: url(../images/guide/ico_ctg_list_type2.svg) no-repeat center center/14px;
}

.replace_prod .replace_prod_btn {
  display: block;
}

.btn_more_div {
  margin-top: 26px;
}

.btn_more_div .more_btn {
  width: 71px;
  height: 24px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.btn_more_div .more_btn.hidden {
  display: none;
}

.btn_more_div .txt {
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.15px;
  color: #767676;
}

.btn_more_div .btn_more_icon {
  width: 24px;
  height: 24px;
  background: url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
  background-size: 24px auto;
}

.belt_banner {
  margin-top: 60px;
}

.belt_banner.type_top {
  margin: 0;
}

.belt_banner > img {
  width: 100%;
}
