@charset "UTF-8";
.module_wrap {
  margin-top: 30px;
  background-color: #fff;
  overflow: hidden;
}

.module_wrap:first-of-type {
  margin: 0;
}

.module_wrap .swiper {
  padding-right: 20px;
}

.module_wrap .md_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.module_wrap .md_tab .md_anchor {
  margin-left: 16px;
  font-size: 18px;
  letter-spacing: -0.022em;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
}

.module_wrap .md_tab .md_anchor:first-of-type {
  margin-left: 0;
}

.module_wrap .md_tab .md_anchor.active {
  color: #000;
}

.module_wrap .ctg_top_swiper {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.module_wrap .ctg_top_swiper .prod-wrapper {
  padding-top: 16px;
}

.module_wrap .ctg_top_swiper .swiper-slide {
  position: relative;
  width: 217px;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  min-height: 100% !important;
}

.module_wrap .ctg_top_swiper .swiper-slide:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
  border: 2px solid #000;
  z-index: 2;
}

.module_wrap .ctg_top_swiper .swiper-slide .product_pic {
  padding-top: 217px;
}

.module_wrap .ctg_top_swiper .swiper-slide img {
  width: 100%;
  height: auto;
}

.module_wrap .ctg_top_swiper .swiper-slide .product_info {
  padding: 0 20px 20px 20px;
}

.module_wrap .ctg_top_swiper .swiper-pagination.out_bottom {
  height: auto;
  padding: 0;
  background-color: #fff;
  bottom: 0px;
  line-height: 16px;
}

.module_wrap .ctg_top_swiper .swiper-pagination.out_bottom .swiper-pagination-current {
  color: #000;
  line-height: 16px;
}

.module_wrap .ctg_top_swiper .swiper-pagination.out_bottom .swiper-pagination-total {
  line-height: 16px;
}

.mc_cont.resp {
  height: auto;
  margin: 0;
}

.wel_belt_banner {
  position: relative;
}

.wel_belt_banner.round_ty .swiper-container {
  border-radius: 10px;
  overflow: hidden;
}

.wel_belt_banner .swiper-pagination.swiper-pagination-bullets {
  position: static;
  margin-top: 12px;
}

.wel_belt_banner .swiper-pagination.swiper-pagination-bullets.out_bottom {
  bottom: 0;
}

.wel_belt_banner .swiper-slide img {
  width: 100%;
}

.divide_hr {
  display: block;
  width: 100%;
  height: 8px;
  padding: 0;
  border: none;
  background-color: #f7f7f7;
  margin: 0;
  margin-top: 40px;
}

.ctg_floating_line {
  padding: 0 0 10px 20px;
  background-color: #fff;
  margin-top: 32px;
}

.ctg_floating_line.sub_mn {
  margin: 0;
  padding: 0 0 20px 20px;
  background-color: #F7F7F7;
}

.ctg_floating_line span {
  display: block;
}

.ctg_floating_line .menu_nm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 20px;
  margin-bottom: 16px;
}

.ctg_floating_line h3 {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
}

.ctg_floating_line .menu_nm_icon {
  width: 12px;
  height: 32px;
  margin-left: 8px;
  background: url(../images/guide/arrow_down.svg) no-repeat center center/80%;
}

.ctg_floating_line .ctg_floating_menues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: auto;
  padding: 1px 20px 1px 0;
}

.ctg_floating_line .ctg_floating_menues li,
.ctg_floating_line .ctg_floating_menues button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 8px 14px;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  margin-right: 4px;
  font-size: 13px;
  color: #767676;
  letter-spacing: -0.013em;
  background-color: #fff;
}

.ctg_floating_line .ctg_floating_menues li:last-of-type,
.ctg_floating_line .ctg_floating_menues button:last-of-type {
  margin-right: 0;
}

.ctg_floating_line .ctg_floating_menues li.arrow_li,
.ctg_floating_line .ctg_floating_menues button.arrow_li {
  padding-right: 35px;
  background: url(../images/guide/arrow_down.svg) no-repeat right 14px top 50%/9px;
  background-color: #fff;
}

.ctg_floating_line .ctg_floating_menues li.active,
.ctg_floating_line .ctg_floating_menues button.active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.ctg_floating_line .ctg_floating_menues li.arrow_li {
  position: relative;
}

.ctg_floating_line .ctg_floating_menues li.arrow_li em {
  display: none;
  font-size: 11px;
  color: #fff;
  position: absolute;
  background-color: #000;
  top: 8px;
  right: 8px;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 19px;
}

.ctg_floating_line .ctg_floating_menues li.arrow_li.checked_status em {
  display: block;
}

.ctg_prod_wrap {
  padding: 0 20px;
  color: #292929;
}

.ctg_prod_wrap .prod_list_info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctg_prod_wrap span {
  display: block;
  line-height: 19px;
}

.ctg_prod_wrap .prod_ea {
  color: #767676;
}

.ctg_prod_wrap .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.ctg_prod_wrap .sort_nm {
  font-weight: 500;
  padding-right: 14px;
  background: url(../images/guide/arrow_down.svg) no-repeat right 0px top 50%/10px;
}

.ctg_prod_wrap .ctg_list_icon {
  margin-left: 15px;
  width: 14px;
  height: 19px;
  background: url(../images/guide/ico_ctg_list_type1.svg) no-repeat center center/14px;
}

.ctg_prod_wrap .ctg_list_icon.row_list {
  background: url(../images/guide/ico_ctg_list_type2.svg) no-repeat center center/14px;
}

.replace_prod_swap {
  position: relative;
  display: none;
  background-color: #F2E3CB;
  width: 100vw;
  padding: 32px 0 32px 20px;
  margin: 36px -20px 0 -20px;
}

.replace_prod_swap:before {
  content: "";
  position: absolute;
  border-top: 12px solid #F2E3CB;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: -1;
  left: 20px;
  top: -23px;
}

.replace_prod_swap .swiper {
  padding-right: 20px;
}

.replace_prod_swap .close_swap {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/guide/btn_dialog_close.svg);
  background-size: 24px 24px;
  top: 35px;
  right: 20px;
}

.replace_prod_swap .tit {
  position: relative;
  width: calc(100% - 45px);
  color: #000;
}

.replace_prod_swap .tit .txt {
  float: left;
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.replace_prod_swap .tit .replace_icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  background: url(../images/guide/replace_swipe_icon.svg) no-repeat center center/29px;
}

.replace_prod_swap .sub_title {
  line-height: 20px;
  letter-spacing: -0.014em;
  color: #767676;
  clear: both;
}

.replace_prod_swap .prod-wrapper .prod_item {
  width: 140px;
  height: unset;
  margin-top: 0;
}

.replace_prod_swap .product_pic:before {
  display: none;
}

.show_bubble {
  display: block;
}

.evt_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.evt_products .prod_item {
  width: calc((100% - 20px)/2);
  cursor: pointer;
  margin-top: 24px;
}

.evt_products .prod_item:nth-of-type(2) {
  margin-top: 0;
}

.evt_products .product_pic {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.evt_products .product_info {
  width: 100%;
}

.evt_products .sold_out .product_pic:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.evt_products .show_replace {
  display: none;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  z-index: 2;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.evt_products .show_replace div {
  line-height: 19px;
  letter-spacing: -0.013em;
}

.evt_products .replace_prod_btn {
  margin: 0 auto;
  margin-top: 11px;
  height: 24px;
  padding: 0 6px;
  background-color: #fff;
  border-radius: 4px;
  line-height: 24px;
  color: #000;
  font-size: 12px;
  display: none;
}

.evt_products .sold_out .show_replace {
  display: block;
}

.evt_products .prod_item:nth-of-type(2n) .replace_prod_swap {
  margin-right: 0;
  margin-left: calc(-100vw + 100% + 20px);
}

.evt_products .prod_item:nth-of-type(2n) .replace_prod_swap:before {
  content: "";
  position: absolute;
  left: calc(100% - 40px);
}

.evt_products .prod_item:nth-of-type(2n+1) .replace_prod_swap {
  margin-right: 0;
}

.evt_products.row_dir {
  display: block;
  padding-top: 20px;
}

.evt_products.row_dir .prod_item {
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.evt_products.row_dir .prod_item span {
  display: block;
}

.evt_products.row_dir .prod_item:first-of-type {
  margin-top: 0;
}

.evt_products.row_dir .prod_item .company {
  display: block;
}

.evt_products.row_dir .product_pic {
  position: relative;
  width: calc((100% - 20px )/2);
  height: 0;
  padding-top: calc((100% - 20px )/2);
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.evt_products.row_dir .product_pic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.evt_products.row_dir .product_info {
  width: calc((100% - 20px )/2);
  padding-left: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.evt_products.row_dir .replace_prod_swap:before {
  content: "";
  position: absolute;
  left: 40px !important;
}

.evt_products.row_dir .replace_prod_swap .mySwiper .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.evt_products.row_dir .replace_prod_swap .prod_item {
  width: 140px;
  margin-top: 0;
}

.evt_products.row_dir .replace_prod_swap .product_pic {
  width: 100%;
  height: 0;
  padding-top: 140px;
}

.replace_prod .replace_prod_btn {
  display: block;
}

.solo_banner {
  margin: 30px 0;
}

.solo_banner img {
  width: 100%;
}

.btn_more_div {
  margin-top: 26px;
}

.btn_more_div .more_btn {
  width: 71px;
  height: 24px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.btn_more_div .more_btn.hidden {
  display: none;
}

.btn_more_div .txt {
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.15px;
  color: #767676;
}

.btn_more_div .btn_more_icon {
  width: 24px;
  height: 24px;
  background: url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
  background-size: 24px auto;
}

/*=============================== HTR-M-MUS-LIST-001-1.html =================================*/
.wrap .tit_area {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 12px;
}

.wrap .tit_area .tit {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: left;
  white-space: nowrap;
}

.wrap .tit_area .sub_tit {
  margin-left: auto;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}

.wrap .tit_area .sub_tit .sub {
  float: left;
  display: block;
  margin-right: 10px;
  line-height: 32px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.wrap .tit_area .sub_tit .sub:last-of-type {
  margin-right: 0;
}

.wrap .tit_area .sub_tit .sub.active {
  color: #000;
}

.ctg_topMenu {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #F7F7F7;
}

.ctg_topMenu .inner_wrap {
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 20px;
}

.ctg_topMenu a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  position: relative;
  letter-spacing: -0.15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  margin-left: 16px;
  font-size: 16px;
}

.ctg_topMenu a:first-of-type {
  margin-left: 0px;
}

.ctg_topMenu a.active {
  color: #000;
}

.list_time_info {
  padding: 0 20px;
  margin-top: 20px;
}

.list_time_info .time_info_tit {
  margin-bottom: 5px;
  font-size: 16px;
}

.list_time_info .time_info_tit .date {
  position: relative;
  line-height: 25px;
  margin-right: 5px;
}

.list_time_info .time_info_tit .date:before {
  content: ",";
  position: absolute;
  bottom: -3px;
  right: -3px;
  z-index: 3;
}

.list_time_info .time_info_tit .sub {
  line-height: 25px;
}

.list_time_info .time_info_tit .btn_info {
  width: 25px;
  height: 25px;
  background: url(../images/guide/arw_tooltip.png) no-repeat center center/20px;
}

.list_time_info .time_info_sub {
  line-height: 20px;
  word-break: keep-all;
  font-size: 13px;
  color: #767676;
}

ul.prod-wrapper.column_dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 0;
}

ul.prod-wrapper.column_dir .prod_item {
  width: calc((100% - 20px)/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  margin-top: 20px;
}

ul.prod-wrapper.column_dir .prod_item:nth-of-type(1), ul.prod-wrapper.column_dir .prod_item:nth-of-type(2) {
  margin-top: 0;
}

ul.prod-wrapper.column_dir .prod_item:last-of-type {
  margin-right: 0;
}

ul.prod-wrapper.column_dir .product_pic {
  width: 100%;
  padding-top: 100%;
}

ul.prod-wrapper.row_dir {
  margin-top: 20px;
  padding: 20px 20px 0 20px;
}

ul.prod-wrapper.row_dir .prod_item {
  position: relative;
  margin: 0;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

ul.prod-wrapper.row_dir .prod_item span {
  display: block;
}

ul.prod-wrapper.row_dir .prod_item:first-of-type {
  margin-top: 0;
}

ul.prod-wrapper.row_dir .product_pic {
  position: relative;
  width: 158px;
  height: 0;
  padding-top: 158px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 0;
}

ul.prod-wrapper.row_dir .product_pic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

ul.prod-wrapper.row_dir .product_info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 19px;
}

ul.prod-wrapper.row_dir .title {
  margin-bottom: 8px;
}

.list_section .rangking {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 52px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: -20px;
  left: -10px;
  z-index: 30;
  color: #000;
  font-weight: 700;
  background: url(../images/guide/lank_noraml.svg) no-repeat center center/50px;
}

.list_section .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .rangking .rank_icon {
  width: 10px;
  height: 15px;
  margin-left: 2px;
  margin-top: -1px;
}

.list_section .rangking .rank {
  display: block;
}

.list_section .rangking.down .rank_icon {
  background: url(../images/guide/lank_noraml_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .rangking.up .rank_icon {
  background: url(../images/guide/lank_noraml_up.svg) no-repeat center center/9px;
  margin-top: -2px;
}

.list_section .rangking.same .rank_icon {
  position: relative;
}

.list_section .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #000;
  top: 50%;
  left: 0;
  margin-top: -2px;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking .rank {
  display: block;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(1) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking .rank {
  display: block;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(2) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking .rank {
  display: block;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(3) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking .rank {
  display: block;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(4) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking {
  color: #fff;
  background: url(../images/guide/lank_hot.svg) no-repeat center center/50px;
  border: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking.none_icon .rank_icon {
  display: none;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking .rank {
  display: block;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking .rank_icon {
  display: block;
  width: 10px;
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking.down .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking.up .rank_icon {
  background: url(../images/guide/lank_hot_up.svg) no-repeat center center/9px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.list_section .list_block:first-of-type .prod_item:nth-of-type(5) .rangking.same .rank_icon:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  right: 14px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: 20;
}

/*===================================== 음반 리스트 팝업 =================================*/
.dialog_header {
  border-bottom: 1px solid #fff !important;
}

.dialog_header .dialog_title_sub {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dialog_header .dialog_title_sub .icon_mus {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: url(../images/guide/mus_pop_sub_tit_icon.svg) no-repeat left center/13px;
}

.dialog_header .dialog_title_sub .year,
.dialog_header .dialog_title_sub .month,
.dialog_header .dialog_title_sub .week,
.dialog_header .dialog_title_sub .day {
  margin-right: 3px;
}

.dialog_header .dialog_title_sub .rate {
  position: relative;
  margin-left: 5px;
}

.dialog_header .dialog_title_sub .rate:before {
  content: ",";
  position: absolute;
  left: -3px;
  bottom: -3px;
  z-index: 3;
}

#ClickCksClose_year .vertical_swap_contents,
#ClickCksClose_month .vertical_swap_contents,
#ClickCksClose_week .vertical_swap_contents,
#ClickCksClose_day .vertical_swap_contents {
  background-color: #F7F7F7;
  height: 300px;
  margin: 0;
  padding: 0 20px;
  position: relative;
}

#ClickCksClose_year .vertical_swap_contents:before,
#ClickCksClose_month .vertical_swap_contents:before,
#ClickCksClose_week .vertical_swap_contents:before,
#ClickCksClose_day .vertical_swap_contents:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 100px;
  width: calc(100% - 40px);
  height: 50px;
  background-color: #fff;
}

#ClickCksClose_year .vertical_swap_contents .swiper-wrapper.ck_list,
#ClickCksClose_month .vertical_swap_contents .swiper-wrapper.ck_list,
#ClickCksClose_week .vertical_swap_contents .swiper-wrapper.ck_list,
#ClickCksClose_day .vertical_swap_contents .swiper-wrapper.ck_list {
  height: 250px;
}

#ClickCksClose_year .vertical_swap_contents .swiper-slide,
#ClickCksClose_month .vertical_swap_contents .swiper-slide,
#ClickCksClose_week .vertical_swap_contents .swiper-slide,
#ClickCksClose_day .vertical_swap_contents .swiper-slide {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}

#ClickCksClose_year .vertical_swap_contents .swiper-slide.swiper-slide-active,
#ClickCksClose_month .vertical_swap_contents .swiper-slide.swiper-slide-active,
#ClickCksClose_week .vertical_swap_contents .swiper-slide.swiper-slide-active,
#ClickCksClose_day .vertical_swap_contents .swiper-slide.swiper-slide-active {
  font-weight: 700;
  font-size: 20px;
}

#ClickCksClose_year .vertical_swap_contents .swiper-slide.swiper-slide-prev, #ClickCksClose_year .vertical_swap_contents .swiper-slide.swiper-slide-next,
#ClickCksClose_month .vertical_swap_contents .swiper-slide.swiper-slide-prev,
#ClickCksClose_month .vertical_swap_contents .swiper-slide.swiper-slide-next,
#ClickCksClose_week .vertical_swap_contents .swiper-slide.swiper-slide-prev,
#ClickCksClose_week .vertical_swap_contents .swiper-slide.swiper-slide-next,
#ClickCksClose_day .vertical_swap_contents .swiper-slide.swiper-slide-prev,
#ClickCksClose_day .vertical_swap_contents .swiper-slide.swiper-slide-next {
  font-size: 18px;
}

#ClickCksClose_year .vertical_swap_contents .type_month,
#ClickCksClose_month .vertical_swap_contents .type_month,
#ClickCksClose_week .vertical_swap_contents .type_month,
#ClickCksClose_day .vertical_swap_contents .type_month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#ClickCksClose_year .vertical_swap_contents .type_month .chart_date_swap:first-of-type,
#ClickCksClose_month .vertical_swap_contents .type_month .chart_date_swap:first-of-type,
#ClickCksClose_week .vertical_swap_contents .type_month .chart_date_swap:first-of-type,
#ClickCksClose_day .vertical_swap_contents .type_month .chart_date_swap:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 10px;
}

#ClickCksClose_year .vertical_swap_contents .type_month .chart_date_swap:first-of-type .swiper-slide,
#ClickCksClose_month .vertical_swap_contents .type_month .chart_date_swap:first-of-type .swiper-slide,
#ClickCksClose_week .vertical_swap_contents .type_month .chart_date_swap:first-of-type .swiper-slide,
#ClickCksClose_day .vertical_swap_contents .type_month .chart_date_swap:first-of-type .swiper-slide {
  text-align: right;
}

#ClickCksClose_year .vertical_swap_contents .type_month .chart_date_swap:last-of-type,
#ClickCksClose_month .vertical_swap_contents .type_month .chart_date_swap:last-of-type,
#ClickCksClose_week .vertical_swap_contents .type_month .chart_date_swap:last-of-type,
#ClickCksClose_day .vertical_swap_contents .type_month .chart_date_swap:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 10px;
}

#ClickCksClose_year .vertical_swap_contents .type_month .chart_date_swap:last-of-type .swiper-slide,
#ClickCksClose_month .vertical_swap_contents .type_month .chart_date_swap:last-of-type .swiper-slide,
#ClickCksClose_week .vertical_swap_contents .type_month .chart_date_swap:last-of-type .swiper-slide,
#ClickCksClose_day .vertical_swap_contents .type_month .chart_date_swap:last-of-type .swiper-slide {
  text-align: left;
}

#ClickCksClose_year .vertical_swap_contents .type_week,
#ClickCksClose_month .vertical_swap_contents .type_week,
#ClickCksClose_week .vertical_swap_contents .type_week,
#ClickCksClose_day .vertical_swap_contents .type_week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:first-of-type,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:first-of-type,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:first-of-type,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:first-of-type {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 auto;
          flex: 4 1 auto;
  padding-right: 10px;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide {
  text-align: right;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-active,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-active,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-active,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-active {
  padding-right: 5px;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-prev,
#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-next,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-prev,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-next,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-prev,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-next,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-prev,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:first-of-type .swiper-slide-next {
  padding-right: 2px;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:nth-of-type(2),
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:nth-of-type(2),
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:nth-of-type(2),
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:nth-of-type(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:last-of-type,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:last-of-type,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:last-of-type,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:last-of-type {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 auto;
          flex: 4 1 auto;
  padding-left: 10px;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide {
  text-align: left;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-active,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-active,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-active,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-active {
  padding-left: 5px;
}

#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-prev,
#ClickCksClose_year .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-next,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-prev,
#ClickCksClose_month .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-next,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-prev,
#ClickCksClose_week .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-next,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-prev,
#ClickCksClose_day .vertical_swap_contents .type_week .chart_date_swap:last-of-type .swiper-slide-next {
  padding-left: 2px;
}

#ClickCksClose_year .vertical_swap_contents .dialog_footer.ctg_cks,
#ClickCksClose_month .vertical_swap_contents .dialog_footer.ctg_cks,
#ClickCksClose_week .vertical_swap_contents .dialog_footer.ctg_cks,
#ClickCksClose_day .vertical_swap_contents .dialog_footer.ctg_cks {
  margin-top: 0;
  padding: 0;
  background-color: #F7F7F7;
}

#ClickCksClose_year .vertical_swap_contents .dialog_footer.ctg_cks .btn_black,
#ClickCksClose_month .vertical_swap_contents .dialog_footer.ctg_cks .btn_black,
#ClickCksClose_week .vertical_swap_contents .dialog_footer.ctg_cks .btn_black,
#ClickCksClose_day .vertical_swap_contents .dialog_footer.ctg_cks .btn_black {
  background-color: #000;
}
