@charset "UTF-8";
/* 추가수정 : 22.02.15 김장현 */
/* Hottracks : Tempate */
body {
  background: #f7f7f7;
}

body.ht_view {
  background: #fff;
}

.ht_ {
  max-width: 750px;
  margin: 0 auto;
}

/* title_header */
.title_header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 120;
}

.title_header .pop_like_header {
  padding: 17px 0;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}

.title_header .pop_like_header .title {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  max-height: none;
  -webkit-box-orient: inherit;
  -webkit-line-clamp: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title_header .btn_tit_close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 3px;
}

.title_header .btn_tit_close .ico_dialog_close {
  position: relative;
  z-index: 3;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/guide/btn_dialog_close.svg");
  background-size: 24px 24px;
}

/* Font : Gmarket Sans */
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"), url("../font/GmarketSansBold.woff2") format("woff2"), url("../font/GmarketSansBold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"), url("../font/GmarketSansMedium.woff2") format("woff2"), url("../font/GmarketSansMedium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Gmarket Sans Light"), local("GmarketSans-Light"), url("../font/GmarketSansLight.woff2") format("woff2"), url("../font/GmarketSansLight.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* main_menu 임시 */
.wel_mc {
  border: 0 !important;
  font-size: 15px;
  font-weight: 700;
}

.wel_mc .menu_list_item {
  padding: 0 15px 0 10px !important;
}

.wel_mc .menu_list_item:first-child {
  padding-left: 20px !important;
}

.wel_mc .menu_list_item img {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -2px 5px 0 0;
  vertical-align: middle;
}

.wel_mc.mc_chk {
  border-bottom: 1px solid #d5d5d5 !important;
}

/* wel_main_wrap */
.wel_main_wrap {
  position: relative;
  background: #fff;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
  margin-bottom: -80px;
}

.mc_cont {
  position: relative;
  padding: 40px 20px 50px 20px;
}

.mc_cont .scroll_tab {
  width: calc(100% + 20px);
  margin-right: -20px;
}

.mc_tit {
  color: #000;
  font-family: 'Gmarket Sans';
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -1.2px;
}

.mc_tit img {
  vertical-align: top;
}

.mc_tit.center {
  text-align: center;
}

.mc_tit02 {
  margin-bottom: 15px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
}

.mc_tit02 img {
  vertical-align: top;
}

.mc_tit02.center {
  text-align: center;
}

.mc_tit03 {
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.mc_tit03 img {
  vertical-align: top;
}

.mc_tit03.center {
  text-align: center;
}

.mc_tit04 {
  margin-bottom: 6px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.mc_tit04 img {
  vertical-align: top;
}

.mc_tit04.center {
  text-align: center;
}

.mc_txt {
  margin-top: 5px;
  color: #767676;
  font-size: 14px;
  line-height: 22px;
}

.mc_txt.center {
  text-align: center;
}

.mc_txt.ty02 {
  margin: -5px 0 15px 0;
  opacity: 1;
  -webkit-animation: none !important;
          animation: none !important;
}

.mc_dep {
  padding-top: 48px;
}

.mc_dep:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 8px;
  background: #f7f7f7;
  content: "";
}

/* Tab */
.tab_swiper {
  overflow: hidden;
}

.tab_swiper .swiper-slide {
  width: auto;
}

.tab_ty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 40px);
  margin: 0 -20px 20px -20px;
  padding: 0 20px;
  overflow-x: auto;
}

.tab_ty a {
  display: block;
  position: relative;
  height: 45px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 22px;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 45px;
  white-space: nowrap;
}

.tab_ty a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 22px;
  content: "";
}

.tab_ty a:first-child {
  margin-left: 0;
}

.tab_ty a.on {
  background: #000;
  color: #fff;
  font-size: 13px;
}

.tab_ty a.on:before {
  border-color: #000;
}

.tab_ty a img {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -0 5px 0 -14px;
  overflow: hidden;
}

.tab_ty.ty a {
  padding: 0 20px;
}

.tab_ty.ty02 a:before {
  border-color: #ddd;
}

.tab_ty.ty02 a img {
  width: 20px;
  height: 20px;
  margin: -4px 5px 0 -4px;
}

.tab_ty.ty02 a.on:before {
  border-color: #000;
}

.tab_ty.ty03 a {
  padding: 0 20px;
}

.tab_ty.ty03 a:before {
  border-color: #ddd;
}

.tab_ty.ty03 a.on:before {
  border-color: #000;
}

.tab_ty02 {
  margin-top: -10px;
}

.tab_ty02 li {
  display: inline-block;
  margin: 10px 4px 0 0;
}

.tab_ty02 li:last-child {
  margin-right: 0;
}

.tab_ty02 a {
  display: block;
  position: relative;
  height: 32px;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  color: #595959;
  font-size: 12px;
  font-weight: 400;
  line-height: 33px;
  white-space: nowrap;
}

.tab_ty02 a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 22px;
  content: "";
}

.tab_ty02 a.on {
  background: #000;
  color: #fff;
  font-size: 13px;
}

.tab_ty02 a.on:before {
  border-color: #000;
}

.tab_cont {
  display: none;
}

.tab_cont.on {
  display: block;
  -webkit-animation: fade both 0.4s;
          animation: fade both 0.4s;
}

/* Btn */
.btn_more_view {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.btn_more_view span {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  color: #767676;
  font-size: 15px;
  line-height: 24px;
}

.btn_more_view span:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url("../images/main/ico_more_view.svg") center/100% no-repeat;
  content: "";
}

.btn_more_view_box {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.btn_more_view_box strong {
  display: inline-block;
  position: relative;
  height: 44px;
  padding: 0 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 44px;
}

.btn_more_view_box em {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  padding-right: 15px;
}

.btn_more_view_box em:after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -7px;
  background: url("../images/main/ico_btn_refresh.svg") center/100% no-repeat;
  content: "";
}

.btn_more_view_box.ty02 em {
  padding-right: 6px;
}

.btn_more_view_box.ty02 em:after {
  width: 7px;
  height: 7px;
  margin-top: -9px;
  background: none;
  border: solid #000;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

.btn_more_view_box.ty03 em {
  position: relative;
  width: 11px;
  height: 11px;
}

.btn_more_view_box.ty03 em:before {
  position: absolute;
  right: 5px;
  top: 0;
  width: 2px;
  height: 12px;
  margin-top: 0;
  background: #000;
  content: "";
}

.btn_more_view_box.ty03 em:after {
  position: absolute;
  right: 0;
  top: 5px;
  width: 12px;
  height: 2px;
  margin-top: 0;
  background: #000;
  content: "";
}

/* Point Line : 형광팬 */
.point_line {
  position: relative;
}

.point_line:before {
  position: absolute;
  left: -2px;
  top: 15px;
  width: calc(100% + 4px);
  height: 14px;
  background: #bff06f;
  content: "";
  z-index: 0;
  -webkit-animation: pointLine both ease-in infinite 3s;
          animation: pointLine both ease-in infinite 3s;
}

.point_line em {
  position: relative;
}

.point_line.ty02:before {
  background: #a5e2ff;
}

.point_line.ty03:before {
  background: #dbc4ff;
}

.point_line.ty04:before {
  background: #f5c9ef;
}

.point_line.ty05:before {
  background: #ffff58;
}

@-webkit-keyframes pointLine {
  0% {
    width: 0;
  }
  12% {
    width: calc(100% + 4px);
  }
  100% {
    width: calc(100% + 4px);
  }
}

@keyframes pointLine {
  0% {
    width: 0;
  }
  12% {
    width: calc(100% + 4px);
  }
  100% {
    width: calc(100% + 4px);
  }
}

@-webkit-keyframes pointLine2 {
  0% {
    width: 0;
  }
  7% {
    width: calc(100% + 4px);
  }
  100% {
    width: calc(100% + 4px);
  }
}

@keyframes pointLine2 {
  0% {
    width: 0;
  }
  7% {
    width: calc(100% + 4px);
  }
  100% {
    width: calc(100% + 4px);
  }
}

/* Animation */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes txtTop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes txtTop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes mc_cate_tit {
  0% {
    -webkit-transform: scale(1) rotate(-20deg);
            transform: scale(1) rotate(-20deg);
  }
  50% {
    -webkit-transform: scale(0.85) rotate(10deg);
            transform: scale(0.85) rotate(10deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-20deg);
            transform: scale(1) rotate(-20deg);
  }
}

@keyframes mc_cate_tit {
  0% {
    -webkit-transform: scale(1) rotate(-20deg);
            transform: scale(1) rotate(-20deg);
  }
  50% {
    -webkit-transform: scale(0.85) rotate(10deg);
            transform: scale(0.85) rotate(10deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-20deg);
            transform: scale(1) rotate(-20deg);
  }
}

/* 상품 리스트 : prod_list */
.prod_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px -10px 0 -10px;
}

.prod_list .li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: calc(50% - 20px);
  margin: 20px 10px 0 10px;
}

.prod_list a {
  display: block;
}

.prod_list .img {
  position: relative;
  height: 0;
  margin-bottom: 15px;
  padding-top: 100%;
  background: #f7f7f7;
  border-radius: 8px;
  overflow: hidden;
}

.prod_list .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prod_list .txt .s0 {
  margin-bottom: 4px;
  color: #767676;
  font-size: 12px;
  line-height: 18px;
}

.prod_list .txt .s1 {
  display: -webkit-box;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prod_list .txt .s2 {
  margin-top: 7px;
  font-size: 0;
  font-weight: 700;
  line-height: 18px;
}

.prod_list .txt .s2 strong {
  padding-right: 4px;
  color: #da2128;
  font-size: 16px;
}

.prod_list .txt .s2 span {
  padding-right: 4px;
  font-size: 16px;
}

.prod_list .txt .s2 em {
  display: inline-block;
  color: #767676;
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
}

.prod_list.ty02 {
  margin-top: -24px;
}

.prod_list.ty02 .li {
  width: calc(100% - 20px);
  margin-top: 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.prod_list.ty02 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.prod_list.ty02 .img {
  width: calc(50% - 10px);
  margin: 0 20px 0 0;
  padding-top: calc(50% - 10px);
}

.prod_list.ty02 .txt {
  width: calc(50% - 10px);
}

.ico_marker_area {
  margin-top: 10px;
}

.ico_marker_area .ico_marker {
  display: inline-block;
  height: 20px;
  padding: 0 7px;
  background: #f7f7f7;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #292929;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
}

.ico_marker_area .ico_marker.on {
  background: #fff4f1;
  color: #da2128;
}

.prod_like_count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 24px;
  padding: 0 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: #fff;
  font-size: 10px;
  line-height: 25px;
  cursor: pointer;
}

.prod_like_count span {
  display: inline-block;
  position: relative;
  height: 24px;
  padding-left: 16px;
}

.prod_like_count span:before {
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 14px;
  background: url("../images/guide/ico_prod_like_icon.svg") center/100% no-repeat;
  content: "";
}

.prod_like_count.active span:before {
  background-image: url("../images/guide/ico_prod_like_icon_active.svg");
}

.prod_soldout_msg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
}

.prod_soldout_msg_txt {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.prod_soldout_msg span {
  display: inline-block;
  height: 22px;
  margin: 11px auto 0 auto;
  padding: 0 6px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: 12px;
  line-height: 22px;
}

.mc_end_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

/* 이사 예정 임시 */
.dialog_wrapper .ui-dialog.dialog_full {
  width: 100% !important;
  max-width: 750px;
  min-width: inherit;
}

.dialog_wrapper .ui-dialog .dialog_wrap {
  border-radius: 4px;
}

.evt_pop_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70px;
  color: #595959;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.pop_info_msg {
  padding: 0 10px;
}

.pop_info_msg p {
  position: relative;
  text-align: center;
}

.pop_info_msg p.s1 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

.pop_info_msg p.s2 {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.pop_info_msg .ico {
  height: 56px;
  margin-bottom: 10px;
}

.pop_info_msg .s1 + .s2 {
  margin-top: 8px;
}

.pop_phone_info_msg {
  margin-bottom: 21px;
}

.pop_phone_info_msg p {
  position: relative;
  padding-top: 58px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.pop_phone_info_msg p:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 56px;
  height: 48px;
  margin-left: -28px;
  background: url("../images/ico/ico_pop_phone_info_msg.svg") center/100% no-repeat;
  content: "";
}

.pop_box_info {
  position: relative;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pop_box_info .tit {
  margin-bottom: 5px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.pop_info {
  margin-top: 13px;
  letter-spacing: -0.4px;
}

.pop_info li {
  position: relative;
  margin-top: 4px;
  padding-left: 8px;
  color: #767676;
  font-size: 13px;
  line-height: 19px;
}

.pop_info li:before {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 11px;
  content: "*";
}

.pop_info li:first-child {
  margin-top: 0;
}

.list_evt_area {
  padding-top: 20px;
}

.list_evt_area .evt_item {
  margin-top: 24px;
  padding: 0 20px;
}

.list_evt_area .evt_item:first-of-type {
  margin: 0;
}

.list_evt_area .thumnail_evt {
  position: relative;
  padding-top: 57.2%;
  height: 0;
  margin-bottom: 12px;
  cursor: pointer;
}

.list_evt_area .thumnail_evt img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.list_evt_area .promotion_status_txt {
  display: none;
}

.list_evt_area .promotion_end {
  position: relative;
  height: auto;
  overflow: hidden;
}

.list_evt_area .promotion_end:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(15, 14, 14, 0.6);
  z-index: 10;
  border-radius: 4px;
  cursor: default;
}

.list_evt_area .promotion_end .txt {
  width: 100%;
  height: 19px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.list_evt_area .promotion_end .promotion_status_txt {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  color: #fff;
  line-height: 19px;
  font-size: 13px;
  z-index: 11;
}

.list_evt_area img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
}

.list_evt_area .txt_account .txt_heading,
.list_evt_area .txt_account .txt_sub {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list_evt_area .txt_account .txt_heading {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: -0.16px;
  margin-bottom: 2px;
}

.list_evt_area .txt_account .txt_heading .discount {
  color: #DA2128;
  margin-right: 5px;
}

.list_evt_area .txt_account .txt_sub {
  margin-bottom: 6px;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: -0.13px;
}

.list_evt_area .txt_account .txt_period {
  line-height: 19px;
  font-size: 13px;
  letter-spacing: -0.13px;
  color: #595959;
}

.evt_slider {
  padding-top: 20px;
  padding-right: 20px;
  overflow: visible !important;
}

.evt_slider .evt_item {
  width: 244px;
  position: relative;
}

.evt_slider .evt_item span {
  display: block;
}

.evt_slider .evt_item .discount_icon {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 48px;
  left: -9px;
  top: -23px;
  z-index: 10;
  font-size: 12px;
  background: url(../images/guide/lank_hot.svg) no-repeat center bottom/48px;
}

.evt_slider .evt_item .img_wrap {
  position: relative;
  height: 0;
  padding-top: 57.3%;
  margin-bottom: 12px;
  overflow: hidden;
}

.evt_slider .evt_item .img_wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.evt_slider .evt_item.more_items {
  width: 100px;
  height: 192px;
}

.evt_slider .evt_item.more_items a {
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 30px;
  background: url(../images/guide/btn_add_banner.svg) no-repeat center top 30%/30px;
  background-color: #F7F7F7;
  border-radius: 12px;
  font-size: 12px;
  color: #767676;
}

.evt_slider .discount {
  float: left;
  line-height: 25px;
  color: #DA2128;
  font-weight: 500;
  font-size: 16px;
  margin-right: 5px;
}

.evt_slider .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.16px;
}

.evt_slider .sub {
  margin-top: 5px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.13px;
}

.evt_slider .date {
  margin-top: 6px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.13px;
  color: #595959;
}

.evt_slider.nonswipe {
  display: block;
  padding-right: 0px !important;
}

.evt_slider.nonswipe .evt_item {
  width: 100%;
  margin: 25px 0 0 0;
}

.evt_slider.nonswipe .evt_item .img_wrap {
  position: relative;
  padding-top: 57.2%;
  height: 0;
}

.evt_slider.nonswipe .evt_item .img_wrap img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.evt_slider.nonswipe .evt_item .item_info .title {
  font-size: 16px;
}

.prod-wrapper,
.evt_products {
  padding-top: 20px;
}

.prod-wrapper .prod_item,
.evt_products .prod_item {
  cursor: pointer;
}

.prod-wrapper .prod_item:first-of-type,
.evt_products .prod_item:first-of-type {
  margin: 0;
}

.prod-wrapper .prod_item span,
.evt_products .prod_item span {
  display: block;
}

.prod-wrapper .product_pic,
.evt_products .product_pic {
  position: relative;
  height: 0;
  margin-bottom: 12px;
  overflow: hidden;
}

.prod-wrapper .product_pic img,
.evt_products .product_pic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.prod-wrapper .product_pic .evt_good_count,
.evt_products .product_pic .evt_good_count {
  display: block;
  padding: 5px 12px;
  height: 24px;
  position: absolute;
  border-radius: 35px;
  color: #fff;
  font-size: 10px;
  right: 8px;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.prod-wrapper .product_pic .evt_good_count .icon,
.evt_products .product_pic .evt_good_count .icon {
  float: left;
  width: 12px;
  height: 14px;
  margin-top: -1px;
  background: url(../images/guide/ico_prod_like_icon.svg) no-repeat center center/12px;
}

.prod-wrapper .product_pic .evt_good_count .txt,
.evt_products .product_pic .evt_good_count .txt {
  float: left;
  margin-left: 3px;
  line-height: 14px;
}

.prod-wrapper .evt_good_count.active .icon,
.evt_products .evt_good_count.active .icon {
  float: left;
  width: 12px;
  height: 14px;
  background: url(../images/guide/ico_prod_like_icon_active.svg) no-repeat center center/12px;
}

.prod-wrapper .company,
.evt_products .company {
  margin-bottom: 2px;
  font-size: 12px;
  color: #767676;
}

.prod-wrapper .title,
.evt_products .title {
  letter-spacing: -0.13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 25px;
  height: 50px;
}

.prod-wrapper .price_line,
.evt_products .price_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.prod-wrapper .final_price,
.evt_products .final_price {
  margin: 0 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.prod-wrapper .discount_rate,
.evt_products .discount_rate {
  font-weight: 500;
  color: #DA2128;
  font-size: 16px;
  line-height: 22px;
}

.prod-wrapper .price_origin,
.evt_products .price_origin {
  text-decoration: line-through;
  color: #767676;
  font-size: 12px;
  line-height: 22px;
  margin-top: 1px;
}

.prod-wrapper .price_origin.no_discount,
.evt_products .price_origin.no_discount {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-left: 5px;
  font-size: 16px;
}

.prod-wrapper .badge_line,
.evt_products .badge_line {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.prod-wrapper .badge_line .badge,
.evt_products .badge_line .badge {
  margin-top: 4px;
  margin-right: 4px;
}

.nonswipe {
  padding-right: 0px !important;
}

.nonswipe .evt_item {
  width: 100%;
  margin-top: 22px;
}

.nonswipe .evt_item:first-of-type {
  margin: 0;
}

.nonswipe .evt_item div.img_wrap {
  position: relative;
  padding-top: 57.2%;
  height: 0;
}

.nonswipe .evt_item img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.nonswipe .discount_rate,
.nonswipe .final_price {
  font-size: 16px;
  line-height: 22px;
}

.nonswipe .price_origin {
  font-size: 12px;
  line-height: 22px;
}

.nonswipe .price_line .price_origin.no_discount {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

/* 1:1 비율 335*335*/
.type_lg .prod_item {
  width: 335px;
}

.type_lg .product_pic {
  padding-top: 335px;
}

.type_lg .company {
  font-size: 14px;
}

.type_lg .title {
  margin-bottom: 4px;
  line-height: 26px;
  font-size: 16px;
  height: auto;
}

.type_lg .discount_rate,
.type_lg .final_price,
.type_lg .price_origin {
  line-height: 24px;
}

.type_lg .discount_rate,
.type_lg .final_price {
  font-size: 18px;
}

.type_lg .price_origin.no_discount {
  font-size: 18px;
}

/* 1:1 비율 158*158*/
.type_md .prod_item {
  width: 158px;
}

.type_md .product_pic {
  padding-top: 158px;
}

.type_md .title {
  margin-bottom: 8px;
  font-size: 13px;
}

.type_md .discount_rate,
.type_md .final_price {
  font-size: 16px;
  line-height: 22px;
}

.type_md .price_origin {
  font-size: 12px;
  line-height: 22px;
}

.type_md .price_origin.no_discount {
  font-size: 16px;
}

/* 1:1 비율 140*140*/
.type_sm .prod_item {
  width: 140px;
}

.type_sm .product_pic {
  padding-top: 140px;
}

.type_sm .title {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.13px;
  height: auto;
}

.type_sm .discount_rate,
.type_sm .final_price,
.type_sm .price_origin {
  line-height: 18px;
}

.type_sm .price_origin {
  font-size: 10px;
}

.type_sm .price_origin.no_discount {
  font-size: 14px;
}

/* 1:1 비율 100*100*/
.type_xs .prod_item {
  width: 99px;
  margin-right: 0;
}

.type_xs .product_pic {
  padding-top: 99px;
}

.type_xs .product_pic .evt_good_count {
  right: 4px;
  bottom: 4px;
}

.type_xs .company {
  margin-bottom: 0px;
}

.type_xs .title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 17px;
  height: auto;
}

.type_xs .discount_rate,
.type_xs .final_price,
.type_xs .price_origin {
  line-height: 15px;
}

.type_xs .discount_rate,
.type_xs .final_price {
  font-size: 12px;
}

.type_xs .price_origin {
  font-size: 10px;
}

.type_xs .badge_line {
  margin-top: 6px;
}

.type_xs .badge_line .badge {
  margin-top: 2px;
  margin-right: 1px;
  height: 17px;
  line-height: 17px;
  font-weight: normal;
  font-size: 8px;
  padding: 0 2px;
}

.type_xs .price_origin.no_discount {
  font-size: 12px;
}

/* 1:1 비율 74*74*/
.type_xxs .prod_item {
  width: 74px;
}

.type_xxs .product_pic {
  padding-top: 74px;
  margin-bottom: 2px;
}

.type_xxs .product_pic .evt_good_count {
  right: 4px;
  bottom: 4px;
}

.type_xxs .title {
  font-size: 12px;
  margin-bottom: 4px;
  height: auto;
}

.type_xxs .badge_line {
  margin-top: 6px;
}

.type_xxs .badge_line .badge {
  margin-top: 2px;
  height: 17px;
  line-height: 17px;
  font-weight: normal;
  font-size: 8px;
  padding: 0 4px;
}

.type_xxs .price_line {
  font-size: 10px;
}

.nonswipe {
  padding-right: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.nonswipe .prod_item {
  width: calc((100% - 20px)/2);
  margin: 0;
}

.nonswipe .prod_item:last-of-type {
  margin-right: 0px;
}

.nonswipe .product_pic {
  padding-top: 100%;
  position: relative;
  margin-bottom: 12px;
}

.nonswipe .product_pic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nonswipe .company {
  margin-bottom: 2px;
  font-size: 12px;
  color: #767676;
}

.nonswipe .title {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.13px;
  letter-spacing: -0.13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  height: auto;
}

.nonswipe .price_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.nonswipe .price_line .final_price {
  margin: 0 5px;
  font-weight: 500;
}

.nonswipe .price_line .discount_rate {
  font-weight: 500;
  color: #DA2128;
}

.nonswipe .price_line .price_origin {
  font-size: 12px;
  text-decoration: line-through;
  color: #767676;
}

.adult_prod .product_pic {
  position: relative;
  background-color: #fff;
}

.adult_prod .adult_block {
  position: absolute;
  width: 100%;
  height: calc( 100% - 1px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  padding-top: 50%;
  font-weight: 700;
  font-size: 13px;
  background: url(../images/guide/@adult_block.svg) no-repeat center top 30%/30%;
  border-radius: 12px;
  border: 2px solid #000;
}

.evt_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.evt_products .prod_item {
  width: calc((100% - 20px)/2);
  cursor: pointer;
  margin-top: 24px;
}

.evt_products .prod_item:nth-of-type(2) {
  margin-top: 0;
}

.evt_products .product_pic {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.evt_products .product_info {
  width: 100%;
}

.evt_products .sold_out .product_pic:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.evt_products .show_replace {
  display: none;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  z-index: 2;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.evt_products .show_replace div {
  line-height: 19px;
  letter-spacing: -0.013em;
}

.evt_products .replace_prod_btn {
  margin: 0 auto;
  margin-top: 11px;
  height: 24px;
  padding: 0 6px;
  background-color: #fff;
  border-radius: 4px;
  line-height: 24px;
  color: #000;
  font-size: 12px;
  display: none;
}

.evt_products .sold_out .show_replace {
  display: block;
}

.evt_products .prod_item:nth-of-type(2n) .replace_prod_swap {
  margin-right: 0;
  margin-left: calc(-100vw + 100% + 20px);
}

.evt_products .prod_item:nth-of-type(2n) .replace_prod_swap:before {
  content: "";
  position: absolute;
  left: calc(100% - 40px);
}

.evt_products .prod_item:nth-of-type(2n+1) .replace_prod_swap {
  margin-right: 0;
}

.evt_products.row_dir {
  display: block;
  padding-top: 20px;
}

.evt_products.row_dir .prod_item {
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.evt_products.row_dir .prod_item span {
  display: block;
}

.evt_products.row_dir .prod_item:first-of-type {
  margin-top: 0;
}

.evt_products.row_dir .prod_item .company {
  display: block;
}

.evt_products.row_dir .product_pic {
  position: relative;
  width: calc((100% - 20px )/2);
  height: 0;
  padding-top: calc((100% - 20px )/2);
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.evt_products.row_dir .product_pic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.evt_products.row_dir .product_info {
  width: calc((100% - 20px )/2);
  padding-left: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.evt_products.row_dir .replace_prod_swap:before {
  content: "";
  position: absolute;
  left: 40px !important;
}

.evt_products.row_dir .replace_prod_swap .mySwiper .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.evt_products.row_dir .replace_prod_swap .prod_item {
  width: 140px;
  margin-top: 0;
}

.evt_products.row_dir .replace_prod_swap .product_pic {
  width: 100%;
  height: 0;
  padding-top: 140px;
}

.evt_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.evt_products .prod_item {
  width: calc((100% - 20px)/2);
  cursor: pointer;
  margin-top: 24px;
}

.evt_products .prod_item:nth-of-type(2) {
  margin-top: 0;
}

.evt_products .product_pic {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.evt_products .product_info {
  width: 100%;
}

.evt_products .sold_out .product_pic:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.evt_products .show_replace {
  display: none;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  z-index: 2;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.evt_products .show_replace div {
  line-height: 19px;
  letter-spacing: -0.013em;
}

.evt_products .replace_prod_btn {
  margin: 0 auto;
  margin-top: 11px;
  height: 24px;
  padding: 0 6px;
  background-color: #fff;
  border-radius: 4px;
  line-height: 24px;
  color: #000;
  font-size: 12px;
  display: none;
}

.evt_products .sold_out .show_replace {
  display: block;
}

.evt_products .prod_item:nth-of-type(2n) .replace_prod_swap {
  margin-right: 0;
  margin-left: calc(-100vw + 100% + 20px);
}

.evt_products .prod_item:nth-of-type(2n) .replace_prod_swap:before {
  content: "";
  position: absolute;
  left: calc(100% - 40px);
}

.evt_products .prod_item:nth-of-type(2n+1) .replace_prod_swap {
  margin-right: 0;
}

.evt_products.row_dir {
  display: block;
  padding-top: 20px;
}

.evt_products.row_dir .prod_item {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.evt_products.row_dir .prod_item span {
  display: block;
}

.evt_products.row_dir .prod_item:first-of-type {
  margin-top: 0;
}

.evt_products.row_dir .prod_item .company {
  display: block;
}

.evt_products.row_dir .product_pic {
  position: relative;
  width: calc((100% - 20px )/2);
  height: 0;
  padding-top: calc((100% - 20px )/2);
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.evt_products.row_dir .product_pic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.evt_products.row_dir .product_info {
  width: calc((100% - 20px )/2);
  padding-left: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.evt_products.row_dir .replace_prod_swap:before {
  content: "";
  position: absolute;
  left: 40px !important;
}

.evt_products.row_dir .replace_prod_swap .mySwiper .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.evt_products.row_dir .replace_prod_swap .prod_item {
  width: 140px;
  margin-top: 0;
}

.evt_products.row_dir .replace_prod_swap .product_pic {
  width: 100%;
  height: 0;
  padding-top: 140px;
}

.replace_prod_swap {
  position: relative;
  display: none;
  background-color: #F2E3CB;
  width: 100vw;
  padding: 32px 0 32px 20px;
  margin: 30px -20px 0 -20px;
}

.replace_prod_swap:before {
  content: "";
  position: absolute;
  border-top: 12px solid #F2E3CB;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: -1;
  left: 20px;
  top: -23px;
}

.replace_prod_swap .swiper {
  padding-right: 20px;
}

.replace_prod_swap .close_swap {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/guide/btn_dialog_close.svg);
  background-size: 24px 24px;
  top: 35px;
  right: 20px;
}

.replace_prod_swap .tit {
  position: relative;
  width: calc(100% - 45px);
  color: #000;
}

.replace_prod_swap .tit .txt {
  float: left;
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.replace_prod_swap .tit .replace_icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  background: url(../images/guide/replace_swipe_icon.svg) no-repeat center center/29px;
}

.replace_prod_swap .sub_title {
  line-height: 20px;
  letter-spacing: -0.014em;
  color: #767676;
  clear: both;
}

.replace_prod_swap .prod-wrapper .prod_item {
  width: 140px;
  height: unset;
  margin-top: 0;
}

.replace_prod_swap .product_pic:before {
  display: none;
}

.show_bubble {
  display: block;
}

.replace_prod .replace_prod_btn {
  display: block;
}
