
.devide_hr {
    display: block;
    background: #f7f7f7;
    height: 8px;
    margin: 20px -20px;
    border: 0;
}

@mixin icoMore($top){
    &.ico_more {
        &:after {
            position: relative;
            content: "";
            top: $top;
            width: 10px;
            height: 18px;
            display: inline-block;
            background: url(../images/ico/ico_more.png) no-repeat 0 3px;
            background-size: 5px auto;    
            margin-left: 5px;                 
        }   
    }    
}

.container_inner {
    padding: 0 20px;
}
// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$btn-primary:     #dc3545 !default;
$btn-orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;




// font-weight
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;



$font-num : 'Roboto';

/* */
$btn-primary:     #DA2128 !default;
$btn-secondary:    #292929 !default;
$btn-lightGrey: #767675 !default;
$btn-default:      #ffffff !default;
$btn-orange:     #F96734 !default;
$btn-wihte :     #ffffff !default;
$bg-primary:     #DA2128 !default;

$txt-primary:     #DA2128 !default;
$txt-white:     #ffffff !default;
$txt-lightGrey: #767675 !default;
/* 영문 숫자폰트 */
.font_num {
    font-family: $font-num;
}
.txt_lightgrey {
    color: $txt-lightGrey !important;
}
.txt_primary {
    color: $txt-primary !important;
}
.txt_bold {
    font-weight: $font-weight-bold !important;
}

/* align */
.txt_center {
    text-align: center;
}
.d_block {
    display: block;
}
.hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font: 0/0 Arial;
}



.btn {
    display: inline-block;
    text-align: center;
    display: inline-flex;
    align-items: center;    
    flex-direction: row;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: background-color .2s ease-out,border-color .2s ease-out;
    cursor: pointer;
}
.btn_block {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* btn color */
.btn_default {
    color: #000;
    background: $btn-default;
    border:solid 1px #ccc;
    &:hover {
        background:#F2F2F2
    }
    &.disabled {
        color: #999;
    }
}

.btn_primary {
    color: #fff;
    background: $btn-primary;
    &:hover {
        background: #AC3024;
    }
    :disabled,
    &.disabled {
        background: #DB8880;
        border-color: #EAEAEA;
    }
}
.btn_orange {
    color: #fff;
    background: $btn-orange;
    &:hover {
        background: #0d6efd;
    }
}
.btn_outline_primary {
    color: $btn-primary;
    border:solid 1px $btn-primary;
    &:hover {
        background: #FFF4F1;
        color: #DA2128;
    }     
    &.disabled {
        background: #fff;
        color: #fff;
    }
}
.btn_outline_white {
    color: $txt-white;
    border:solid 1px #fff;
    &:hover {
        background: #FFF4F1;
        color: #fff;
    }     
    &.disabled {
        background: #fff;
        color: #fff;
    }
}
.btn_secondary {
    color: #fff;
    background-color: $btn-secondary;
    &:hover {
        background: #000000;
    }
    &:disabled,
    &.disabled {
        background: #BEBEBE;
        cursor: default;
    }    

}
.btn_lightgrey {
    color: #fff;
    background-color: $btn-lightGrey;
    &:hover {
        background-color: #0d6efd;
    }    
}
.btn_txt {
    cursor: pointer;
}

.btn_wish {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    color: #000;
    background-color: $btn-default;
    transition: background-color .2s ease-out,border-color .2s ease-out;
    border:solid 1px #ccc;
    .ico_heart {
        display: inline-block;
        background: url(../images/ico/ico_heart.png) no-repeat 0 0;
        background-size: 20px 20px;  
        width: 20px;        
        height: 20px;
    }            
    &.active {
        .ico_heart {
            background: url(../images/ico/ico_heart_active.png) no-repeat 0 0;
            background-size: 20px 20px;  
            width: 20px;        
            height: 20px;
        }
    }        
}

/* btn size */
a.btn_lg, 
button.btn_lg {
    height: 56px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.01em;
    font-weight: $font-weight-bold;
}
a.btn_md, 
button.btn_md {
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -.01em;
}
a.btn_md_second, 
button.btn_md_second {
    height: 36px;
    padding: 9px 0 8px 1px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.01em;
}
a.btn_sm, 
button.btn_sm {
    height: 30px;
    padding: 0 10px 1px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.01em;
    font-weight: $font-weight-normal;
}

/* ico */
.btn {
    .txt {
        &.ico_shoppingbag {
            background: url(../images/ico/ico_black_shoppingbag.png) no-repeat 0 3px;
            background-size: 18px 20px;
            padding-left: 22px;
        }
        &.ico_bell {
            background: url(../images/ico/ico_bell.png) no-repeat 0 3px;
            background-size: 18px 20px;
            padding-left: 22px;            
        }
        &.ico_review {
            background: url(../images/ico/ico_review.png) no-repeat 0 3px;
            background-size: 20px auto;
            padding-left: 22px;            
        } 
        &.ico_comment {
            background: url(../images/ico/ico_comment.png) no-repeat 0 3px;
            background-size: 20px auto;
            padding-left: 25px;            
        }                
  
    }
}

.btn_coupon_download {
    box-sizing: border-box;
    width: 79px;
    height: 30px;
    padding: 6px 10px 10px 23px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: -.01em;
    font-weight: 500;    
    border:solid 1px #fff;
    color: #fff;
    text-align: center;
    position: relative;
    .ico_white_download {
        position: absolute !important;
        left: 10px;
        top: 8px;
        width: 10px;
        height: 10px;
        background: url(../images/ico/ico_white_download.png) no-repeat 0 0;
        background-size: 10px 10px;
        padding-left: 15px;                        
    }
    .txt {
        display: inline-block;
    }
}
.btn_coupon_view {
    width: 79px;
    height: 30px;
    padding: 6px 10px 1px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: -.01em;
    font-weight: 500;    
    border:solid 1px #ccc;
    color: #000;
    text-align: center;
    .txt {
        display: inline-block;
    }
}

.link_delivery {
    position: relative;
    display: inline-block;
    font-size: 14px;
    @include icoMore(5px)        
}
.link_quick {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: $font-weight-bold;
    @include icoMore(5px);
  
}



.link_live {
    position: relative;
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.5px;
    @include icoMore(5px)
}    









/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    .col_4 {
        flex: 0 0 30%;
    }
    .col-6 {
        flex: 0 0 50%;
    }
    .col_8 {
        flex: 0 0 70%;
    }    
}

/* page title */
.tit_page_area {
    .tit {
        font-size: 18px;
    }
}        
/* content title */
.tit_con_area {
    padding: 20px 0;
    .tit {
        font-size: 20px;
        font-weight: $font-weight-bold;
    }
    .sub {
        font-size: 14px;
        color: rgb(118,118,118);
        margin-top: 8px;
    }
}

.tit_sub_area {
    padding: 20px 0;
    .tit {
        font-size: 22px;
        font-weight: $font-weight-bold;
    }
    .sub {
        font-size: 14px;
        color: rgb(118,118,118);
    }
}



/* 뱃지 */
.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    letter-spacing: -.01em;    
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &.rounded {
        border-radius: 10px !important;
    }
}
.badge_wrap {
    margin-bottom: 8px;
}
.badge_list {
    display: flex;
    flex-flow: wrap;
    .badge {
        margin-right:4px;
    }
}
/* badge color */
.badge_default {color: #767676;border: solid 1px #d5d5d5;background: #fff;}
.badge_primary {color: $btn-primary;border:solid 1px $btn-primary;    background-color: #fff;}
/* badge icon */
.badge_ico {
    color: #da2128;
    font-weight: 500;
    font-size: 13px;
    .ico_truck {
        display: inline-block;
        width: 30px;
        height: 20px;
        background: url(../images/ico/ico_truck.svg) no-repeat 0 -5px;
        background-size: 30px auto;
    }
    .ico_truck_txt {
        display: inline-block;
        width: 40px;
        height: 20px;
        background: url(../images/ico/ico_truck_txt.svg) no-repeat 0 2px;
        background-size: 40px auto;
    }
}
/* badge size */
.badge_sm {min-height: 20px;min-width: 50px;padding: 0 10px;border-radius: 4px;font-size: 11px;font-weight: 400;line-height: 20px;}
/* banner area */
.banner_area {
    margin:0 -20px;
    a {
        display: block;
        text-align: center;
        img {
            
            width: 100%;
            max-width: 750px;
        }
    }
}
.rating_score_wrap {
    display: flex;
    margin-bottom: 15px;
    .txt_value {
        font-size: 12px;
        color: rgb(118,118,118);
        margin-left: 4px;
        margin-top: 1px;
        .txt_score {
            font-weight: $font-weight-bold;
        }
    }
}
.rating_reaction_wrap {
    display: flex;
    margin-bottom: 15px;
    .gap {
        display: inline-block;
        font-size: 0;
        text-indent: -9000em;
        overflow: hidden;    
        
        &::after {
           content: ""; 
           display: inline-block;
           width: 4px;
           height: 9px;
           background: url(../images/ico/ico_slash.png) no-repeat 0 0;
           background-size: 4px 8px;
        }    
    }
    .txt_value {
        font-size: 12px;
        color: rgb(118,118,118);
        margin-left: 6px;
        .ico_quotation {
            background: url(../images/ico/ico_quotation.svg) no-repeat 0 1px;
            background-size: 13px 13px;
            padding-left: 13px;
            margin-left: 3px;
            .txt_reaction {
                font-size: 13px;
                margin-left: 5px;
            }
        }
    }
}

/* notice */
.notice_area {
    position: relative;
    padding-left: 99px;
    min-height: 99px;
    margin-bottom: 20px;
    .thumnail_notice {
        width: 99px;
        height: 99px;
        border-radius: 4px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0; 
    }
    .account_notice {
        float: left;
        padding-left: 10px;
        .txt_tit {
            font-size: 15px;
            font-weight: $font-weight-bold;
            margin-bottom: 6px;   
            .ico_live {
                position: relative;
                right: -3px;
                top: -1px;
            }         
        }
        .txt_desc {
            margin-bottom: 6px;
        }

        
    }
}
.btn_good {
    position: relative;
    padding-left: 20px;
    .ico_good {
        position: absolute;
        left: 0;
        top: 1px;
        background: url(../images/ico/ico_good.svg) no-repeat 0 0;
        background-size: 18px 18px;
        display: inline-block;
        width: 18px;
        height: 18px;
    }
    &.active {
        .ico_good {
            background: url(../images/ico/ico_good_active.svg) no-repeat 0 0;
        }
    }
}
.btn_reply {
    position: relative;
    padding-left: 20px;
    .ico_reply {
        position: absolute;
        left: 0;
        top: 1px;
        background: url(../images/ico/ico_reply.svg) no-repeat 0 0;
        background-size: 18px 18px;
        display: inline-block;
        width: 18px;
        height: 18px;
    }
}

/* btn_wrap multi */
.btn_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    &.multi {
        > .btn_wish {
            flex: 0 1 auto;
        }
        > .btn_buy {
            flex: 1;
            min-width: auto;
            justify-content: center;
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }   
        .overlap {
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            margin-left: 5px;
            flex: 0 1 auto;
            width: calc((100% - 10px - 50px)/ 3 * 2);
            
            .btn:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                flex: 1;
                justify-content: center;
                min-width: auto;
                padding-left: 5px;
                padding-right: 5px;
            }
            .btn:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;        
                justify-content: center;
                flex: 1;
                min-width: auto;
                margin-left: 0;
                padding-left: 5px;
                padding-right: 5px;                
            }
        }     
    }
}
.btn_wrap {
    &.auto {
        flex: 0 1 auto;
        .btn + .btn {
            margin-left: 5px;
        }
    }
}
.btn_wrap:not(.auto) {
    .btn {
        flex: 1;
        min-width: auto;
        justify-content: center;
    }
    .btn + .btn {
        margin-left: 5px;
    }    
}
.btn_wrap {
    &.overlap {
        .btn + .btn {
            margin-left: 0;
        }
        .btn:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}







.msg_wrap {
    .bg_secondary {
        background: #292929;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        font-size: 14px;
        padding: 15px 30px;
    }
}


/* 텍스트 말줄임 */
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}