/* s : reset */
body,html {height: 100%;}
body {font-size: 14px; line-height: 1.4; font-family: Roboto,"NotoSansCJKkr","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif; color: #000;}
button,input,pre,select,table,td,textarea,th {font: inherit; color: inherit;}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,select,table,td,textarea,th,ul {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
ol,ul {list-style: none;}
fieldset,img {border: 0;}
img {vertical-align: middle;}
a {color: #000; text-decoration: none;}
table {border-spacing: 0; border-collapse: collapse; border: 0;}
td,th {word-break: break-all; word-wrap: break-word;}
label {cursor: pointer;}
button,input {border: 0; border-radius: 0; background: 0 0;}
textarea {resize: none;}
button,input,select,textarea {vertical-align: middle;}
address,caption,cite,code,dfn,em,var {font-style: normal;}
hr {clear: both; display: none;}
blockquote,q {quotes: none;}
abbr,acronym {border: 0;}
caption,legend {visibility: hidden; overflow: hidden; line-height: 0; width: 0; height: 0; margin: 0; padding: 0; text-indent: -99999px; font-size: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {display: block;}
.hidden {position: absolute; visibility: hidden; overflow: hidden; height: 0; line-height: 0; width: 0; margin: 0; padding: 0; font: 0/0 Arial;}
      
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* font */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
    src: url(../font/Roboto-Bold.eot);
    src: url(../font/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../font/Roboto-Bold.ttf) format('truetype');

}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
    src: url(../font/NotoSansCJKkr-Regular.eot);
    src: url(../font/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Regular.ttf) format('truetype');

}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
    src: url(../font/Roboto-Medium.eot);
    src: url(../font/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../font/Roboto-Medium.ttf) format('truetype');

}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
    src: url(../font/Roboto-Thin.eot);
    src: url(../font/Roboto-Thin.eot?#iefix) format('embedded-opentype'),
		 url(../font/Roboto-Thin.ttf) format('truetype');

}


/**/
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 700;
    src: url(../font/NotoSansCJKkr-Bold.eot);
    src: url(../font/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Bold.otf) format('opentype');

}
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 500;
    src: url(../font/NotoSansCJKkr-Medium.eot);
    src: url(../font/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Medium.otf) format('opentype');

}

@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 400;
    src: url(../font/NotoSansCJKkr-Regular.eot);
    src: url(../font/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Regular.otf) format('opentype');

}


.container_wrapper {
    padding: 0 20px;
}

// font-weight
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;


// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

/* */
$red:     #DA2128 !default;
$grey:    #292929 !default;
$light-grey: #767675 !default;
$white:      #ffffff !default;
$orange:     #F96734 !default;

/* align */
.txt_center {
    text-align: center;
}
 .hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font: 0/0 Arial;
}

.btn {
    display: inline-block;
    text-align: center;
    display: inline-flex;
    align-items: center;    
    flex-direction: row;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
.btn_block {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* btn color */
.btn_outline_default {
    color: #000;
    background-color: $white;
    border:solid 1px #ccc;

}
.btn_primary {
    color: #fff;
    background-color: $red;
    &:hover {
        background-color: #0d6efd;
    }
}
.btn_orange {
    color: #fff;
    background-color: $orange;
    &:hover {
        background-color: #0d6efd;
    }
}
.btn_outline_primary {
    color: $red;
    border:solid 1px $red;
    &:hover {
        background-color: #0d6efd;
    }     
}
.btn_secondary {
    color: #fff;
    background-color: $grey;
    &:hover {
        background-color: #0d6efd;
    }    
}
.btn_lightgrey {
    color: #fff;
    background-color: $light-grey;
    &:hover {
        background-color: #0d6efd;
    }    
}

.btn_wish {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    color: #000;
    background-color: $white;
    transition: background-color .2s ease-out,border-color .2s ease-out;
    border:solid 1px #ccc;
    .ico_heart {
        display: inline-block;
        background: url(../images/ico/ico_heart.png) no-repeat 0 0;
        background-size: 20px 20px;  
        width: 20px;        
        height: 20px;
    }            
    &.active {
        
    }

}

/* btn size */
a.btn_lg, 
button.btn_lg {
    height: 56px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.01em;
    font-weight: $font-weight-bold;
}
a.btn_md, 
button.btn_md {
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -.01em;
    font-weight: $font-weight-bold;
}

/* ico */
.btn {
    .txt {
        &.ico_shoppingbag {
            background: url(../images/ico/ico_shoppingbag.png) no-repeat 0 3px;
            background-size: 18px 20px;
            padding-left: 22px;
        }
        &.ico_bell {
            background: url(../images/ico/ico_bell.png) no-repeat 0 3px;
            background-size: 18px 20px;
            padding-left: 22px;            
        }

    }
}

/* btn outline */
.btn_outline_primary {

}


/* visual */
.visual_wrap {
    position: relative;
    margin: 0 -20px;
}

/* tit */
.tit_wrap {
    margin-top: 40px;
    .tit {
        .tit_top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .txt_brand {
                font-size: 13px;
                color: #595959;
                font-family: 'Roboto';
                font-weight: 400;
            }
            .btn_share {
                cursor: pointer;
                width: 16px;
                height: 16px;
                background: url(../images/ico/ico_share.png) no-repeat 0 0;
                background-size:16px auto;
            }
        }
        .tit_bottom {
            font-size: 18px;
            font-weight: 500;
            color: #000;
        }
    }
    .price {

        .real_price {
            display: block;
            font-size: 16px;
            text-decoration: line-through;
            .txt_value {
                color: #767676;
                font-family: Roboto;
            }

            .txt_unit {
                color: #767676;
            }
        }
        .sale_price {
            display: block;
            font-size: 22px;
            .txt_per {
                font-family: Roboto;
                font-weight: 700;
                color: $red;
                font-weight: $font-weight-bold;
            }
            .txt_value {
                font-family: Roboto;
                font-weight: 700;
                font-weight: $font-weight-bold
            }
            .txt_unit {
               
            }
        }
    }
}

.info_wrap {
    .list_info {
        display: flex;
        flex-wrap: wrap;
        .txt_dt {
            font-size: 14px;
            font-weight: 700;
        }
        .txt_dd {
            font-size: 14px;
        }
        .col-4 {
            flex: 0 0 30%;
        }
        .col-8 {
            flex: 0 0 70%;
        }        
    }
}

.coupon_wrap {
    background: #fff4f1;
    height: 62px;
}
.freebie_wrap {
    background: #fff4f1;
    border: solid 1px $red;
}


.badge_wrap {
    .badge {
        display: inline-block;
    }
}
.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.badge_wrap {
    margin-bottom: 15px;
}

.badge_list {
    display: flex;
    flex-flow: wrap;
    .badge {
        margin-top: 4px;
        margin-right:4px;
    }
}

.badge_default {
    color: #767676;
    border: solid 1px #d5d5d5;
}
.badge_primary {
    color: $red;
    border:solid 1px $red;    
    background-color: #fff;
}

.badge_sm {
    min-height: 20px;
    padding: 0 7px;
    border-radius: 4px;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -.01em;    
}

.banner_area {
    margin:0 -20px;
    a {
        display: block;
        text-align: center;
        img {
            
            width: 100%;
            max-width: 750px;
        }
    }
}
// .tab_wrap &.type_normal {
//     .tab_item a {
//         .tab_txt {
//             font: 16px;
//         }

//     }
//     .ui-state-active {
//         a {
//             .tab_txt {
//                 font-weight: $font-weight-bold;
//             }
//             position: relative;
//             &:after {
//                 position: absolute;
//                 bottom: 0;
//                 left: 0;
//                 content: "";
//                 width: 100%;
//                 height: 3px;
//                 background: #000;
//             }
//         }
        
//     }
// }



/* btn_wrap multi */
.btn_wrap {
    &.multi {
        display: flex;
    }
}
/* btn_grop */
.btn_group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}



/* accordion */
.fold_box_wrap .fold_box_list .fold_box+.fold_box {margin-top: 10px;}
.fold_box_wrap .fold_box {box-sizing: border-box;}
.fold_box_wrap .fold_box .fold_box_contents,
.fold_box_wrap .fold_box .fold_box_header {padding: 0 20px;}
.fold_box_wrap .fold_box .fold_box_header {position: relative; padding: 26px 30px 22px 19px; cursor: pointer; font-size: 16px; line-height: 22px; letter-spacing: -.01em; font-weight: 700;}
.fold_box_wrap .fold_box .fold_box_header:after {content: ""; position: absolute; display: block; width: 22px; height: 22px; right: 20px; top: 50%; 
    background-image: url(../images/ico/ico_arrow.png); background-size: 22px 22px; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.fold_box_wrap .fold_box .fold_box_header .btn_fold {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    z-index: 10;
}
.fold_box_wrap .fold_box .fold_box_contents {height: 0; overflow: hidden;}
.fold_box_wrap .fold_box.expanded {background: #fff; border-color: #000;}
.fold_box_wrap .fold_box.expanded .fold_box_header:after {-webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg);}
.fold_box_wrap .fold_box.expanded>.fold_box_contents {height: auto; padding-top: 4px; padding-bottom: 23px;}
.fold_box_wrap .fold_box.expanded>.fold_box_contents .form_wrap+.btn_wrap {margin-top: 20px;}
.fold_box_wrap .fold_box.no_fold .fold_box_header {cursor: default;}
.fold_box_wrap .fold_box.no_fold .fold_box_header:after {content: none;}
.ddd.fold_box_wrap .fold_box.no_fold .fold_box_header:after {content: none;}



.dis {display: block;}

.test {font-size: 2px;}
