/* s : reset */
body,html {height: 100%;}
body {font-size: 14px; line-height: 1.4; font-family: Roboto,"NotoSansCJKkr","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif; color: #000;}
button,input,pre,select,table,td,textarea,th {font: inherit; color: inherit;}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,select,table,td,textarea,th,ul {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
ol,ul {list-style: none;}
fieldset,img {border: 0;}
img {vertical-align: middle;}
a {color: #000; text-decoration: none;}
table {border-spacing: 0; border-collapse: collapse; border: 0;}
td,th {word-break: break-all; word-wrap: break-word;}
label {cursor: pointer;}
button,input {border: 0; border-radius: 0; background: 0 0;}
textarea {resize: none;}
button,input,select,textarea {vertical-align: middle;}
address,caption,cite,code,dfn,em,var {font-style: normal;}
hr {clear: both; display: none;}
blockquote,q {quotes: none;}
abbr,acronym {border: 0;}
caption,legend {visibility: hidden; overflow: hidden; line-height: 0; width: 0; height: 0; margin: 0; padding: 0; text-indent: -99999px; font-size: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {display: block;}
.hidden {position: absolute; visibility: hidden; overflow: hidden; height: 0; line-height: 0; width: 0; margin: 0; padding: 0; font: 0/0 Arial;}
      
*,
*::before,
*::after {
  box-sizing: border-box;
}
.devide_hr {
    display: block;
    background: #f7f7f7;
    height: 8px;
    margin: 20px -20px;
    border: 0;
 
}
// .clearfix {
//     content: "";
//     display: block;
//     clear: both;
// }
/* font */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
    src: url(../font/Roboto-Bold.eot);
    src: url(../font/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../font/Roboto-Bold.ttf) format('truetype');

}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
    src: url(../font/NotoSansCJKkr-Regular.eot);
    src: url(../font/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Regular.ttf) format('truetype');

}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
    src: url(../font/Roboto-Medium.eot);
    src: url(../font/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../font/Roboto-Medium.ttf) format('truetype');

}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
    src: url(../font/Roboto-Thin.eot);
    src: url(../font/Roboto-Thin.eot?#iefix) format('embedded-opentype'),
		 url(../font/Roboto-Thin.ttf) format('truetype');

}


/**/
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 700;
    src: url(../font/NotoSansCJKkr-Bold.eot);
    src: url(../font/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Bold.otf) format('opentype');

}
@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 500;
    src: url(../font/NotoSansCJKkr-Medium.eot);
    src: url(../font/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Medium.otf) format('opentype');

}

@font-face {
	font-family: 'NotoSansCJKkr';
	font-style: normal;
	font-weight: 400;
    src: url(../font/NotoSansCJKkr-Regular.eot);
    src: url(../font/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../font/NotoSansCJKkr-Regular.otf) format('opentype');

}

@mixin icoMore($top){
    &.ico_more {
        &:after {
            position: relative;
            content: "";
            top: $top;
            width: 10px;
            height: 18px;
            display: inline-block;
            background: url(../images/ico/ico_more.png) no-repeat 0 3px;
            background-size: 5px auto;    
            margin-left: 5px;                 
        }   
    }    
}

.container_inner {
    padding: 0 20px;
}
// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$btn-primary:     #dc3545 !default;
$btn-orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;




// font-weight
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;



$font-num : 'Roboto';

/* */
$btn-primary:     #DA2128 !default;
$btn-secondary:    #292929 !default;
$btn-lightGrey: #767675 !default;
$btn-default:      #ffffff !default;
$btn-orange:     #F96734 !default;
$btn-wihte :     #ffffff !default;
$bg-primary:     #DA2128 !default;
$txt-primary:     #DA2128 !default;
$txt-white:     #ffffff !default;

/* 영문 숫자폰트 */
.font_num {
    font-family: $font-num;
}
.txt_primary {
    color: $txt-primary;
}
.txt_bold {
    font-weight: 500;
}

/* align */
.txt_center {
    text-align: center;
}
.d_block {
    display: block;
}
.hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font: 0/0 Arial;
}



.btn {
    display: inline-block;
    text-align: center;
    display: inline-flex;
    align-items: center;    
    flex-direction: row;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: background-color .2s ease-out,border-color .2s ease-out;
    cursor: pointer;
}
.btn_block {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* btn color */
.btn_default {
    color: #000;
    background: $btn-default;
    border:solid 1px #ccc;
    &:hover {
        background:#F2F2F2
    }
    &.disabled {
        color: #999;
    }
}

.btn_primary {
    color: #fff;
    background: $btn-primary;
    &:hover {
        background: #AC3024;
    }
    :disabled,
    &.disabled {
        background: #DB8880;
        border-color: #EAEAEA;
    }
}
.btn_orange {
    color: #fff;
    background: $btn-orange;
    &:hover {
        background: #0d6efd;
    }
}
.btn_outline_primary {
    color: $btn-primary;
    border:solid 1px $btn-primary;
    &:hover {
        background: #FFF4F1;
        color: #DA2128;
    }     
    &.disabled {
        background: #fff;
        color: #fff;
    }
}
.btn_outline_white {
    color: $txt-white;
    border:solid 1px #fff;
    &:hover {
        background: #FFF4F1;
        color: #fff;
    }     
    &.disabled {
        background: #fff;
        color: #fff;
    }
}
.btn_secondary {
    color: #fff;
    background-color: $btn-secondary;
    &:hover {
        background: #000000;
    }
    &:disabled,
    &.disabled {
        background: #BEBEBE;
        cursor: default;
    }    

}
.btn_lightgrey {
    color: #fff;
    background-color: $btn-lightGrey;
    &:hover {
        background-color: #0d6efd;
    }    
}
.btn_txt {
    cursor: pointer;
}

.btn_wish {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    color: #000;
    background-color: $btn-default;
    transition: background-color .2s ease-out,border-color .2s ease-out;
    border:solid 1px #ccc;
    .ico_heart {
        display: inline-block;
        background: url(../images/ico/ico_heart.png) no-repeat 0 0;
        background-size: 20px 20px;  
        width: 20px;        
        height: 20px;
    }            
    &.active {
        .ico_heart {
            background: url(../images/ico/ico_heart_active.png) no-repeat 0 0;
            background-size: 20px 20px;  
            width: 20px;        
            height: 20px;
        }
        
    }        


}

/* btn size */
a.btn_lg, 
button.btn_lg {height: 56px;padding: 0 23px 1px;border-radius: 6px;font-size: 16px;line-height: 26px;letter-spacing: -.01em;font-weight: $font-weight-bold;}
a.btn_md, 
button.btn_md {
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 14px;line-height: 23px;letter-spacing: -.01em;}
a.btn_sm, 
button.btn_sm {
    height: 30px;
    padding: 0 10px 1px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.01em;
    font-weight: $font-weight-normal;
}
/* ico */
.btn {
    .txt {
        &.ico_shoppingbag {
            background: url(../images/ico/ico_black_shoppingbag.png) no-repeat 0 3px;
            background-size: 18px 20px;
            padding-left: 22px;
        }
        &.ico_bell {
            background: url(../images/ico/ico_bell.png) no-repeat 0 3px;
            background-size: 18px 20px;
            padding-left: 22px;            
        }
        &.ico_review {
            background: url(../images/ico/ico_review.png) no-repeat 0 3px;
            background-size: 20px auto;
            padding-left: 22px;            
        } 
        &.ico_comment {
            background: url(../images/ico/ico_comment.png) no-repeat 0 3px;
            background-size: 20px auto;
            padding-left: 25px;            
        }                
        &.ico_white_download {
            background: url(../images/ico/ico_white_download.png) no-repeat 0 4px;
            background-size: 10px 10px;
            padding-left: 15px;                        
        }
    }
}
/* 바로가기 메뉴 */
.quick_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_delivery {
    position: relative;
    display: inline-block;
    font-size: 14px;
    @include icoMore(5px)        
}
.link_quick {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: $font-weight-bold;
    @include icoMore(5px);
  
}

.ico_home {
    display: block;
    width: 40px;
    height: 40px;
    border:solid 1px #eaeaea;
    border-radius: 50%;
    background: url(../images/ico/ico_gohome.png) no-repeat 50% 50%;
    background-size: 22px auto;
}
.link_live {
    position: relative;
    display: inline-block;
    font-size: 14px;
    @include icoMore(5px)
}    









/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    .col_4 {
        flex: 0 0 30%;
    }
    .col-6 {
        flex: 0 0 50%;
    }
    .col_8 {
        flex: 0 0 70%;
    }    
}

/* page title */
.tit_page_area {
    .tit {
        font-size: 18px;
    }
}        
/* content title */
.tit_con_area {
    padding: 20px 0;
    .tit {
        font-size: 20px;
        font-weight: $font-weight-bold;
    }
    .sub {
        font-size: 14px;
        color: rgb(118,118,118);
    }
}

.tit_sub_area {
    padding: 20px 0;
    .tit {
        font-size: 22px;
        font-weight: $font-weight-bold;
    }
    .sub {
        font-size: 14px;
        color: rgb(118,118,118);
    }
}



/* 뱃지 */

.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    letter-spacing: -.01em;    
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &.rounded {
        border-radius: 10px !important;
    }
}


.badge_wrap {
    margin-bottom: 8px;
}

.badge_list {
    display: flex;
    flex-flow: wrap;
    .badge {
        margin-right:4px;
    }
}

/* badge color */
.badge_default {color: #767676;border: solid 1px #d5d5d5;background: #fff;}
.badge_primary {color: $btn-primary;border:solid 1px $btn-primary;    background-color: #fff;}


.badge_ico {
    color: #da2128;
    font-weight: 500;
    font-size: 13px;
    .ico_truck {
        display: inline-block;
        width: 30px;
        height: 20px;
        background: url(../images/ico/ico_truck.svg) no-repeat 0 -5px;
        background-size: 30px auto;
    }
    .ico_truck_txt {
        display: inline-block;
        width: 40px;
        height: 20px;
        background: url(../images/ico/ico_truck_txt.svg) no-repeat 0 2px;
        background-size: 40px auto;
    }
}
/* badge size */
.badge_sm {min-height: 20px;min-width: 50px;padding: 0 10px;border-radius: 4px;font-size: 11px;font-weight: 400;line-height: 18px;}

.banner_area {
    margin:0 -20px;
    a {
        display: block;
        text-align: center;
        img {
            
            width: 100%;
            max-width: 750px;
        }
    }
}
.rating_score_wrap {
    display: flex;
    margin-bottom: 15px;
    .txt_value {
        font-size: 12px;
        color: rgb(118,118,118);
        margin-left: 4px;
        margin-top: 1px;
        .txt_score {
            font-weight: $font-weight-bold;
        }
    }
}
.rating_reaction_wrap {
    display: flex;
    margin-bottom: 15px;
    .gap {
        display: inline-block;
        font-size: 0;
        text-indent: -9000em;
        overflow: hidden;    
        
        &::after {
           content: ""; 
           display: inline-block;
           width: 4px;
           height: 9px;
           background: url(../images/ico/ico_slash.png) no-repeat 0 0;
           background-size: 4px 8px;
        }    
    }
    .txt_value {
        font-size: 12px;
        color: rgb(118,118,118);
        margin-left: 6px;
        .ico_quotation {
            background: url(../images/ico/ico_quotation.svg) no-repeat 0 1px;
            background-size: 13px 13px;
            padding-left: 13px;
            margin-left: 3px;
            .txt_reaction {
                font-size: 13px;
                margin-left: 5px;
            }
        }
    }
}







/* notice */

.notice_area {
    position: relative;
    padding-left: 99px;
    min-height: 99px;
    margin-bottom: 20px;
    .thumnail_notice {
        width: 99px;
        height: 99px;
        border-radius: 4px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0; 
    }
    .account_notice {
        float: left;
        padding-left: 10px;
        .txt_tit {
            font-size: 15px;
            font-weight: $font-weight-bold;
            margin-bottom: 6px;   
            .ico_live {
                position: relative;
                right: -3px;
                top: -1px;
            }         
        }
        .txt_desc {
            margin-bottom: 6px;
        }

        
    }
}


.btn_good {
    position: relative;
    padding-left: 20px;
    .ico_good {
        position: absolute;
        left: 0;
        top: 1px;
        background: url(../images/ico/ico_good.svg) no-repeat 0 0;
        background-size: 18px 18px;
        display: inline-block;
        width: 18px;
        height: 18px;
    }
    &.active {
        .ico_good {
            background: url(../images/ico/ico_good_active.svg) no-repeat 0 0;
        }
    }
}

.btn_reply {
    position: relative;
    padding-left: 20px;
    .ico_reply {
        position: absolute;
        left: 0;
        top: 1px;
        background: url(../images/ico/ico_reply.svg) no-repeat 0 0;
        background-size: 18px 18px;
        display: inline-block;
        width: 18px;
        height: 18px;
    }
}







/* btn_wrap multi */
.btn_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    &.multi {
        > .btn_wish {
            flex: 0 1 auto;
        }
        > .btn_buy {
            flex: 1;
            min-width: auto;
            justify-content: center;
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }   
        .overlap {
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            margin-left: 5px;
            flex: 0 1 auto;
            width: calc((100% - 10px - 50px)/ 3 * 2);
            
            .btn:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                flex: 1;
                justify-content: center;
                min-width: auto;
                padding-left: 5px;
                padding-right: 5px;
            }
            .btn:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;        
                justify-content: center;
                flex: 1;
                min-width: auto;
                margin-left: 0;
                padding-left: 5px;
                padding-right: 5px;                
            }
        }     
    }
}

.btn_wrap {
    &.auto {
        flex: 0 1 auto;
        .btn + .btn {
            margin-left: 5px;
        }
    }
}
.btn_wrap:not(.auto) {
    .btn {
        flex: 1;
        min-width: auto;
        justify-content: center;
    }
    .btn + .btn {
        margin-left: 5px;
    }    
}
.btn_wrap {
    &.overlap {
        .btn + .btn {
            margin-left: 0;
        }
        .btn:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}




/* accordion */
// .fold_box_wrap .fold_box_list .fold_box+.fold_box {margin-top: 10px;}
.fold_box_wrap .fold_box {box-sizing: border-box;}
.fold_box_wrap .fold_box .fold_box_contents,
.fold_box_wrap .fold_box .fold_box_header {padding: 0 20px;}
.fold_box_wrap .fold_box .fold_box_header {position: relative; padding: 10px 30px 10px 0; cursor: pointer; font-size: 16px; line-height: 22px; letter-spacing: -.01em; font-weight: 700;}
.fold_box_wrap .fold_box .fold_box_header:after {content: ""; position: absolute; display: block; width: 22px; height: 22px; right: 0; top: 50%; 
    background-image: url(../images/ico/ico_arrow.png); background-size: 22px 22px; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.fold_box_wrap .fold_box .fold_box_header .btn_fold {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    z-index: 10;
}
.fold_box_wrap .fold_box .fold_box_contents {height: 0; overflow: hidden;}
.fold_box_wrap .fold_box.expanded {background: #fff; border-color: #000;}
.fold_box_wrap .fold_box.expanded .fold_box_header:after {-webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg);}
.fold_box_wrap .fold_box.expanded>.fold_box_contents {
    height: auto; padding-top: 20px; padding-bottom: 20px;
    background: #f7f7f7;
}
.fold_box_wrap .fold_box.expanded>.fold_box_contents .form_wrap+.btn_wrap {margin-top: 20px;}
.fold_box_wrap .fold_box.no_fold .fold_box_header {cursor: default;}
.fold_box_wrap .fold_box.no_fold .fold_box_header:after {content: none;}
.fold_box_wrap .fold_box.no_fold .fold_box_header:after {content: none;}






.msg_wrap {
    .bg_secondary {
        background: #292929;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        font-size: 14px;
        padding: 15px 30px;
    }
}


/* 텍스트 말줄임 */
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}