.visual_wrap .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}    
.visual_wrap .swiper-slide img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;    
}
.visual_wrap .swiper-pagination-fraction {
    width: 58px;
    height: 25px;
    background: #707070;
    border-radius: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-current {
        font-size: 13px;
        color: #fff;
    }
    .swiper-pagination-total {
        font-size: 13px;
        color: #ccc;
    }
}
.visual_wrap {
    .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total:before {
        content: "-";
        display: inline-block;
        margin: 0 4px 0 3px;
        color: #ccc;
    }
}


.coupon_wrap {
    background: #fff4f1;
    height: 62px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 4px;
}

.freebie_wrap {
    background: #fff4f1;
    border: solid 1px $primary;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $primary url(../images/ico/ico_white_shoppingbag.png) no-repeat 50% 50%;
        background-size: 22px 22px;
    }
    .txt_desc {
        padding-left: 55px;
    }
}