
.txt_primary {
    color: $txt-primary;
}

.visual_wrap .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}    
.visual_wrap .swiper-slide img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;    
}
.visual_wrap .swiper-pagination-fraction {
    width: 58px;
    height: 25px;
    background: #707070;
    border-radius: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-current {
        font-size: 13px;
        color: #fff;
    }
    .swiper-pagination-total {
        font-size: 13px;
        color: #ccc;
    }
}
.visual_wrap {
    .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total:before {
        content: "-";
        display: inline-block;
        margin: 0 4px 0 3px;
        color: #ccc;
    }
}


.coupon_wrap {
    background: #fff4f1;
    height: 62px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 4px;
    .txt_dec {
        width: calc(100% - 81px );
    } 
}

.freebie_wrap {
    background: #fff4f1;
    border: solid 1px #d53020;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    .figure {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .txt_desc {
        padding-left: 55px;
    }
}











/* 공통 별점 블럭 */
.rating_container {
    .rating_stars {
        position: relative;
        .empty_stars {
            .star.xsmall {
                display: inline-block;
                &:after {
                    content: "";
                    display: inline-block;
                    background: url(../images/empty_star.svg) no-repeat 0 0;
                    background-size: 10px 10px;
                    width: 10px;
                    height: 10px;
                }

            }            
            .star.small {
                display: inline-block;
                &:after {
                    content: "";
                    display: inline-block;
                    background: url(../images/empty_star.svg) no-repeat 0 0;
                    background-size: 13px 13px;
                    width: 13px;
                    height: 13px;
                }

            }
            .star.large {
                display: inline-block;
                &:after {
                    content: "";
                    display: inline-block;
                    background: url(../images/empty_star.svg) no-repeat 0 0;
                    background-size: 23px 23px;
                    width: 23px;
                    height: 23px;
                }

            }            
        }
        .filled_stars {
            position: absolute;
            left: 0;
            top: 0;
            margin: auto;
            white-space: nowrap;
            overflow: hidden;
            .star.xsmall {
                display: inline-block;
                &:after {
                    content: "";
                    display: inline-block;
                    background: url(../images/filled_star.svg) no-repeat 0 0;
                    background-size: 10px 10px;
                    width: 10px;
                    height: 10px;
                }                              
            }             
            .star.small {
                display: inline-block;
                &:after {
                    content: "";
                    display: inline-block;
                    background: url(../images/filled_star.svg) no-repeat 0 0;
                    background-size: 13px 13px;
                    width: 13px;
                    height: 13px;
                }                              
            } 
            .star.large {
                display: inline-block;
                &:after {
                    content: "";
                    display: inline-block;
                    background: url(../images/filled_star.svg) no-repeat 0 0;
                    background-size: 23px 23px;
                    width: 23px;
                    height: 23px;
                }                              
            }                         
        }
    }
}
/*// 공통 별점 블럭 */

/* 베스트 리뷰 */
.review_best_area {
    .tit_con_area {
        margin-bottom: 24px;
        .tit {
            margin-bottom: 8px;
        }
    }
    .rating_area {
        padding: 32px 24px;
        background: #f7f7f7;
        margin-bottom: 20px;
        .total_box {
            margin-bottom: 16px;
            .rating_container {
                display: flex;
                justify-content: center;
                .score {
                    margin-left: 8px;
                    margin-top: -2px;
                    .txt_score {
                        font-size: 20px;
                        font-weight: $font-weight-bold;
                        color: rgb(218, 33, 40);
                    }
                    .txt_totalscore {
                        font-size: 14px;
                    }
                }
            }
        }
        .score_box {
            position: relative;
            padding-bottom: 20px;
            border-bottom: solid 1px #eaeaea;
            margin-bottom: 20px;
            .rating_row {
                display: flex;
                justify-content: center;
                margin-bottom: 8px;
                .progress_container {
                    margin-left: 14px;
                    &.overlap {
                        display: inline-flex;
                        width: calc(100% - 63px - 14px);
                        .progressbar {width: 100%;}
                    }
                }
            }
            
        }

        .msg_box {
            p {
                text-align: center;
                font-size: 16px;
                line-height: 26px;
                height: 50px;
                .ico_quotation {
                    font-weight: $font-weight-bold;
                    position: relative;
                    padding-left: 20px;
                    display: inline-block;
                    &:before {
                        content: "";
                        display: block;
                        width: 16px;
                        height: 10px;
                        position: absolute;
                        left: 0;
                        top: 6px;
                        background: url(../images/ico/ico_quotation.png);
                        background-size: 16px auto;
                    }
                }
            }
            .list_msg {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;
                .txt_msg {
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    color: rgb(118,118,118);
                }
                .txt_per {
                    display: block;
                    text-align: center;
                    font-size: 18px;
                    font-weight: $font-weight-bold;
                    margin-top: 3px;
                }
            }
        }
    }
    .progress_container {
        .progressbar {
            position: relative;
            .empty_progress {
                position: absolute;
                left: 0;
                top: 6px;
                display: block;
                background: #eaeaea;
                width: 100%;
                height: 4px;
                border-radius: 20px;
            }
            .filled_progress {
                position: absolute;
                left: 0;
                top: 6px;
                height: 4px;
                border-radius: 20px;
                margin: auto;
                white-space: nowrap;
                overflow: hidden;            
                background: #767675;
                &.bg_primary {
                    background:$bg-primary
                }
            }
        }
        .txt_value {
            width: 35px;
            font-size: 13px;
            margin-left: 12px;
            display: block;
            font-weight: $font-weight-bold;
            text-align: end;
        }
    }
}


.ellipsis {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

/* review */
.all_review_wrap {
    padding: 0 4px;
    .review_inner {
        
        .review_info_area {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 12px;
            font-size: 12px;
            color: rgb(118, 118, 118);
            .txt_user {
                
                margin-left: 8px;
                display: inline-block;
            }
            .txt_date {
                margin-left: 8px;
                display: inline-block;

            }
            .btn_report {
                margin-left: 8px;
                display: inline-block;

            }
            .gap {
                display: inline-block;
                font-size: 0;
                text-indent: -9000em;
                overflow: hidden;
                &:after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 9px;
                    background-color: #d5d5d5;
                    margin-left: 8px;
                }
                
            }
        }
        .review_comment_area {
            
            display: flex;
            .txt_review {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;                
                flex: 1;
                height: 40px;
            }
            .thumnail_review {
                display: flex;
                width: 78px;
                height: 78px;
                overflow: hidden;
                border-radius: 5px;
                position: relative;
                .txt_num {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    bottom: 0;
                    right: 0;
                    background: #000;
                    color: #fff;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 0;
                    font-size: 11px;
                    text-align: center;
                }
            }
        } 

        .review_msg_area {

        }
        .review_more_area {
            display: flex;
            justify-content: space-between;
            .link_more {
                font-size: 13px;
            }
            .review_btn_common {
                display: flex;
                font-size: 13px;
                .txt_count {
                    color: #000;
                    vertical-align: top;
                }
                .btn_reply {
                    margin-left: 16px;
                    .txt_reply {
                        color: rgb(118, 118, 118);
                        vertical-align: top;
                    }

                }
            }
        }
    }
   
}