

.evt_area {
    .thunmail_evt {

    }
    
    .txt_account {
        .txt_heading {
            font-size: 16px;
        }
        .txt_sub {
            font-size: 13px;
        }
        .txt_period {
            font-size: 13px;
        }
    }
}