/* Table Row Wrap */
.tbl_row_wrap {
    border-top: 1px solid #000;
    border-bottom: 1px solid #eaeaea;
    .tbl_row {
        width: 100%;
        tr {
            th {
                padding: 7px 20px 7px 4px;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                font-weight: 500;
                text-align: left;
                vertical-align: top;
                &.txt_left {
                    padding-left: 20px;
                }
            }
            td {
                padding: 7px 4px 7px 0;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                vertical-align: top;
                color: #595959;
                .btn_text_link {
                    color: inherit;
                    .text {
                        text-decoration: underline;
                    }
                }
                &.txt_center {
                    text-align: center;
                    padding:7px 0;
                }
            }
            &:first-child {
                td,
                th {
                    padding-top: 20px;
                }
            }
            &:last-child {
                td,
                th {
                    padding-bottom: 20px;
                }
            }
        }
        + .tbl_row {
            border-top: 1px solid #eaeaea;
        }
        &.md {
            tr {
                th,
                td {
                    padding:13px 0 13px 20px;
                    line-height: 13px;
                    vertical-align: middle;
                    font-size: 13px;
                }
                th {
                    color:#767676;
                    font-weight: 500;
                    .bul_list {
                        margin-top: 8px;
                    }
                    .bul_item_dot + .bul_item_dot {
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .tbl_header_info {
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
    }
    &:not(.type_th_gray) .tbl_row tbody tr {
        &:first-child {
            border-top: 1px solid #d5d5d5;
            td {
                padding-top: 16px;
            }
        }
        &:last-child td {
            padding-bottom: 20px;
        }
    }
    &.type_th_gray .tbl_row tr {
        th {
            background-color: #f7f7f7;
            border-right: 1px solid #d5d5d5;
        }
        td {
            padding: 16px 10px;
            border-top: 1px solid #eaeaea;
        }
        ~ tr th {
            border-top: 1px solid #eaeaea;
        }
    }
}
/* Table Column Wrap */
.tbl_col_wrap {
    display: block;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    /* Table Column Type */
    .tbl_col {
        width: 100%;
        tr {
            th {
                padding: 14px 10px 13px;
                text-align: center;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                color: #767676;
                font-weight: 500;
                vertical-align: middle;
            }
            td {
                padding: 10px;
                text-align: center;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                font-weight: 400;
                vertical-align: middle;
                .btn_text_link {
                    color: inherit;
                    .text {
                        // text-decoration: underline;
                    }
                }
                &.align_left {
                    text-align: left;
                }
                &.align_right {
                    text-align: right;
                }
            }
        }
    }
    &:not(.type_th_gray) .tbl_col tbody tr {
        &:first-child {
            border-top: 1px solid #d5d5d5;
            td {
                padding-top: 16px;
            }
        }
        &:last-child td {
            padding-bottom: 20px;
        }
    }
    &.type_th_gray .tbl_col tr {
        th {
            background-color: #f7f7f7;
            border-bottom: 1px solid #d5d5d5;
        }
        td {
            padding: 16px 10px;
            border-top: 1px solid #eaeaea;
        }
        ~ tr th {
            border-top: 1px solid #eaeaea;
        }
    }
}