.ht_ {
    /* header common */
    .header_wrapper {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 60px;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff;
        z-index: 100;
        transform: translateY(0);
        transition: transform .23s;

        [class^=btn_header] {
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 2px;
            vertical-align: top;
            box-sizing: border-box;

            &:after {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0 0;
            }

            &.btn_header_back:after {
                background-image: url(../images/guide/btn_header_back_mok.svg);
                background-size: 26px 26px;
            }

            &.btn_header_home:after {
                background-image: url(../images/guide/btn_header_home_mok.svg);
                background-size: 26px 26px;
            }

            &.btn_header_search:after {
                background-image: url(../images/guide/btn_header_search_mok.svg);
                background-size: 26px 26px;
            }

            &.btn_header_cart {
                position: relative;

                &:after {
                    background-image: url(../images/guide/btn_header_cart_mok.svg);
                    background-size: 26px 26px;
                }

                .count {
                    position: absolute;
                    right: -4px;
                    top: -4px;
                    height: 18px;
                    min-width: 18px;
                    padding: 4px 2px 0;
                    border-radius: 9px;
                    font-size: 11px;
                    letter-spacing: -0.01em;
                    background-color: #DA2128;
                    color: #fff;
                    font-weight: 700;
                    line-height: 1;
                    text-align: center;
                    box-sizing: border-box;
                }
            }

            + [class^=btn_header] {
                margin-left: 8px;
            }
        }

        .header_center {
            overflow: hidden;
            padding: 4px 10px 0;
            flex: 1;
            box-sizing: border-box;

            .page_title {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: -0.01em;
                display: inline-block;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: none;
                -webkit-box-orient: inherit;
                -webkit-line-clamp: inherit;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
                text-align: center;
            }
        }

        .header_left {
            flex-shrink: 0;

            + .gnb_search_wrap {
                margin-left: 2px;
            }
        }

        .header_right {
            flex-shrink: 0;
            margin-left: auto;
        }

        .gnb_search_wrap {
            position: relative;
            flex: 1;

            .gnb_search_box {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;
                height: 44px;
                background: #fff;
                padding-right: 13px;
                border: 1px solid #5055b1;
                border-radius: 6px;
                box-sizing: border-box;

                .search_input_wrap {
                    position: relative;
                    flex: 1;
                    height: 100%;
                    padding-left: 14px;

                    .ip_gnb_search {
                        width: 100%;
                        height: 100%;
                        background: 0 0;
                        outline: 0;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;
                        text-overflow: ellipsis;

                        &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::-moz-placeholder, &::placeholder, &:-ms-input-placeholder {
                            font-size: inherit;
                            color: #767676;
                        }

                        &::-ms-input-placeholder {
                            /* Microsoft Edge */

                            font-size: inherit;
                            color: #767676;
                        }

                        &::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
                            display: none;
                            width: 0;
                            height: 0;
                        }
                    }

                    input[type=search] {
                        &::-ms-clear, &::-ms-reveal {
                            display: none;
                            width: 0;
                            height: 0;
                        }
                    }

                    .btn_ip_clear {
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        width: 20px;
                        height: 20px;
                        transform: translateY(-50%);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(../images/guide/btn_ip_reset.png);
                        background-size: 18px 18px;
                    }

                    &.value {
                        .ip_gnb_search {
                            padding-right: 40px;
                        }

                        .btn_ip_clear {
                            display: block;
                        }
                    }
                }

                .btn_gnb_search {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../images/guide/btn_header_search.png);
                    background-size: 18px 18px;
                }
            }
        }

        &.has_line:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            background-color: #eaeaea;
        }

        &.scroll_down {
            // transform: translateY(-100%);
        }

        &.header_main {
            position: relative;
            display: block;
            height: auto;
            padding: 0;

            .header_top_wrap {
                position: relative;
                height: 58px;
                padding-top: 16px;
                padding-left: 112px;
                background-color: #f4f4f4;
                box-sizing: border-box;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 172px;
                    height: 54px;
                    background-image: url(../images/guide/bg_service_mall_shape_mok.png);
                    background-size: 172px 54px;
                    z-index: 2;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 10px;
                    background-color: #fff;
                }

                .logo_box {
                    position: absolute;
                    bottom: 13px;
                    left: 22px;
                    width: 100px;
                    height: 29px;
                    z-index: 2;

                    .logo_link {
                        display: block;
                        height: 100%;

                        img {
                            width: 100%;
                        }
                    }
                }

                .service_mall_wrap {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 71px;
                        height: 32px;
                        background: linear-gradient(90deg, rgba(244, 244, 244, 0), #f4f4f4 56%, #f4f4f4 100%);
                        z-index: 2;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -7px;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background-color: #DA2128;
                        z-index: 2;
                    }

                    .service_mall_inner {
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        white-space: nowrap;
                        padding-right: 71px;

                        &::-webkit-scrollbar {
                            display: none;

                            /* Chrome, Safari, Opera*/
                        }
                    }

                    .btn_brand_more {
                        position: absolute;
                        top: 0;
                        right: 12px;
                        width: 30px;
                        height: 30px;
                        padding: 1px;
                        box-sizing: border-box;
                        background-image: url(../images/guide/btn_service_mall_more_mok.png);
                        background-size: 28px 28px;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 3;
                        transition: background-image .23s;
                    }

                    .brand_more_list_box {
                        top: 42px;
                        right: 12px;
                        position: absolute;
                        display: none;
                        width: 292px;
                        border: 1px solid #d5d5d5;
                        background-color: #fff;
                        border-radius: 16px;
                        box-sizing: border-box;
                        padding: 20px;
                        box-shadow: 0 5px 10px 0 rgba(155, 160, 168, 0.5);
                        z-index: 10;

                        .brand_more_list {
                            font-size: 0;

                            .brand_more_item {
                                display: inline-block;
                                width: calc((100% - 10px)/ 2);

                                .brand_more_link {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    flex-direction: row;

                                    .img_box {
                                        flex-shrink: 0;
                                        display: inline-block;
                                        width: 34px;
                                        height: 34px;
                                        border-radius: 100%;
                                        overflow: hidden;
                                        vertical-align: top;

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    .brand_name {
                                        margin-left: 9px;
                                        font-size: 13px;
                                        line-height: 19px;
                                        letter-spacing: -0.01em;
                                    }
                                }

                                &:nth-child(2n) {
                                    margin-left: 10px;
                                }

                                &:nth-child(n+3) {
                                    margin-top: 14px;
                                }
                            }
                        }
                    }

                    &.active {
                        .btn_brand_more {
                            background-image: url(../images/guide/btn_service_mall_more_active_mok.png);
                            background-size: 28px 28px;
                        }

                        .brand_more_list_box {
                            display: block;
                            opacity: 0;
                            transition: opacity .23s;
                        }

                        &.animated .brand_more_list_box {
                            opacity: 1;
                        }
                    }
                }
            }

            .gnb_search_wrap {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                padding: 10px 18px 10px 20px;

                .gnb_search_box {
                    flex: 1;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    height: 40px;
                    padding: 0 8px 0 18px;
                    border: 1px solid #d5d5d5;
                    border-radius: 25px;

                    .search_input_wrap {
                        position: relative;
                        flex: 1;
                        height: 100%;
                        margin-right: 5px;

                        .ip_gnb_search {
                            width: 100%;
                            height: 100%;
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: -.01em;
                            outline: 0;
                            background: #fff;

                            &::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
                                display: none;
                                width: 0;
                                height: 0;
                            }
                        }

                        input[type=search] {
                            &::-ms-clear, &::-ms-reveal {
                                display: none;
                                width: 0;
                                height: 0;
                            }
                        }

                        .btn_ip_clear {
                            display: none;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            width: 20px;
                            height: 20px;
                            transform: translateY(-50%);
                            background-image: url(../images/guide/btn_ip_reset_mok.png);
                            background-size: 18px 18px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                        &.value {
                            .ip_gnb_search {
                                padding-right: 30px;
                            }

                            .btn_ip_clear {
                                display: block;
                            }
                        }
                    }

                    .btn_gnb_search {
                        width: 30px;
                        height: 30px;
                        background-image: url(../images/guide/btn_gnb_search_mok.svg);
                        background-size: 16px 16px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .btn_header_cart {
                    flex-shrink: 0;
                    margin-left: 18px;
                }
            }

            ~ .container_wrapper {
                padding-top: 0;
            }
        }

        &.type_white [class^=btn_header] {
            &.btn_header_back:after {
                background-image: url(../images/guide/btn_header_back_white_mok.png);
                background-size: 26px 26px;
            }

            &.btn_header_home:after {
                background-image: url(../images/guide/btn_header_home_white_mok.png);
                background-size: 26px 26px;
            }

            &.btn_header_search:after {
                background-image: url(../images/guide/btn_header_search_white_mok.png);
                background-size: 26px 26px;
            }

            &.btn_header_cart {
                position: relative;

                &:after {
                    background-image: url(../images/guide/btn_header_cart_white_mok.png);
                    background-size: 26px 26px;
                }
            }
        }
    }
    .header_nosticky_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 60px;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff;
        transform: translateY(0);
        .header_center {
            overflow: hidden;
            padding: 4px 10px 0;
            flex: 1;
            box-sizing: border-box;
            .page_title {
                display: flex;
                font-size: 18px;
                justify-content: center;
                line-height: 28px;
                letter-spacing: -0.01em;
                white-space: nowrap;
                font-weight: 500;
                text-align: center;
                .logo{
                    width:63px;
                    transform:translateY(-2px);
                }
                .txt {
                    margin-left: 8px;
                }

            }
        }
    }
    /* footer btn common */
    .footer_wrap {
        background: #fff;
        &.fixed_foot {
            position: fixed;
            width: 100%;
            left: 0;
            bottom:0;
            z-index: 10;
            //하단 슬라이딩 팝업+ 장바구니 , 구매하기 버튼 노출
            &.btm_pop_upper_foot{
                z-index: 200;
            }
        }
        .prod_purchase_info_wrap { // 상품상세 하단 고정 버튼 영역
            padding: 6px 9px;
        }

        .floating_wrapper {
            opacity: 0;
            transition: opacity .23s;
            .btn_go_top {
                position: fixed;
                bottom: 79px;
                right: 18px;
                display: block;
                width: 47px;
                height: 47px;
                border-radius: 100%;
                background-color: #fff;
                border: 1px solid #d5d5d5;
                z-index: 100;
                opacity: 1;
                transition: right .23s,opacity .23s;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

                &:before {
                    content: "";
                    display: block;
                    width: 13px;
                    height: 18px;
                    margin: 13px auto 0;
                    background-image: url(../images/guide/arw_go_top_mok.png);
                    background-size: 13px 18px;
                    @include ratio2 {
                        background-image: url(../images/guide/arw_go_top_mok@2x.png);
                    }
                    @include ratio3 {
                        background-image: url(../images/guide/arw_go_top_mok@3x.png);
                    }
                }

                &.active {
                    opacity: 1;
                    right: 18px;
                }
            }
            .btn_go_back {
                position: fixed;
                bottom: 79px;
                left: 18px;
                display: block;
                width: 47px;
                height: 47px;
                border-radius: 100%;
                background-color: #fff;
                border: 1px solid #d5d5d5;
                z-index: 100;
                opacity: 1;
                transition: right .23s,opacity .23s;
                transform: rotate(270deg);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

                &:before {
                    content: "";
                    display: block;
                    width: 13px;
                    height: 18px;
                    margin: 13px auto 0;
                    background-image: url(../images/guide/arw_go_top_mok.png);
                    background-size: 13px 18px;
                    @include ratio2 {
                        background-image: url(../images/guide/arw_go_top_mok@2x.png);
                    }
                    @include ratio3 {
                        background-image: url(../images/guide/arw_go_top_mok@3x.png);
                    }
                }

                &.active {
                    opacity: 1;
                    right: 18px;
                }
            }
        }
        
    }
    &.sticky_tabs {
        .floating_wrapper {
            opacity: 1;
        }
    }
    /* 공통 푸터 */
    // 교보 가이드 추후 수정 할수도?
    .footer_wrapper {
        margin-top: 80px;
    
        .notice_wrap {
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            border-top: 1px solid #d5d5d5;
            height: 60px;
            padding: 0 20px;
            background-color: #f7f7f7;
            box-sizing: border-box;
    
            .notice_text {
                flex-shrink: 0;
                display: inline-block;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -.01em;
                font-weight: 700;
                vertical-align: top;
            }
    
            .notice_link {
                overflow: hidden;
                display: inline-block;
                margin-left: 20px;
                display: inline-block;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: none;
                -webkit-box-orient: inherit;
                -webkit-line-clamp: inherit;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -.01em;
                text-decoration: underline;
                vertical-align: top;
            }
        }
    
        .footer_body {
            border-top: 1px solid #d5d5d5;
            padding: 34px 20px 30px;
        
            .logo_box {
                display: block;
                width: 84px;
                height: 24px;
                margin-bottom: 22px;
        
                .logo_link {
                    display: block;
                    height: 100%;
        
                    img {
                        width: 100%;
                    }
                }
            }
        
            .footer_info_box {
                font-size: 0;
    
                .info_text_multi .info_text {
                    display: inline-block;
                    margin-top: 0;
                    vertical-align: top;
                }
    
                .info_text {
                    display: block;
                    margin-top: 3px;
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -.01em;
                    color: #595959;
        
                    .text_inner {
                        margin-right: 8px;
                    }
        
                    .btn_footer_link {
                        margin-top: -3px;
                    }
                }
    
                .gap {
                    font-size: 0;
        
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 8px;
                        margin: 5px 8px 0;
                        background-color: #d5d5d5;
                        vertical-align: top;
                    }
                }
            }
    
            .btn_footer_link {
                display: inline-block;
                padding: 5px 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: -.01em;
                font-weight: 500;
                line-height: 1;
                vertical-align: top;
        
                &:after {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    margin: 2px 0 0 2px;
                    background-image: url(../images/guide/arw_footer_link_mok.png);
                    background-size: 6px 6px;
                    vertical-align: top;
                }
            }
    
            .footer_menu_box {
                margin-top: 22px;
    
                .footer_menu_list {
                    display: flex;
                    display: -webkit-flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
        
                    .footer_menu_item {
                        width: 50%;
            
                        .footer_menu_link {
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -.01em;
                            font-weight: 500;
                        }
            
                        &.privacy .footer_menu_link {
                            font-weight: 700;
                        }
            
                        &:nth-child(n+3) {
                            margin-top: 12px;
                        }
                    }
                }
            }
    
            .footer_call_box {
                margin-top: 34px;
                font-size: 0;
        
                .call_text {
                    display: inline-block;
                    margin-top: 2px;
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -.01em;
                    font-weight: 500;
                    vertical-align: top;
                }
        
                .call_num {
                    display: inline-block;
                    margin: 0 4px 0 6px;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: -.01em;
                    color: #000;
                    vertical-align: top;
                    line-height: 1;
                }
        
                .call_text_sm {
                    display: inline-block;
                    margin-top: 1px;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -.01em;
                    color: #767676;
                }
            }
    
            .copyright_box {
                margin-top: 38px;
                padding-top: 20px;
                border-top: 1px solid #d5d5d5;
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                .copyright {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -.01em;
                    color: #767676;
                }
        
                .sns_share_box {
                    font-size: 0;
        
                    .btn_sns_share {
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        vertical-align: top;
            
                        &.youtube {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../images/guide/ico_logo_youtube.svg);
                            background-size: 32px 32px;
                        }
            
                        &.fb {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../images/guide/ico_logo_facebook.svg);
                            background-size: 32px 32px;
                        }
            
                        &.insta {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../images/guide/ico_logo_instar.svg);
                            background-size: 32px 32px;
                        }
                        &.twt {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../images/guide/ico_logo_twitter.svg);
                            background-size: 32px 32px;
                        }
                        &.blog {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(../images/guide/ico_logo_blog.svg);
                            background-size: 32px 32px;
                        }
            
                        + .btn_sns_share {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
    
    .docker_wrapper {
    position: fixed;
    height: 74px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform .23s;
    transition: transform .23s;
    transition: transform .23s,-webkit-transform .23s;

    .docker_list {
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        padding: 0 12px 12px;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 12px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 12px);

        .docker_item {
        position: relative;
        display: inline-block;
        flex: 1;
        height: 100%;
        z-index: 2;

        [class^=btn_docker]:not(.btn_docker_my) {
            display: inline-block;
            width: 100%;
            padding: 16px 0 18px;
            vertical-align: top;
            box-sizing: border-box;

            &:after {
            content: "";
            display: block;
            width: 28px;
            height: 28px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 0;
            }

            &.btn_docker_home:after {
            background-image: url(../images/guide/btn_docker_home_mok.png);
            background-size: 28px 28px;
            }

            &.btn_docker_search:after {
            background-image: url(../images/guide/btn_docker_search_mok.png);
            background-size: 28px 28px;
            }

            &.btn_docker_my:after {
            background-image: url(../images/guide/btn_docker_my_mok.png);
            background-size: 61px 61px;
            }

            &.btn_docker_history:after {
            background-image: url(../images/guide/btn_docker_history_mok.png);
            background-size: 28px 28px;
            }

            &.btn_docker_menu:after {
            background-image: url(../images/guide/btn_docker_menu_mok.png);
            background-size: 28px 28px;
            }
        }

        &.my {
            padding: 0 21px;
            text-align: center;
            z-index: 1;

            .btn_docker_my {
            overflow: hidden;
            position: relative;
            display: inline-block;
            width: 61px;
            height: 61px;
            vertical-align: top;
            border-radius: 100%;
            z-index: 1;
            box-shadow: 0 5px 10px 0 rgba(242, 125, 113, 0.5);

            .img_box {
                display: none;
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-image: url(../images/guide/bar_btn_my.svg);
                background-size: 61px 61px;
            }
            }

            &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: 136px;
            height: 74px;
            background-image: url(../images/guide/bg_docker_shape_mok.png);
            background-size: 136px 74px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            }

            &.login .btn_docker_my {
            box-shadow: 0 5px 10px 0 rgba(155, 160, 168, 0.5);

            &:after {
                content: none;
            }

            .img_box {
                display: block;
                border-radius: 100%;

                img {
                width: 100%;
                }
            }
            }
        }
        }

        &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #fff;
        border-top: 1px solid #ccc;
        margin-left: -60px;
        }

        &:after {
        left: auto;
        right: 0;
        margin-left: 0;
        margin-right: -60px;
        }
    }

    .btn_go_top {
        position: fixed;
        bottom: 92px;
        -webkit-transform: translateY(calc(constant(safe-area-inset-bottom) * -1));
        transform: translateY(calc(constant(safe-area-inset-bottom) * -1));
        -webkit-transform: translateY(calc(env(safe-area-inset-bottom) * -1));
        transform: translateY(calc(env(safe-area-inset-bottom) * -1));
        right: -18px;
        display: block;
        width: 47px;
        height: 47px;
        border-radius: 100%;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        z-index: 100;
        opacity: 0;
        transition: right .23s,opacity .23s;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

        &:before {
        content: "";
        display: block;
        width: 13px;
        height: 18px;
        margin: 13px auto 0;
        background-image: url(../images/guide/arw_go_top_mok.png);
        background-size: 13px 18px;
        }

        &.active {
        opacity: 1;
        right: 18px;
        }
    }

    &:not(.docker_fixed):after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: calc(constant(safe-area-inset-bottom));
        padding-bottom: calc(env(safe-area-inset-bottom));
        background-color: #fff;
    }

    &.scroll_down {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    &.docker_fixed {
        padding-bottom: calc(constant(safe-area-inset-bottom));
        padding-bottom: calc(env(safe-area-inset-bottom));
        background-color: #fff;

        .btn_go_top {
                                                    /*bottom: 92px; 
    bottom: calc(constant(safe-area-inset-bottom) + 92px); 
    bottom: calc(env(safe-area-inset-bottom) + 92px); 
    !*@include mixins.transform(translateY(calc(constant(safe-area-inset-bottom)))); 
    @include mixins.transform(translateY(calc(env(safe-area-inset-bottom)))); *!*/
        }
    }
    }
}
