
//MD 추천 (코너 메뉴 -신상품) 
.ctg_top_swiper{
    margin-bottom:24px;
    .swiper-slide {
        position:relative;
        width:217px;
        border-radius: 12px;
        overflow: hidden;
        box-sizing: border-box;
        height:auto;
        min-height: 100% !important;
        
        .product_pic {
            padding-top: 217px;
            margin-bottom:0;
        }
        img {
            width:100%;
            height:auto;
        }
        .product_info{
            padding:12px 20px 20px 20px;
            background-color: #fff;
        }
    }
    .swiper-pagination.out_bottom {
        height:auto;
        padding:0;
        background-color: rgba(0,0,0,0);
        bottom:30px;
        line-height:16px;
        .swiper-pagination-current{
            color:#000;
            line-height:16px;
        }
        .swiper-pagination-total {
            line-height:16px;
            color:rgba(0,0,0,0.6);
            &:before {
                color:rgba(0,0,0,0.6);
            }
        }
    }
}
//솔로 배너
.solo_banner {
    padding: 30px 0;
    img {
        width:100%;
    }
}
.prod_solo_banner {
    margin:32px 0 8px 0;
    img {
        width:100%;
    }
}
.row_dir .prod_solo_banner {
    margin-bottom:32px;
}

//띠배너
.belt_banner {
    margin-top:60px;

    & > img {
        width:100%;
    }
}
