@charset "UTF-8";
@import "_variables.scss"; 
@import "_mixins.scss";


.wrap{
    .tit{
        padding:0 20px;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.18px;
        text-align: left;
        margin-bottom:12px;
    }
}
//상단 메뉴 sticky  : 공통으로 이사 예정 _ht.template.css
.ctg_topMenu {
    width:100%;
    overflow: hidden;
    position:sticky;
    top:60px;
    left:0;
    background-color: #F7F7F7;
    z-index:100;
    .inner_wrap{
        width:100%;
        overflow-x: auto;
        display:flex;
        flex-flow:row nowrap;
        padding:22px 20px 18px 20px;
    }
    a{
      flex-shrink: 0;
      display: block;
      position:relative;
      letter-spacing: -0.15px;
      font-weight:500;
      color:rgba(0,0,0,0.2);
      white-space: nowrap;
      margin-left:16px;
      font-size: 16px;
  
      &:first-of-type{
        margin-left:0px;
      }
      &.active{
        color:#000;
      }
     
    }
}
//소팅 메뉴  : 공통으로 이사 예정 _ht.template.css
.menu_sort{
    padding:0 20px;
    margin-top:16px;
    overflow-x: auto;
    white-space: nowrap;
    &.list_inner_sort{
        padding:0;
        margin-bottom:16px;
    }
    .btn_sort{
        line-height:21px;
        font-size: 13px;
        margin-right:16px;
        position:relative;
        color:#595959;
        &.active{
            color:#000;
            font-weight: 500;
        }
        &:first-of-type:before{
            display: none;;
        }
        &:before{
            content:"";
            position:absolute;
            width:1px;
            height:7px;
            background-color:#eaeaea;
            top:6px;
            left:-10px;
        }

    }
    &.ty02 {
        margin:15px 0 20px 0;padding:0;
        li {
            position: relative;
        }
    }
}
//업데이트 타이머
.update_txt{
    padding:0 20px;
    margin-top: 15px;
    font-size: 12px;
    color:#767676;
    em{
        line-height:17px;
    }
    .timer{
        margin: 0 3px;
    }
    .btn_info{
        width:17px;
        height:17px;
        background:url(../images/guide/btn_tooltip_mok.png) no-repeat center center/ 15px;
    }
}
.sticky_selec{
	padding:20px;
	position: sticky;
	top:60px;
	left:0;
	z-index: 7;
	background-color: #fff;
	&.anchor{
		top:60px;
	}
}
.common_select{
	width:100%;
	height:50px;
	padding:14px 25px 14px 15px;
	border:1px solid #d5d5d5;
	position:relative;
	line-height: 22px;
	letter-spacing: -0.14px;
	border-radius: 6px;
	outline: 0;
	color:#767676;
	appearance: none;
	background:url(../images/guide/ico_selec_arrow.svg) no-repeat right 14px top 50% /9px;
    option{
        height:50px;
    } 
}
//MD 추천 스와이퍼
.ctg_top_swiper{
    padding:30px 0 60px 0;
    margin-bottom:24px;
    background:url(../images/guide/md_top_banner_bg.svg) no-repeat;
    background-size: cover;
    .banner_title{
        padding:20px;
        background: url(../images/guide/banr_title_bg.svg) no-repeat center top;
        background-size: auto 83px;
        .tit{
            height:37px;
            background:url(../images/guide/tod_banner_txt_img.png) no-repeat center center /auto ;
        }
        .sub{
            text-align: center;
            line-height:22px;
            margin-top:7px;
        }
    }
    .prod-wrapper {
        padding-top:16px;
    }
    .swiper-slide {
        position:relative;
        width:217px;
        border-radius: 12px;
        overflow: hidden;
        box-sizing: border-box;
        height:auto;
        min-height: 100% !important;
        &:before {
            content:"";
            width:100%;
            height:100%;
            position: absolute;
            border-radius: 12px;
            border:2px solid #000;
            z-index: 2;
        }
        .product_pic{
            padding-top: 217px;
            margin-bottom:0;
        }
        img{
            width:100%;
            height:auto;
        }
        .product_info{
            padding:12px 20px 20px 20px;
            background-color: #fff;
        }
    }
    .swiper-pagination.out_bottom {
        height:auto;
        padding:0;
        background-color: rgba(0,0,0,0);
        bottom:30px;
        line-height:16px;
        .swiper-pagination-current{
            color:#000;
            line-height:16px;
        }
        .swiper-pagination-total {
            line-height:16px;
            color:rgba(0,0,0,0.6);
            &:before {
                color:rgba(0,0,0,0.6);
            }
        }
    }
}
//상품 리스트 영역
.list_section{
	position:relative;
	.evt_products.row_dir {
        margin-top:20px;
        padding:20px 20px 0 20px;
        .prod_item {
            position:relative;
			align-items: flex-start;
			align-content: flex-start;
        }
    }  
    .rangking {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width:52px;
        height:50px;
        text-align: center;
        line-height: 50px;
        top:-20px;
        left:-10px;
        z-index: 30;
        color:#000;
        font-weight: 700;
        background:url(../images/guide/lank_noraml.svg) no-repeat center center / 50px;
        &.none_icon {
            .rank_icon{
                display: none;
            }
        }
        .rank_icon{
            width:10px;
            height:15px;
            margin-left:2px;
            margin-top:-1px;
        }
        .rank{
            display: block;
        }
        &.down .rank_icon{
            background:url(../images/guide/lank_noraml_up.svg) no-repeat center center / 9px;
            transform: rotate(180deg);
        }
        &.up .rank_icon{
            background:url(../images/guide/lank_noraml_up.svg) no-repeat center center / 9px;
            margin-top:-2px;
        }

        &.same .rank_icon{
            position:relative;
        }
        &.same .rank_icon:before{
            content:"";
            position:absolute;
            width:7px;
            height:2px;
            right:14px;
            background-color: #000;
            top:50%;
            left:0;
            margin-top:-2px;
    
        }
    }
    @for $lank from 1 through 5 {
        .prod-wrapper:first-of-type .prod_item:nth-of-type(#{$lank}) .rangking{
            color:#fff;
            background:url(../images/guide/lank_hot.svg) no-repeat center center / 50px;
            border:none;
            &.none_icon {
                .rank_icon{
                    display: none;
                }
            }    
            .rank{
                display: block;
            }
            .rank_icon{
                display: block;
                width:10px;
            }
            &.down .rank_icon{
                background:url(../images/guide/lank_hot_up.svg) no-repeat center center / 9px;
                transform: rotate(180deg);
            }
            &.up .rank_icon{
                background:url(../images/guide/lank_hot_up.svg) no-repeat center center / 9px;
                transform: rotate(360deg);
            }
    
            &.same .rank_icon:before{
                content:"";
                position:absolute;
                width:7px;
                height:2px;
                right:14px;
                background-color: #fff;
                top:50%;
                margin-top:-2px;
                left:0;
                z-index: 20;
            }
        }  
    }
}

//말풍선(베스트)
.ranking_bubble_area {
    position:absolute;
    right:0;
    bottom:47vw;
    padding-right:40px;
    z-index:10;
    .rank_icon{
        content:"";
        width:0px;
        height:0px;
        position:absolute;
        right:-15px;
        top:-14px;
        z-index: 13;
        background: url(../images/guide/lanking_bubble_thumb.svg) no-repeat center center/ 55px;
    }
    .icon_show{
        width:55px;
        height:70px;   
        transition: width 0.2s ease-in-out;
    }
    .ranking_bubble {
        position:relative;
        width:130px;
        height:56px;
        padding:10px 20px;
        line-height:20px;
        font-weight: 700;
        background:url(../images/guide/lanking_bubble.svg) no-repeat center center / 120px;
        &:before{
            content:"";
            position:absolute;
            width:12px;
            height:15px;
            background: url(../images/guide/lanking_bubble_icon.svg) no-repeat center center/ 10px;
            transform: rotate(180deg);
            bottom:8px;
            right:38px;
        }   
    }
}

//말풍선(신상품)
.ranking_bubble_area.new {
    position:absolute;
    padding-right:0;
    right:0px;
    bottom:100vw;
    z-index:10;
    .rank_icon{
        content:"";
        width:0px;
        height:0px;
        position:absolute;
        top:-15px;
        left:5px;
        z-index: 13;
        background: url(../images/guide/lanking_bubble_new.svg) no-repeat center center/ 65px;
    }
    .icon_show{
        width:70px;
        height:30px;
        transition: height 0.2s ease-in-out;
    }
    .ranking_bubble {
        position:relative;  
        width:140px;
        height:68px;
        padding:15px 20px;
        line-height:20px;
        font-weight: 700;
        background:url(../images/guide/lanking_bubble.svg) no-repeat center center / 135px;
        &:before{
            content:"";
            position:absolute;
            width:12px;
            height:15px;
            background: url(../images/guide/lanking_bubble_icon.svg) no-repeat center center/ 10px;
            transform: rotate(180deg);
            bottom:18px;
            right:68px;
        }
    }    
}  
//신상품 리스트
.prod_list_wrap{
    position: relative;
     padding:0 20px;
     .tit{
        line-height:35px;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.01;
        margin-bottom:12px;
        padding:0;
     }
    .prod-wrapper.evt_products {
        padding-top:0;
    }

}
//솔로 배너
.solo_banner{
    margin: 30px 0;
    img{
        width:100%;
    }
}
//띠배너
.belt_banner {
    margin-top:60px;
    & > img {
        width:100%;
    }
}
//더보기 버튼 영역
.btn_more_div{
	margin-top:26px;
	.more_btn{
		width:71px;
		height:24px;
		margin:0 auto;
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: 24px auto;
	}
 }