@import "_variables.scss";


@mixin boxTit() {
    .box_tit {
        .tit_area {
            padding: 40px 10px 20px 10px;
            height: 110px;
            overflow: hidden;
            .tit {
                font-size: 18px;
                font-weight: $font-weight-bold;
                &.txt_center {
                    text-align: center;
                }
                &.txt_left {
                    text-align: left;
                }
            }        
        }
    }    
}
/* 구분선 */
.devide {
    width: 100%;
    height: 1px;
    background: #000;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}
/* //구분선 */
.evt_detail_header {
    padding: 0 20px 56px;
}
/* module 001 */
.mdl_001 {
    padding: 24px 0;
    .card_header {
        position: relative;
        .tit_area {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            height: 56px;
            overflow: hidden;
            .txt_heading {
                font-size: 20px;
                font-weight: $font-weight-bold;
                color: #000;
            }
            .right_area {
                margin-top: 6px;
                .btn_share {
                    cursor: pointer;
                    width: 16px;
                    height: 16px;
                    background: url(../images/ico/ico_share.png) no-repeat 0 0;
                    background-size: 16px auto;                    
                }
            }        
        }
    }
    .card_body {
        display: flex;
        justify-content: space-between;
        .txt_account {
            display: block;
            .txt_sub {
                font-size: 16px;
                color: #767676;
                margin-bottom: 16px;
                max-height: 45px;
                overflow: hidden;
            }
            .txt_period {
                font-size: 14px;
                color: #595959;
                font-family: $font-num;
            }
        }

        .box_circle {
            position: relative;
            width: 44px;
            .txt_per {
                position: absolute;
                bottom: 0;
                right: 0;
                background: $bg-primary;
                width: 44px;
                height: 44px;
                border-radius: 50%;                
                color: #fff;
                font-size: 15px;
                font-family: $font-num;
                padding: 12px 0;
                text-align: center;
            }
        }        
    }
}
/* module 002 */

    .evt_tab_wrap {
            width: auto;
            margin: 0 -20px;
            .tab_list_wrap {
                padding: 0 !important;
                .tabs {
                    display: flex;
                    justify-content: space-between;
                    .tab_item {
                        margin-right: 0 !important;
                        
                    }
                }
            }

    }
    

/* module */
.mdl_003 {
    margin: 0 -20px;
    @include boxTit();




    .video_container {
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        height: 0;
        overflow: hidden;
        .video {
            position: absolute;
            left: 0;
            top: 0;

        }
      }    
}

.mdl_004 {
    margin: 0 -20px;
}
 

.mdl_005 {
    @include boxTit();

    
    .price_wrap {
        margin-bottom: 9px;
        .real_price {
            display: block;
            font-size: 12px;
            text-decoration: line-through;
            .txt_value {
                color: #767676;
                font-family: Roboto;
            }
            .txt_unit {
                color: #767676;
            }
        }
        .sale_price {
            display: block;
            font-size: 15px;
            .txt_per {
                font-family: Roboto;
                font-weight: 700;
                color: $btn-primary;
                font-weight: $font-weight-bold;
            }
            .txt_value {
                font-family: Roboto;
                font-weight: 700;
                font-weight: $font-weight-bold;
            }
            .txt_unit {
            
            }
        }
    }    
}
/* module 003 */







    .list_item {
        margin: 0 -10px;
        .item {
            display: inline-block;
            width: 50%;
            padding: 0 10px;
            float: left;
            margin-bottom: 24px;
            .figure {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                overflow: hidden;
            }   
            .txt_account {
                .txt_brand {
                    display: block;
                    margin-top: 12px;
                }
                .txt_desc {
                    margin-top: 4px;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    -webkit-box-flex: 1;
                    flex: 1;
                    height: 40px            
                }
            }
            .price_wrap {
                margin-bottom: 9px;
                .real_price {
                    display: block;
                    font-size: 12px;
                    text-decoration: line-through;
                    .txt_value {
                        color: #767676;
                        font-family: Roboto;
                    }
                    .txt_unit {
                        color: #767676;
                    }
                }
                .sale_price {
                    display: block;
                    font-size: 15px;
                    .txt_per {
                        font-family: Roboto;
                        font-weight: 700;
                        color: $btn-primary;
                        font-weight: $font-weight-bold;
                    }
                    .txt_value {
                        font-family: Roboto;
                        font-weight: 700;
                        font-weight: $font-weight-bold;
                    }
                    .txt_unit {
                    
                    }
                }
            }
            .review_good_wrap {
                display: flex;
                justify-content: flex-start;
                .total_review {
                    padding-left: 20px;
                    position: relative;
                    .ico_toal_review {
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 2px;
                            display: inline-block;
                            width: 14px;
                            height: 15px;
                            background: url(../images/ico/ico_total_review.png) no-repeat 0 0;
                            background-size: 14px auto;
                        }
                    }
                    .txt_total {
                        font-size: 12px;
                    }
                }
                .total_good {
                    margin-left: 16px;
                    .ico_total_good {
                        padding-left: 20px;
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0; 
                            top: 2px;                   
                            display: inline-block;
                            width: 14px;
                            height: 14px;                
                            background: url(../images/ico/ico_heart.png) no-repeat 0 0;
                            background-size: 14px 14px;
                        }
        
                    }
                    .txt_total {
                        font-size: 12px;
                    }
                }
            }
            .badge_wrap {
                .badge_list {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: inherit;
                    .badge {
                        flex: 1;
                        min-width: auto;
                    }
                }
            }
            &.soldout {
                .figure {
                    .txt_soldout {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%,-50%,0);
                        z-index: 5;
                        .txt_dec {
                            color: #fff;
                            font-size: 13px;
                            line-height: 19px;
                            text-align: center;
                            font-weight: $font-weight-bold;
                        }
                        .link_replacement {
                            margin-top: 11px;
                            display: inline-block;
                            width: auto;
                            height: 24px;
                            padding-right: 4px;
                            padding-left: 4px;
                            background: #fff;
                            border:solid 1px #ccc;
                            border-radius: 4px;
                            font-size: 12px;
                            position: relative;
                            .ico_more {
                                display: inline-block;
                                width: 5px;
                                height: 9px;
                                &:after {
                                    content: "";
                                    display: inline-block;
                                    width: 5px;
                                    height: 9px;
                                    position: absolute;
                                    right: 3px;
                                    top: 6px;
                                    background: url(../images/ico/ico_more.png) no-repeat 0 0;
                                    background-size: 5px auto;                               
                                }
                            }
                        }                                   
                    }    
                      
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.3);
                    }

                }
                
            }
        }        
    }

