@charset "UTF-8";
@import "_variables.scss"; 
@import "_mixins.scss";
@import "_ht_reset.scss"; // eric meyer reset 2.0, _ht : 핫트랙스 접두어
@import "_ht_components.scss"; // button, form, tab, swiper, fixed content, folding, list, table, box등 ...
@import "_ht_header.scss"; // todo : layout으로 추가 할 것
@import "_ht_products.scss";//상품 리스트

//상단 메뉴 1depth 
.ctg_topMenu {
	width:100%;
	overflow: hidden;
	position:relative;
	padding-bottom:-2px;
	.inner_wrap {
		width:100%;
		overflow-x: auto;
		display:flex;
		flex-flow:row nowrap;
		border-bottom:1px solid #d5d5d5;
	}
    a {
		flex-shrink: 0;
		display: block;
		position:relative;
		padding:0 13px 16px 13px;
		letter-spacing: -0.15px;
		font-weight:500;
		color:rgba(0,0,0,0.2);
		white-space: nowrap;

		&:first-of-type {
			margin-left:7px;
		}
		&:last-of-type {
			padding-right:20px;
		}
		&.active {
		color:#000;
		}
   }
  &.depth2 {
   a {
		line-height: 22px;
		letter-spacing: -0.13px;
	    padding: 12px 8px 13px 8px;
		&:first-of-type{
			margin-left:12px;
		}
		&.active:before{
			width:calc(100% - 16px);
			left:8px;
		}
		&:after{
			display:none;
		}
	}
 }
}

.sub_menu_wrap {
	padding:20px;
	background-color: #f7f7f7;
	display: none;
}
.ctg_subMenu {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	height:91px;
	overflow:hidden;
	a {
		display:block;
		width:30%;
		flex-shrink: 0;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top:16px;
		font-size:12px;
		font-weight: 900;;
		line-height: 19px;
		letter-spacing: -0.13px;
		color:#595959;
		cursor:pointer;
		@for $mn from 1 through 3{
			&:nth-of-type(#{$mn}){
			margin-top:0;
			}
		&.active{
			font-weight: 700;
		}
		}
  }
  &.menuDown{
	height:auto;
  }

}
.subMenu_btn_area {
  display:block;
  margin-top:16px;
  height:20px;
  .subMenu_btn{
    display:block;
    width:20px;
    height:20px;
    margin:0 auto;
    background:url(../images/ico/ico_arrow_large.svg) no-repeat center center;
    background-size: cover; 
    cursor: pointer;
    &.menuDown{
      transform: rotate(180deg);
    }
  }
}
//슬라이더 영역
.module_wrap {
	margin-top:11px;
	padding-top:40px;
	background-color: #fff;
	overflow:hidden;
	&:first-of-type{
		margin:0;
	}
	.swiper{
		padding-right:20px;
	}
	.md_tab {
      display: flex;
	  flex-flow:row nowrap;
	  justify-content: center;
	  .md_anchor{
		  margin-left:16px;
		  font-size:22px;
		  letter-spacing: -0.022em;
		  line-height:26px;
		  font-weight:700;
		  color:rgba(0,0,0,0.2);
	   }
	  .md_anchor:first-of-type {
		margin-left:0;
	   }
	   .md_anchor.active {
		   color:#000;
	   }
	}
	//MD추천 스와이퍼
	.ctg_top_swiper{
		padding-bottom:30px;
		margin-bottom:30px;
		.prod-wrapper{
			padding-top:16px;
		}
		.swiper-slide{
			position:relative;
			width:217px;
			border-radius: 12px;
			overflow: hidden;
			box-sizing: border-box;
			height:auto;
			min-height: 100% !important;
			&:before {
				content:"";
				width:100%;
				height:100%;
				position: absolute;
				border-radius: 12px;
				border:2px solid #000;
				z-index: 2;
			}
			.product_pic{
				padding-top: 217px;
			}
			img{
				width:100%;
				height:auto;
			}
			.product_info{
				padding:0 20px 20px 20px;
			}
		}
		.swiper-pagination.out_bottom {
			height:auto;
			padding:0;
			background-color: #fff;
			bottom:0px;
			line-height:16px;
			.swiper-pagination-current{
				color:#000;
				line-height:16px;
			}
			.swiper-pagination-total{
				line-height:16px;
			}
		}
	}
}

//슬라이더 영역 등록 상품 2개인 경우
.module7_wrap.minimum_prod{
	.module_slider_sm li{
		width:158px;
	}
}

// 띠배너
.mc_cont.resp {
	height:auto;
	margin:0;
}
.wel_belt_banner {
	position:relative;
&.round_ty .swiper-container {
	border-radius:10px;
	overflow:hidden;
}
.swiper-pagination.swiper-pagination-bullets {
	position:static;
	margin-top:12px;
	&.out_bottom {
		bottom:0;
	}
}    
.swiper-slide {
	img {
		width:100%;
	}
}
}
//구분선
.divide_hr{
	display: block;
    width:100%;
	height:8px;
	padding:0;
	border:none;
	background-color: #f7f7f7;
	margin:0;
	margin-top:40px;
}
//스티키 메뉴
.ctg_floating_line{
	position: sticky;
	padding:0 0 10px 20px;
	top:60px;
	left:0;
	z-index:20;
	background-color: #fff;
	margin-top:32px;
	span{
		display: block;
	}
	.menu_nm{
		display: inline-flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding-right:20px;
		margin-bottom:16px;
	}
	h3{
		font-size: 20px;
		line-height:32px;
		letter-spacing: -0.02em;
		font-weight: 500;
	}
	.menu_nm_icon{
		width:12px;
		height:32px;
		margin-left:8px;
		background:url(../images/guide/arrow_down.svg) no-repeat center center / 80%;
	}
	.ctg_floating_menues{
		display: flex;
		flex-flow: row nowrap;
		overflow-x: auto;
		padding: 1px 20px 1px 0;

		li{ 
			flex-shrink: 0;
			padding:8px 14px;
			border:1px solid #d5d5d5;
			border-radius: 20px;
			margin-right: 4px;
			font-size: 13px;
			color:#767676;
			letter-spacing: -0.013em;
			box-sizing: border-box;
			&:last-of-type{
				margin-right:0;
			}
			&.arrow_li{
				padding-right:35px;
				background:url(../images/guide/arrow_down.svg) no-repeat right 14px top 50% / 9px;
			}
			&.active{
				color:#fff;
				background-color: #000;
				border-color:#000;
			}
		}
		li.arrow_li{
			position:relative;
			em{
				display:none;
				font-size: 11px;
				color:#fff;
				position:absolute;
				background-color:#000;
				top:8px;
				right:8px;
				min-width:18px;
				height:18px;
				border-radius: 50%;
				text-align: center;
				line-height: 19px;;
			}
			&.checked_status em{
				display:block;
			
			}
		}
	}
}
//상품 리스트 영역
.ctg_prod_wrap{
	padding:0 20px;
	color:#292929;
	.prod_list_info{
	   margin-top: 20px;
	   display: flex;
	   flex-flow: row nowrap;
	   justify-content: space-between;
	}
	span{
		display: block;
		line-height: 19px;
	}
	.prod_ea{
		color:#767676;
	}
	.right_side{
		display: flex;
		flex-flow: row nowrap;
	}
	.sort_nm{
		font-weight: 500;
		padding-right:14px;
		background:url(../images/guide/arrow_down.svg) no-repeat right 0px top 50% / 10px;
	}
	.ctg_list_icon{
		margin-left:15px;
		width:14px;
		height:19px;
		background: url(../images/guide/ico_ctg_list_type1.svg) no-repeat center center / 14px;
	}
	.ctg_list_icon.row_list{
		background: url(../images/guide/ico_ctg_list_type2.svg) no-repeat center center / 14px;
	}
}
//솔로 배너
.solo_banner{
	margin:30px 0;
	img{
		width:100%;
	}
}
 //더보기 버튼 영역
 .btn_more_div{
	margin-top:26px;
	.more_btn{
		width:71px;
		height:24px;
		margin:0 auto;
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: 24px auto;
	}
 }
//기획전 하단 슬라이더
.evt_slider_wrap{
	padding: 40px 0 40px 20px;
	overflow:hidden;
	h2{
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -0.2px;
		line-height: 29px;
		padding-right: 20px;
	}
}
.evt_slider{
	padding-top: 20px;
	padding-right: 20px;
	.evt_item{
		width:320px;
        cursor: pointer;
		span{
			display: block;
		}
		.img_wrap{
			position:relative;
			height:0;
			padding-top:60%;
			border-radius: 15px;
		}
		img{
			position:absolute;
			left:0;
			top:0;
			width:100%;
		}
		&:last-of-type{
			margin-right: 20px;
		}
	}
	.title{
		margin-top: 12px;
		font-weight: 500;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: -0.16px;
		overflow:hidden;
	}
	.mpt_discount{
		color:#da2128;
		margin-right:3px;
	}
	.sub{
		margin-top: 4px;
		font-size: 13px;
		line-height: 19px;
		letter-spacing: -0.13px;
	}
	.show_all_list{
		position: relative;
		background-color: #eee;
		color:#767676;
		border-radius: 4px;
		span{
			display: block;
			width:100%;
			top:50%;
			transform: translateY(-50%);
			text-align: center;
			position: absolute;
		}

	}
}
//띠배너
.belt_banner {
    margin-top:20px;
    & > img {
        width:100%;
    }
}
