@charset "UTF-8";
@import "_variables.scss"; 
@import "_mixins.scss";
@import "_ht_reset.scss"; // eric meyer reset 2.0, _ht : 핫트랙스 접두어
@import "_ht_components.scss"; // button, form, tab, swiper, fixed content, folding, list, table, box등 ...
@import "_ht_header.scss"; // todo : layout으로 추가 할 것
@import "_ht_products.scss";//상품 리스트

@mixin flex($row, $wrap, $ju, $cont, $item){
	display:flex;
	flex-flow:$row $wrap;
	justify-content: $ju;
	align-content: $cont;
	$align-items:$item;
}
.divide_hr{
	display: block;
    width:100%;
	height:8px;
	padding:0;
	border:none;
	background-color: #f7f7f7;
	margin:0;
	margin-top:40px;
	&.type_top {
		margin-top:0;
	}
}
.evt_list_header {
	position: relative;
	padding-top: 12px;
	h2{
		font-size: 20px;
		line-height:32px;
		font-weight: 700;
		padding:0 20px;
	}
}
.evt_quick_menu_slide {
	position: sticky;
	top:60px;
	margin-top:12px;
	padding-bottom: 15px;
	width: 100%;
	overflow-x: auto;
	background-color: #fff;
	z-index: 20;
	border-bottom:1px solid #D5D5D5;    
	.swiper-container {
		margin-left: 20px;
		padding-right:20px;
	}

	.swiper-slide {
		width:auto;
		&.active {
			a {
				border-color:#000;
				background-color: #000;
			}
			.txt {
				font-weight: 700;
				color:#fff;
			}
		}
		@for $qmn from 1 through 6 {
			&:nth-of-type(#{$qmn}) .ico{
				background:url(../images/guide/evt_quick_mn#{$qmn}.svg) no-repeat center center/ 18px;
			}
		}
		&:last-of-type a{
			margin-right:0;
		}
	}
	a {
		display: flex;
		flex-flow: row nowrap;
		margin-right: 5px;
		padding:11px 17px;
		border:1px solid #D5D5D5;
		border-radius: 40px;
		.ico {
			display: block;
			width: 20px;
			height: 20px;
			margin-right:5px;
		}
		.txt {
			display:block;
			white-space: nowrap;
			line-height:20px;
			color:#767676;
			font-size: 13px;
		}
	}

}

/*=========================== 이벤트 리스트 =============================*/
.evt_lst_selec_title{
	display: flex;
	flex-flow: row nowrap;
	position:relative;
	padding: 0 20px;
	span{
		display:block;
	}
	.sort_title:first-of-type{
	  position:relative;
	  padding-right:23px;
	  margin-right:12px;
	  color:#595959;
	}
	.selec_icon{
		position: absolute;
		width:20px;
		height:20px;
		right:0;
		top:4px;
		background:url(../images/guide/ico_arrow_down.svg) no-repeat center center / 99%;
		transform: rotate(180deg);
	}
	.selec_icon.open{
		background:url(../images/guide/ico_arrow_down.svg) no-repeat center center / cover;
		transform: rotate(0deg);
	}
	.sort_title{
		flex-grow:0;
		font-size:20px;
		font-weight: 700;
	}
	.option_ul{
		width:calc(100% - 38px);
		max-height:calc(100vh - 400px);
		position:absolute;
		background-color: #fff;
		border:1px solid #000;
		border-radius: 6px;
		z-index:4;
		top:calc( 100% + 10px);
		left:19px;
		overflow-y:auto;
		display:none;
		li{
          line-height:20px;
		  padding:15px;
		  cursor:pointer;
		  &:first-of-type{
			  border-top-left-radius: 6px;
		  }
		}
	    li:hover,
		li:active{
			background-color: #f5f5f5;
		}
		

	}
}
      
.evt_list_area_mn{
	.evt_menu{
		display: flex;
		justify-content: space-between;
		padding:24px 20px 0;
		.left_txt_sum{
			flex-shrink: 0;
			line-height: 20px;
			letter-spacing: -0.14px;
			color:#292929;
		}
		a:last-of-type:after{
			display: none;
		}
	}
	.evt_products.row_dir {
		padding:0 20px;
		padding-top:20px;
		   .cpon{
			display: inline-block;
			line-height: 19px;
			letter-spacing: -0.13px;
			font-size: 11px;
			border:1px solid #D5D5D5;
			margin-bottom:8px;
			padding:0 8px 0 20px;
			border-radius: 10px;
			background:url(../images/guide/ico_coupon_evt.svg) no-repeat left 6px top 45% /12px;
		}
	}
}

//스페셜 이벤트 리스트
.list_evt_area.spe_evt_area{
	.small_pics_area{
		margin-bottom:16px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	 }
	.small_pics_item{
		width:23%;
		margin-right:12px;

		&:last-of-type{
		margin-right:0;
		}
		.pic_wrap {
			position:relative;
			height:0;
			padding-top:100%;
			img{
				position:absolute;
				width:100%;
				top:0;
				left:0;
			}	
		}
	} 
	
	.to_event_list_btn{
		border-radius: 4px;
		background:url(../images/guide/evt_list_showMore.svg) no-repeat center center / 99%;	
	}

	.txt_title{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	.rate{
		display:block;
		margin-right: 3px;
		font-size:16px;
		font-weight: bolder;
		letter-spacing: -0.16px;
		line-height: 26px;
		color:#da2128;
	}
	.deadline_section  .deadline_bubble{
		padding:12px 27px;
	}
	.promotion_end_txt{
		display:none;
	}
	.promotion_upper_wrap{
		display: block;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			width:100%;
			height:100%;
			border-radius: 4px;
			z-index: 3;
			top:0;
			left:0;
			background-color:rgba(0,0,0,0.6);
		}
		.promotion_end_txt{
			position:absolute;
			width:100%;
			top:50%;
			transform: translateY(-50%);
			display:block;
			color:#fff;
			text-align: center;
			z-index: 5;
		}
	}

}
//슬라이더(반응최고)
.evt_slider_wrap{
	padding: 40px 0 40px 20px;
	overflow:hidden;
	h2{
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -0.2px;
		line-height: 29px;
	}
	.swiper {
		//padding-right:20px;
		overflow: visible;
	}
}

//슬라이더(마감임박)
.evt_slider_wrap.deadline_section{
	overflow: visible;
	position:relative;
	background-color: #fff4f1;
	margin-top:60px;
	.deadline_bubble{
		width:auto;
		max-width:85%;
		position: absolute;
		z-index: 10;
		border-radius:30px;
		background-color: #D4FF1A;
		padding:8px 16px;
		border-top: 2px solid #000;
		border-left: 3px solid #000;
		border-right: 2px solid #000;
		border-bottom: 3px solid #000;
		top:0;
		right:95px;
		transform: translateY(-50%);
		&:before{
			content:"";
			position: absolute;
			border-top: 9px solid transparent;
			border-left: 0 solid transparent;
			border-right: 10px solid #D4FF1A;
			border-bottom: 9px solid transparent;
			transform: rotate(97deg);
			z-index: 2;
			bottom: 3px;
			right: 2px;
		}
		&:after {
			border-color: #000 transparent;
			border-style: solid;
			border-width: 0 10px 10px 6px;
			content: '';
			display: block;
			position: absolute;
			bottom: 4px;
		 	right: -5px;
			width: 0;
			z-index: 0;
			transform: rotate(2deg);
		  }
		.txt{
			width:100%;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: -0.12px;
		}

	}

}
.deadline_character_area{
	display: block;
	position: absolute;	
	width:100%; 
	top:0;
	left:0;
	right:0;
    display: none;
	.deadline_character{
		position: absolute;
		width:70px;
		height:80px;
		right:24px;
		top:10px;
		img{
			width:100%;
		}
	}
}

//이벤트 목록 없음
.empty_evt_list{
	padding-bottom:20%; 
	text-align: center;
	line-height:19px;
	color:#767676;
	font-size: 13px;
	padding-top:calc(20% + 95px);
	background:url(../images/guide/ico_empty_evt_list.svg) no-repeat center center/ 60px;
}
/*======================================== HTR-M-EVT-VIEW-000 ==========================================*/
//이벤트 종료 블랙스크린
.evt_end_dim{
	position:relative;
}
.evt_end_dim:before{
	content:"기획전 종료";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 30;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	font-weight: 500;
	padding-top:30vh;
	text-align: center;
	font-size: 20px;
}
//이벤트 응모하기 풀이미지
.evt_full_img_wrap{
	img{
		width: 100%;;
	}
}
//이벤트 응모하기 버튼
.evt_join_btn_wrap{
	background-color: #fff;
	padding:24px 20px 60px 20px;
	text-align: center;
	button{
		width:100%;
	}
}
/*========================= 이벤트 리스트 종료 ===========================*/
.contents_evt_wrap {
  	padding:30px 20px 0 20px;
}
//이벤트 당첨자 발표 타이틀
 .evt_section_title{
	@include flex(row, nowrap, space-between, start, start);
	margin:12px 0 0 0;
  h2{
		font-size: 20px;
		font-weight: 700;
		line-height:32px;
		letter-spacing: -0.2px;
	}
	&.title_line{
		padding-bottom:20px;
		border-bottom:1px solid #000;
	}
 }
 .evt_ck_area{
	 line-height:26px;
	 padding:6px 0;
 }

 //체크박스
 .common_check{
	display: none;
 }
 .common_ck_label{
	position:relative;
	&:before{
		content:"";
		 width:22px;
		 height:22px;
		 position:absolute;
		 left:-28px;
		 top:-2px;
		 background:url(../images/guide/ico_checkborder.svg) no-repeat 0 0;
		 background-size: 22px auto;
	}
 }
 .common_check:checked + label:before{
	background:url(../images/guide/ico_checkborder_check.svg) no-repeat 0 0;
	background-size: 22px auto;
 }
 
 //이벤트 목록 영역
 	.evt_list_card_ul{
		border-top:1px solid #000;
	.evt_list_item{                  
		padding:12px 4px;
		border-bottom:1px solid #eaeaea;
		cursor:pointer;

		&.status_new .category_area span{
			position:relative;
			&:before{
				content:'';
				position:absolute;
				width:20px;
				height:20px;
				top:-3px;
				left:calc(100% + 3px);
				background:url(../images/guide/new_post.svg) no-repeat center center /18px;
			}
		  }
	}
	.category_area{
		height:17px;
		line-height:17px;
		font-size:12px;
		color:#767676;
	}

	.list_title_area{
		margin-top:8px;
		line-height:22px;
		letter-spacing: -0.14px;
		overflow:hidden;
		white-space: nowrap;
	    text-overflow:ellipsis;
	}
	.list_date_area{
		margin-top:4px;
		font-size: 13px;
		color:#767676;
	}
 }

 //더보기 버튼 영역
 .btn_more_div{
	margin-top:24px;
	.more_btn{
		//width:71px;
		height:24px;
		margin:0 auto;
		@include flex(row, nowrap, space-between, center, center);
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		margin-left:5px;
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: 24px auto;
	}
 }
 /*================================= HTR-M-EVT-VIEW-000 ===========================================*/
 //당첨 결과 보기 타이틀
 .evt_description_title{
	padding:20px 4px;
	border-bottom:1px solid #eaeaea;
	.category_area{
		height:17px;
		line-height:17px;
		font-size:13px;
		color:#767676;
	}
	.list_title_area{
		margin-top:8px;
		font-weight:700;
		line-height:22px;
		letter-spacing: -0.14px;
	}
	.list_date_area{
		margin-top:4px;
		font-size: 13px;
		color:#767676;
	}
}
.evt_description_content{
	  padding:20px 4px;
    .category_area{
	  line-height:18px;
  }
    .list_title_area{
	  white-space: normal;
	  font-weight: 700;;
  }
    .list_date_area{
		line-height:19px;
 }
	hr{
		display: block;
		width:100%;
		height:1px;
		border:none;
		border-top:1px dashed #000;
	}
}

.evt_content{
  .evt_list_item{
	  padding:20px 4px;
  } 
  .category_area{
	  line-height:18px;
  }
  .list_title_area{
	  white-space: normal;
	  font-weight: 700;;
  }
  .list_date_area{
		line-height:19px;
	}
}
.btn_area, 
.tolist_btn_area{
	padding:24px 0 40px 0;
	text-align: center;
	border-top:1px solid #eaeaea;
	button{
		cursor:pointer;
		border-radius: 6px;  
		appearance: none;
	}
	.evt_confirm_btn{
		width:165px;
		height:44px;
		letter-spacing: -0.14px;
		color:#fff;
	}
	.evt_list_btn{
		width:100%;
		line-height:48px;
		font-size:15px;
		font-weight:700;
		color:#000;
		letter-spacing: -0.15px;
		border:1px solid #ccc;
		
	}
}
.btn_area{
	border:none;
}
.evt_view_full_tit{
	text-align: center;
	background-color: #FAD9CC;
	padding:40px 20px 0 20px;
	font-size: 18px;
	font-weight: 700;
	line-height: 29px;
}
.evt_view_full{
	width:100%;
}
.evt_anchor_target{
	width:100%;
	height:60px;
	margin-top:-60px;
	visibility: hidden;
	&.sticky_target{
		height:140px;
		margin-top:-140px;
	}
}
//띠배너
.belt_banner {
    margin-top:20px;
    & > img {
        width:100%;
    }
}
