@charset "UTF-8";
@import "_variables.scss"; 
@import "_mixins.scss";
@import "_ht_reset.scss"; // eric meyer reset 2.0, _ht : 핫트랙스 접두어
@import "_ht_components.scss"; // button, form, tab, swiper, fixed content, folding, list, table, box등 ...
@import "_ht_header.scss"; // todo : layout으로 추가 할 것

@mixin flex($row, $wrap, $ju, $cont, $item){
	display:flex;
	flex-flow:$row $wrap;
	justify-content: $ju;
	align-content: $cont;
	$align-items:$item;
}
.contents_evt_wrap{
  	padding:0 20px;
}
//이벤트 당첨자 발표 타이틀
 .evt_section_title{
	@include flex(row, nowrap, space-between, start, start);
	margin-top:12px;
  h2{
		font-size: 20px;
		font-weight: 700;
		line-height:32px;
		letter-spacing: -0.2px;
	}
 }
 .evt_ck_area{
	 line-height:26px;
	 padding:6px 0;
 }

 //체크박스
 .common_check{
	display: none;
 }
 .common_ck_label{
	position:relative;
	&:before{
		content:"";
		 width:22px;
		 height:22px;
		 position:absolute;
		 left:-28px;
		 top:-2px;
		 background:url(../images/ico/ico_checkborder.svg) no-repeat 0 0;
		 background-size: 22px auto;
	}
 }
 .common_check:checked + label:before{
	background-color: aqua;
 }
 //이벤트 메뉴 영역
 .evt_winner_menu{
	margin-top:20px;
	.menuUl{
		 height:25px;
		 @include flex(row, nowrap, flex-start, center, center);
	     overflow-x: auto;
		 -ms-overflow-style:none; /* IE and Edge */
		 scrollbar-width:none; /* Firefox */
		// li
		.menu_item{   
			position:relative;
			flex-shrink: 0;
			margin-left:27px;
			cursor:pointer;
			&:first-of-type{
				margin:0;
			}
			&:not(:first-of-type)::before{
				content:"";
				position:absolute;
                width:3px;
				height:3px;
				left:-12px;			
				top:50%;
				margin-top:-1.5px;
				background-color: #d5d5d5;			
			}
			a{
				height:21px;
				line-height:21px;
				font-size: 15px;
				letter-spacing: -0.15px;
				color:#595959;
			}
		}
		 .menu_item.active{
			border-bottom:2px solid #da2128;
			a{
				color:#da2128;
			}
		}

	 }
	.menuUl::-webkit-scrollbar {
		display:none /* Chrome , Safari , Opera */
	}
 }
 //이벤트 목록 영역
 .evt_list_card_ul{
    margin-top:20px;
	border-top:1px solid #000;
	// li
	.evt_list_item{                  
		padding:12px 4px;
		border-bottom:1px solid #eaeaea;
		cursor:pointer;
	}
	.list_badge_area, 
	.list_date_area{
		height:17px;
		line-height:17px;
		font-size:12px;
		color:#767676;
	}
	.new_badge{
      color:#da2128;
	  font-weight:500;
	  line-height:17px;
	}
	.list_title_area{
		margin-top:8px;
		line-height:22px;
		letter-spacing: -0.14px;
		overflow:hidden;
		white-space: nowrap;
	    text-overflow:ellipsis;
	}
	.list_date_area{
		margin-top:4px;
	}
 }
 //더보기 버튼 영역
 .btn_more_div{
	margin-top:24px;
	.more_btn{
		width:71px;
		height:24px;
		margin:0 auto;
		@include flex(row, nowrap, space-between, center, center);
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: 24px auto;
	}
 }
 /*================================= HTR-M-EVT-ETC-001 ===========================================*/
//당첨자 결과 보기 영역
.evt_content{
    .evt_list_item{
	  padding:20px 4px;
  } 
    .list_badge_area{
	  line-height:18px;
  }
    .list_title_area{
	  white-space: normal;
	  font-weight: 700;;
  }
    .list_date_area{
		line-height:19px;
	}
}
.eve_content_bottom{
	padding: 40px 4px 0 4px;
	hr{
		display: block;
		width:100%;
		height:1px;
		border:none;
		border-top:1px dashed #000;
	}
}
.btn_area{
	padding:24px 0 40px 0;
	text-align: center;
	&.underline{
		border-bottom:1px solid #eaeaea;
	}
	button{
		cursor:pointer;
		border-radius: 6px;  
		appearance: none;
	}
	.evt_confirm_btn{
		width:165px;
		height:44px;
		letter-spacing: -0.14px;
		color:#fff;
	}
	.evt_list_btn{
		width:100%;
		line-height:48px;
		font-size:15px;
		font-weight:700;
		color:#000;
		letter-spacing: -0.15px;
		border:1px solid #ccc;
	}
}

