@charset "UTF-8";
@import "_variables.scss"; 
@import "_mixins.scss";
@import "_ht_reset.scss"; // eric meyer reset 2.0, _ht : 핫트랙스 접두어
@import "_ht_components.scss"; // button, form, tab, swiper, fixed content, folding, list, table, box등 ...
@import "_ht_header.scss"; // todo : layout으로 추가 할 것
@import "_ht_products.scss"; //상품 공통

.module_section_bg{
  background-color: #f7f7f7;
}
.divide_underline{
	display: block;
	border:none;
	width:100%;
	height:40px;
	margin:0;
	background-color:#f0f0f0 ;
} 
.devide_underline_thin{
	display: block;
	border:none;
	width:100%;
	height:8px;
	margin:0;
	background-color:#f7f7f7 ;
}
/* input type="number" 숫자키 안나오게  */
/* Chrome, Safari, Edge, Opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*===============     모듈 001 영역(기획전 타이틀)   ==================*/
.evt_mdl_title{
	position: relative;
    padding:24px 20px;
 .tit_area{
	 padding-right:30px;
 }
 .txt_heading{
     font-size: 20px;
	 line-height: 29px;
	 font-weight: 900;
	 letter-spacing: -0.2px;
	 display: -webkit-box;
	 -webkit-line-clamp: 2;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: normal;
	 word-break: keep-all;
 }
 .btn_share{
	 position:absolute;
	 width:25px;
	 height:25px;
	 right:20px;
	 top:30px;
	 background: url(../images/ico/ico_share.png) no-repeat center center;
	 background-size: cover;
	 cursor: pointer;
 }
 .card_body{
	 margin-top:8px;
	 padding-right:47px;
 }
 //좌측 텍스트 영역
 .txt_account{
   .txt_sub{
		 width: calc(100%);
		 font-size: 16px;
		 line-height:26px;
		 letter-spacing: -0.16px;
		 color:#767676;
		 flex-grow: 1;
		 display: -webkit-box;
		 -webkit-line-clamp: 2;
		 -webkit-box-orient: vertical;
		 overflow: hidden;
		 text-overflow: ellipsis;
		 white-space: normal;
		 word-break: keep-all;
	 }
	 .txt_period{
		 margin-top: 16px;
		 line-height: 19px;
		 letter-spacing: -0.14px;
		 color:#595959;
	 }
 }

 //우측 할인율 표시 영역
 .box_circle{
	 width:44px;
	 height:44px;
	 line-height: 44px;
	 border-radius: 50%;
	 background-color: #da2128;
	 padding:0 3px;
	 position:absolute;
	 bottom:25px;
	 right:22px;

 }
 .txt_per{
	 font-size: 15px;
	 font-weight: 500;
	 letter-spacing: -0.15px;
	 text-align: center;
	 color:white;
 }
}
/*===============     모듈 002 영역(앵커 메뉴)   ==================*/
.evt_mdl2_wrap{
	transition: transform 1000ms ease-out;
	padding-bottom:30px;
	&.anchor{
		padding:0;
		position: sticky;
		top:60px;
		left:0;
		z-index: 100;
	}
}
.evt_mdl2_menu{
	left:0;
	right:0;
	top:0;
	margin-top:8px;
	background-color: #fff;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	&:nth-of-type(1){
		margin-top:0;
	}
	li{
		flex:1 1 0px;
		border-bottom:1px solid #d5d5d5;
		position:relative;
		a{
			width:100%;
			height:100%;
			padding: 18px 0px;
			display: -webkit-box;
			font-size: 15px;
			color:#595959;
			line-height: 22px;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			text-align: center;
		}
		&.active{
			&:before{
                content:"";
				position: absolute;
				width:100%;
				height:2px;
				background-color: #000;
				bottom: -1px;
				left:0;
				right:0;
				z-index: 5;
				transition:background-color 0.2s ease-out, color 0.2s ease-out, font-weight 0.2s ease-out;
			}
			a{
       color:#000;
			 font-weight: 500;
			}
		}
	}

}
/*=======================     모듈 003 영역 (동영상)  =====================*/
.module_wrap{
	padding:40px 20px;
	background-color: #fff;
	&.list{
		padding-bottom:0;
	}
  h3,
  .tit{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height:28px;
  }
  .left_tit{
	  text-align: left;
	font-size: 18px;
    font-weight: 700;
    line-height:28px;
  }
	&.type3:not(first-of-type){
		padding-top:55px;
	}
}
.video_item{
	position:relative;
	margin-top:20px;
	padding-top:56.25%;
	overflow: hidden;
	.evt_video{
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
}

/*===============     모듈 004 영역(스왑 배너)   ==================*/


.evt_banner_wrap {
	padding-bottom:30px;
     &.list{
		 padding:0;
	 }
	.swiper-container{
		position:relative;
	}
	.swiper-slide{
		.banner_img{
			width:100%;
			height:0;
			padding-top:100%;
			overflow:hidden;
			position: relative;
		}
		img{
			width:100%;
			position:absolute;
			top:0;
			left:0;
			right:0;
			z-index: 1;
		}
	}
	.txt_box{
		width:100%;
		height:100%;
		position:absolute;
		z-index:3;
		top:0;
		left:0;
		color:#fff;
		background: linear-gradient( to bottom, rgba(84, 84, 84, 0) 50%, rgba(0,0,0,0.6) 100% );
		.text_box_in{
			display:block;
			position:absolute;
			left:20px;
			bottom:40px;
		}
		span{
			display:block;
		}
		.txt_upper{
			font-size: 20px;
			line-height:30px;
			font-weight: 500;
			letter-spacing: -0.2px;
		}
		.txt_sub{
			font-size: 13px;
			letter-spacing: -0.13px;
			line-height:19px;
			color:rgba(255,255,255,0.8)
		}
	}
	.swiper-button-next.evt:after,
	.swiper-button-prev.evt:after{
		display:none;
	}
	.swiper-button-next.evt,
	.swiper-button-prev.evt {
			right:10px;
		    width:24px;
			height:24px;
			border-radius: 50%;
	}
	.swiper-button-next.evt{
		background: url(../images/guide/evt_mdl004_prev.svg) no-repeat center center/ 30px;
		transform: rotate(180deg);
	}
	.swiper-button-prev.evt{
		background: url(../images/guide/evt_mdl004_prev.svg) no-repeat center center/ 30px;
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
		opacity: 1;
	}
	.swiper-pagination.bottom_up{
		bottom:20px;
		.swiper-pagination-bullet{
			background-color: rgb(234, 234, 234);
		}
		.swiper-pagination-bullet-active{
			background-color: #fff;
		}
	}
	// .option_box {
	// 	    display:none; 
	// 		position: absolute;
	// 		right:20px;
	// 		bottom:20px;
	// 		z-index: 1;
	// 		display: flex;

	// }
	// .swiper-pagination.swiper-pagination-fraction {
	// 		position: static;
	// 		height: 25px;
	// 		transform: translateX(0);
	// 		background-color: rgba(0, 0, 0, 0.3);
	// 		.swiper-pagination-current,
	// 		.swiper-pagination-total {
	// 				line-height: 25px;
	// 		}
	// }
	// .play_pause_box {
	// 		margin-right: 4px;
	// 		[class^=btn_] {
	// 				display: block;
	// 				width: 25px;
	// 				height: 25px;
	// 				border-radius: 50%;
	// 		}
	// 		.btn_play {
	// 				background:rgba(0,0,0,.3) url(../images/guide/ico_play.svg) no-repeat 50% / 7px;
	// 		}
	// 		.btn_pause {
	// 				background:rgba(0,0,0,.3) url(../images/guide/ico_pause.svg) no-repeat 50% / 5px;
	// 		}
	// 		&.play {
	// 				.btn_play {
	// 						display: none;
	// 				}
	// 				.btn_pause {
	// 						display: block;
	// 				}
	// 		}
	// 		&.pause {
	// 				.btn_play {
	// 						display: block;
	// 				}
	// 				.btn_pause {
	// 						display: none;
	// 				}
	// 		}
	// }
}
/*===============     모듈 002 영역(앵커 메뉴)   ==================*/
/*=======================     모듈 006 영역   =====================*/
.module6_item{
	width:100%;
	margin-top:20px;
  cursor:pointer;

	.product_pic{
		position:relative;
		height:0;
		padding-top:100%;
		overflow:hidden;
		margin-bottom: 12px;
		img{
			width:100%;
			position: absolute;
			left:0;
			top:0;
		}
	}
	.company{
		font-size: 12px;
		color:#767676;
		margin-top:8px;
	}
	.title{
		width:100%;
		margin-bottom: 4px;
		font-size: 16px;
		line-height: px;
		letter-spacing: -0.13px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		word-break: keep-all;
	}
	.price_area{
		margin-top:px;
		display:flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		font-size: 15px;
	}
	.discount_rate,
	.fianl_price{
		margin-left:4px;
		font-weight: 700;
		font-size: 15px;
		line-height: 23px;
	}
	.discount_rate{
		color:#da2128;
		margin:0;
	}
	.price_origin{
		margin-left:4px;
		font-size: 12px;
		line-height: 23px;
		text-decoration: line-through;
		color:#767676;
	}  
}

/*=======================     모듈 007 영역   =====================*/
.module_wrap.type2{
	padding:40px 0 40px 20px;
	overflow:hidden;
	.swiper{
		padding-right:20px;
	}
	h3{
		padding-right: 20px;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: -0.18px;
	}
}
//모듈 8 영역
.evt_module8_card {
    padding:40px 20px;
    background-color: #fff;
    .title {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -0.16px;
        font-weight: 500;
    }
    .sub_title {
		margin-top:4px;
		font-size: 13px;
		line-height: 19px;
		letter-spacing: -0.13px;
		color:#767676;
    }
    .content {
		margin-top:14px;
		line-height: 22px;
		letter-spacing: -0.14px;
    }
  }
/*===============     모듈 010-2 영역(전체 레이어 팝업/응모하기)   ==================*/
.evt_apply_wrap{
	label{
		display: block;
		margin-top:20px;
		line-height: 20px; 
		letter-spacing: -0.14px;
		font-weight: 500;
		&:first-of-type{
			margin:0;
		}
	}
	.evt_apply_input{
		display: block;
		width:100%;
		margin-top:8px;
		padding:14px;
		line-height: 20px;
		border: 1px solid #d5d5d5;
		outline: none;
		&:disabled{
			color: #767676;
			background-color: #f7f7f7;
			pointer-events: none;
			cursor: default;
		}
	}
}
/*===============     모듈 009-1 영역(전체 레이어 팝업/투표하기)   ==================*/
.evt_mdl9_pop_wrap{
	h2{
		font-size: 16px;
		line-height:26px;
		letter-spacing: -0.16px;
		font-weight: 900;
	}
	h3{
		margin-top:4px;
		line-height:20px;
		letter-spacing: -0.14px;
		font-weight: normal;
		color:#767675;
	}
}
//체크박스
.common_check{
	display: none;
 }
 .common_ck_label{
	position:relative;
	&:before{
		content:"";
		 width:22px;
		 height:22px;
		 position:absolute;
		 left:-28px;
		 top:-2px;
		 background:url(../images/guide/ico_checkborder.svg) no-repeat 0 0;
		 background-size: cover;
	}
 }
 .common_check:checked + label:before{
	background:url(../images/guide/ico_checkborder_check.svg) no-repeat 0 0;
	background-size: cover;
 }
.evt_vote_list{
	margin-top:20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	li{
		width:47%;
		margin-top:24px;
	  flex-shrink: 0;
		&:first-of-type,
		&:nth-of-type(2){
			margin-top:0;
		}
	}
	.vote_img{
		position:relative;
		padding-top: 100%;
		height:0;
		overflow: hidden;
	}
	.vote_ckbox_area{
		width:100%;
		height:100%;
		top:0;
		left:0;
		position:absolute;
		z-index:12;
		.common_ck_label{
			position:absolute;
			top:0;
			right:0;
			width:100%;
			height:100%;
			&:before{
				content:"";
				width:30px;
				height:30px;
				left:calc(100% - 38px);
				top:8px;
				background:url(../images/guide/ico_checkopacity.svg) no-repeat 0 0;
				background-size: cover;
			}
		}
		.common_check:checked + label:before{
			background:url(../images/guide/ico_checkopacity_check.svg) no-repeat 0 0;
			background-size: cover;
		 }
	}
	img{
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index: 10;
	}
	.vot_txt{
		margin-top:12px;
		font-size: 13px;
		line-height: 19px;
		letter-spacing: -0.13px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		word-break: keep-all;
	}
}
/*================================ MDL014 ==========================*/
//댓글 입력
.comment_area{
	padding-top: 40px;
	.cmt_tit{
		line-height:25px;
		font-size: 16px;
	}
	.comment_txt_box{
		display: block;
		margin-top:16px;
		border:1px solid #d5d5d5;
		padding: 12px 16px;
	}
	textarea{
		width:100%;
		height:62px;
		border:none;
		outline:none;
		resize: none;
		overflow-y: auto;
		font-family: Roboto,"Noto Sans KR","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: -0.14px;
	}
	.count_length_line{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		margin-top:7px;
		font-size:12px;
		line-height:18px;
		letter-spacing: -0.12px;
	}
	.count_defalut{
		color:#767676;
	}
}
.no_cmt_box{
	height:140px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	span{
		display: block;
	}
	.no_cmt_icon{
		width:30px;
		height:30px;
		margin: 0 auto;
		background:url(../images/guide/no_search_data_icon.svg) no-repeat center center  / cover;
	}
	.no_cmt_txt{
		text-align: center;
		margin-top:8px;
		color:#767676;
		line-height: 19px;
		letter-spacing: -0.013em;
	}
}

//019 댓글 입력 이미지 리스트
.cmt_imgs_wrap{
	overflow:hidden;
	&.cmt_inner_top{
		margin-top:20px;
	}
}
.cmt_imgs_list{
	overflow-x: auto;
	white-space: nowrap;
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	.cmt_img_item{
		width:40px;
		height:40px;
		margin-right: 6px;
		flex-shrink: 0;
		border-radius: 4px;
		overflow:hidden;
		&:last-of-type{
			margin-right: 0px;
		}
		img{
			width:100%;
		}
		&.active{
			border:4px solid #000;
		}
		&.active_non img{
			opacity: 0.6;
		}
	}
}
/*===============  모듈 010 -1 , 009-1 (응모하기, 참여하기 버튼  ) ==============*/
.btn_mdl_wrap{
	padding:24px 20px 40px 20px;
	&.type_pink{
		background-color: #FAD9CC;
	}
	.btn_mdl{
      display: block;
	  width:100%
	}
}
/*===============     모듈 009-2 영역 (내가 쓴 댓글 보기)  ==================*/
.top_gray_section{
	padding-top:8px;
	background-color: #f7f7f7;
}
.comment_list_area{
	padding:40px 20px;
	background-color: #fff;
}
.cmt_section_title{
	padding-bottom:20px;
	border-bottom:1px solid;
	.title{
		font-size:16px;
		line-height: 26px;
		font-weight:700;
		letter-spacing: -0.16px;
	}
	.highlight{
		color:#da2128;
	}
	.evt_ck_area{
		display: block;
		letter-spacing: -0.14px;
		margin-top:5px;
		padding-left:28px;
	}
}
.cmt_list_card_ul{
	& > li{
		padding:20px 4px;
		border-bottom:1px solid #eaeaea;
	}
	.user_info{
		span{
			display:inline-block;
			position: relative;
			white-space: nowrap;
			font-size:12px;
			line-height: 16px;
			color:#767676;
			margin-left:12px;
			&:before{
				content:"|";
				position: absolute;
				top:0;
				left:-9px;
			}
			&:first-of-type{
				margin-left:0px;
			}
			&:first-of-type:before{
				content:"";
				position: absolute;
			}
		}
		.cmt_modify{
			cursor: pointer;
		}
	}
	.cmt_pd_title{
		margin-top:8px;
		font-size: 13px;
		letter-spacing: -0.13px;
		line-height: 19px;
		color:#595959;
	}
	.user_cmt{
		margin-top:16px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-content: flex-start;
	}
	.cmt_content{
		line-height: 22px;
		letter-spacing: -0.14px;
    color:#292929;
		flex-grow: 1;
	}
  .cmt_img{
		position:relative;
		width:78px;
		height:0;
		padding-top:78px;
		margin-left:19px;
		flex-shrink: 0;
		overflow: hidden;
		img{
			position:absolute;
			left:0;
			right:0;
			top:0;
			width:100%;

		}
	}
}
 //더보기 버튼 영역
 .btn_more_div{
	margin-top:24px;
	.more_btn{
		height:24px;
		margin:0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		margin-left:6px;
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: cover;
	}
 }
 /*=======================  모듈 011 영역 (rullet) ==================*/
 .rullet_wrap{
	 position:relative;
	 &>img{
		 width:100%;
	 }
	 .rullet_circle{
		 position:absolute;
		 width:88%;
		 left:50%;
		 top:50%;
		 transform: translate3d(-50%, -50%, 0);;
		 z-index: 10;
		 &>img{
			 width:100%;
		 }
	 }
	 .rullet_pin{
		 position: absolute;
		 width:7.2%;
		 left:50%;
		 transform: translateX(-50%);
		 top:-3%;
		 z-index: 20;
		 &>img{
			 width:100%;
		 }
	 }
	 .fotune_evt_btn{
		 position:absolute;
		 width:45%;
		 height:50px;
		 left:50%;
		 transform: translateX(-50%);
		 bottom:7%;
	 }
 }
/*======================     모듈 13 영역   =======================*/
 .evt_step_wrap {
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-start;
	 margin-top:20px;
	 .step_item img {
		width:100%;
	 }
 }
/*======================     모듈 14 영역   =======================*/
.cmt_wrap {
	padding:40px 20px;
	.tit{
		margin-bottom:16px;
		line-height: 25px;
		font-size: 16px;
	}
}
.cmt_btn_area{
	margin-top:24px;
	button{
		width:100%;
		padding:15px 0;
		border-radius: 4px;
		background-color: #292929;
		color:#fff;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		cursor: pointer;
	}
}
.cmt_btn_icon{
	display: block;
	width:16px;
	height:20px;
	background:url('../images/guide/cmt_btn_ico.svg') no-repeat center center;
	background-size: 95%;
	margin-right:5px;

}
.cmt_btn_txt{
	letter-spacing: -0.14px;
	line-height: 20px;
}
.mycomment_box{
	padding:12px 16px;
	margin-top:20px;
	border:1px solid #d5d5d5;
	textarea{
		width:100%;
		height:62px;
		border:none;
		outline:none;
		resize: none;
		overflow-y: auto;
		font-family: Roboto,"Noto Sans KR","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: -0.14px;
		word-break: keep-all;
	}
	.mycomment_box_bottom{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-content: center;
		align-items: center;
		margin-top:8px;
		.count_length_line{
			margin-right:8px;
		}
	}
	.count_defalut{
		color:#767676;
	}
	.btn_cmt{
		font-size: 13px;
		letter-spacing: -0.13px;
		width:52px;
		height:36px;
		text-align: center;
		border-radius: 4px;
		&:last-of-type{
			margin-left:5px;
		}
	}
}
/*===============================  모듈 015 영역  ===========================*/
.card_module{
	padding:40px 0;
	.evt_cards{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		.evt_card_item{
			width:50%;
			min-height:100% !important;
			padding:40px 20px;
			div{
				word-break: keep-all;
			}
		}
		.discount{
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			margin-bottom: 8px;
			color:#da2128;
		}
		.title{
            font-size: 16px;
			line-height: 22px;
			letter-spacing: -0.16px;
			margin-bottom: 4px;
			font-weight: 500;
		}
		.desc{
			font-size: 13px;
			line-height: 19px;
			letter-spacing: -0.13px;
		}
	}
	.btn_area{
		margin-top:24px;
		text-align: center;
		button{
			position:relative;
			padding:12px 24px;
			width:165px;
			margin:0 auto;
			border:1px solid #f2f2f2;
			border-radius: 4px;
			cursor: pointer;
			text-align: center;
	        display: flex;
			flex-flow: row nowrap;
			justify-content: center;
		}
		.txt{
			line-height:20px;
			font-weight: 500px;
			letter-spacing: -0.14px;
			line-height: 20px;
		}
		.icon{
			display: block;
			width:12px;
			height:20px;
			margin-left:3px;
			background: url(../images/guide/ico_arrow_right_btn.svg) no-repeat center top 40%/ 12px;
		}
	}
}

/*===============================  모듈 016 영역  ===========================*/
.module_wrap.type1{
	padding:0 20px;
	.mdl_selec_list_wrap{
		margin-bottom:20px;
	}
	.tit{
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.18px;
		text-align: left;
	}
}
.sticky_selec{
	padding:20px 0;
	position: sticky;
	top:0;
	left:0;
	z-index: 7;
	background-color: #fff;
	margin-bottom:20px;
	&.anchor{
		top:60px;
	}
}
.common_select{
	width:100%;
	height:50px;
	padding:14px 25px 14px 15px;
	border:1px solid #d5d5d5;
	position:relative;
	line-height: 22px;
	letter-spacing: -0.14px;
	border-radius: 6px;
	outline: 0;
	color:#767676;
	appearance: none;
	background:url(../images/guide/ico_selec_arrow.svg) no-repeat right 14px top 50% /9px;
	option{
        height:50px;
    }
}

//상품 리스트 영역
.prod-wrapper.column_dir{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items: flex-start;
	align-content: flex-start;
	.prod_item{
		width: calc((100% - 20px)/2);
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		cursor:pointer;
		margin:0;
		margin-top:20px;
		&:nth-of-type(1),
		&:nth-of-type(2){
			margin-top:0;
		}
		&:last-of-type{
			margin-right:0;
		}
	}
	.product_pic{
		width:100%;
		padding-top: 100%;
	}
	.title{
		margin-bottom:8px;
	}
}
.prod-wrapper.row_dir{
	.prod_item{ 
		margin:0;
		margin-top:20px;
        display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		cursor:pointer;
		span{
			display: block;
		}
		&:first-of-type{
			margin-top:0;
		}
	}
	.product_pic{
		position:relative;
		width:158px;
		height:0;
		padding-top:158px;
		overflow: hidden;
		flex-shrink: 0;
		margin-bottom:0;
		img{
			width:100%;
			position:absolute;
			top:0;
			left:0;
		}
	} 			
	.product_info{
		flex-grow:1;
		padding-left:19px;
	}
	.title{
		margin-bottom:8px;
	}
}
/*=======================MDL-018영역=====================*/

//오늘만 특가 제목 + 카운트 다운
.hot_deal_wrap{
	padding-top: 8px;
	background-color: #f7f7f7;
}
.hot_deal_area{
	padding: 40px 0 40px 20px;
	background-color: #fff;
	.swiper{
		padding-right:20px;
	}
	.title_area{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-right: 20px;
	}
	h2{
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
	}
	.countdown{
		.time{
			position:relative;
			font-size: 18px;
			line-height: 32px;
			font-weight: 500;
			color:#da2128;
			&:before{
				content:"";
				position: absolute;
				width:18px;
				height:18px;
				left:-26px;
				top:50%;
				margin-top:-9px;
				background:url(../images/guide/ico_clock.svg) no-repeat 0 0;
				background-size: cover;;
			}
		}
	}
}

