@import "_variables.scss"; 
@import "_functions.scss";
@import "_mixins.scss";
.ht_ {
    .reserved_product_wrap {
        .scroll_type .swiper-pagination {
            .swiper-pagination-bullet {
                flex:1;
            }
        }
    }
    .main_cont_wrap {
        &.music {
            h2 {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.02em;
                margin-bottom: 20px;
                line-height: 32px;
                margin-left: 20px;
            }
        }
        // 히어로 배너 
        .here_banner_wrap {

        }
        
        // 퀵메뉴
        .music_quick_menu {

        }

        //예약 상품
        .purchase_history_wrap {
            .purchase_box {
                display: flex;
                align-items: center;
                .img_box {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    margin-right: 16px;
                    img {
                        width: 100%;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../images/guide/purchase_mask.svg) no-repeat 0 0 / cover;
                        position: absolute;
                        left: 0;
                        top:0;
                    }
                }
            }
            .swiper-slide {
                &.swiper-slide-active {
                    .guage_box {
                        height: 6px;
                        background: #D5D5D5;
                        border-radius: 300px;
                        width: 165px;
                        // overflow:hidden;
                        .gauge_bar {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            &:after {
                                display: block;
                                content: '';
                                width: 0px;
                                height: 100%;
                                background-color: #DA2128;
                                position: absolute;
                                left: 0;
                                top: 0;
                                animation: loadingGauge 2s forwards;
                                animation-delay: 1s;
                                border-radius: 300px;
                            }
                            &::before {
                                display: block;
                                content: '';
                                width: 18px;
                                height: 18px;
                                background: url(../images/guide/img_hot_deal_time_s1.gif) no-repeat 0 0 / cover;
                                position: absolute;
                                bottom:0;
                                left:0;
                                transform: translateX(-10px);
                                z-index: 1;
                                opacity: 0;
                                animation: loadingGaugeIcon 2s forwards;
                                animation-delay: 1s;
                            }
                        }
                    }
                    @keyframes loadingGauge {
                        0% {
                        width: 0;
                        }
                        100% {
                        width: 100%;
                        }
                    }
                    @keyframes loadingGaugeIcon {
                        0% {
                        left:0;
                        opacity: 0;
                        }
                        10% {
                            opacity: 1;
                        }
                        100% {
                        left:100%;
                        opacity: 1;
                        
                        }
                    }
                }
            }
        }

        // 실시간 차트
        .realtime_chart_wrap {
            .chart_box {
                
                .detail_info {
                    display: none;
                }
                &.active {
                    .album_img {
                        display: none;
                    }
                    .detail_info {
                        display: block;
                    }
                }
            }
        }

        // 음반상품 리스트
        .music_main_list {
            padding:0 20px;
            display: flex;
            justify-content: space-between;
        flex-wrap: wrap;
        .product_info {
                font-size: 15px;
            }
        }

        // 새로 나온 음반
        .new_album_wrap {
            .swiper-container {
                padding-left: 20px;
                .swiper-slide {
                    width: calc(100% - 20px);
                    padding-right: 20px;
                }
            }
            .product_list__div {
                
                margin-bottom: 20px;
                .product_tit {
                    margin-top: 0;
                }
                .product_info {
                    font-size: 15px;
                }
            }
        }

        // 띠배너
        .belt_banner_wrap {
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 60px;
            .swiper-pagination {
                &.out_bottom {
                    bottom:0;
                }
            }    
        }

        // LP SHOP 
        .lp_shop_wrap {
            margin-bottom: 60px;
            padding:0 20px;
            position: relative;
            .swiper-container {
                width: calc(100% + 20px);
                padding-bottom: 20px;
            }
            .swiper-slide {
                width: 37%;
                min-width: 140px;
                margin-right: 4.27%;
                img {
                    width: 100%;
                    border-radius: 4px;
                }
            }
            .swiper-pagination.swiper-pagination-progressbar {
                width: calc(100% - 20px);
                left: 0;
                transform: translateX(0);
            }
            .btn_more {
                position: absolute;
                right: 20px;
                top:-64px;
                display: block;
                width: 16px;
                height: 16px;
                background: url(../images/guide/ico_plus_more.svg) no-repeat 0 0 / cover;
            }
        }
        // 특별한 할인상품
        .special_sale_wrap {
            background-color: #fffaf1;
            padding:40px 20px;
            h2 {
                margin-left: 0;
            }
            .scroll_tab {
                width: calc(100% + 20px);
                padding-right:20px;
            }
            .sale_list_wrap {
                position: relative;
                padding-bottom: 28px;
                .product_info {
                    font-size: 13px;
                }
                .swiper_ctrl_box {
                    margin: -20px 0 0;
                }
            }
        }
    }
    
    // 상품 리스트 공통 타입 todo : list.scss로 정리해서 분류 할 것
    .product_list {
        .product_tit {
            font-size: 13px;
            letter-spacing: -0.013em;
            color:rgb(0,0,0);
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .product_txt {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.013em;
            color:rgb(0,0,0);
            margin-top: 4px;
        }
        .cost_t {
            font-size: 12px;
            color:#767676;
            margin-top: 8px;
            &::after {
                content: '원';
            }
        }
        .product_info {
            color:rgb(0,0,0);
            letter-spacing: -0.01em;
            .discount_t {
                line-height: 19px;
                font-weight: 700;
                color:rgb(218,33,40);
            }
            .price_t {
                font-weight: 700;
                &::after {
                    content: '원';
                    font-weight: 400;
                }
            }
            .text {
                font-weight: bold;
            }
        }
        &__li {
            width: 47%;
            margin-bottom: 25px;
            .product_img {
                width: 100%;
                border-radius: 4px;
            }
        }
        &__group {
            width: 100%;
            .product_img {
                width: 100%;
                border-radius: 4px;
            }
        }
        &__div {
            width: 100%;
            display: flex;
            align-items: center;
            .product_img {
                width: 45%;
                margin-right:20px;
            }
        }
        + .btn_more {
            margin:0 auto;
            padding:0 24px;
            width: max-content;
            height: 44px;
            border-radius: 4px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.014em;
                color:#000;
                padding-right: 23px;
                background: url(../images/guide/ico_reload.svg) no-repeat 100% 50% / 18px;
            }
        }
    }
}

