@import "_variables.scss"; 
@import "_functions.scss";
@import "_mixins.scss";
.ht_ {
    .reserved_product_wrap {
        .scroll_type .swiper-pagination {
            .swiper-pagination-bullet {
                flex:1;
            }
        }
    }
    .main_cont_wrap {
        &.music {
            .tit {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.02em;
                margin-bottom: 20px;
                line-height: 32px;
                margin-left: 20px;
            }
            .scroll_tab {
                padding-left: 20px;

            }
            .badge_list_box {
                display: flex;
                .badge_sm {
                    + .badge_sm {
                        margin-left: 4px;
                    }
                }
            }
            .main_tab_menu {
                padding:0 20px;
                margin:10px 0 20px;
                a {
                    font-size: 22px;
                    font-weight: 700;
                    opacity: .2;
                    margin-right: 20px;
                    letter-spacing: -0.02em;
                    &.active {
                        opacity: 1;
                    }
                }
            }
            .btn_more_link {
                position: absolute;
                right: 20px;
                display: block;
                width: 16px;
                height: 16px;
                background: url(../images/guide/ico_plus_more.svg) no-repeat 0 0 / cover;
            }
        }
        // 히어로 배너 
        .here_banner_wrap {
            margin:0 20px 24px;
            .here_banner_box {
                display: flex;
                flex-direction: column;
                height: 292px;
                padding:20px;
                background-color: #fa607b;
                border-radius: 4px;
                color:#fff;
                img {
                    width: 130px;
                    margin-top: auto;
                }
            }
            .album_tit {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.4;
            }
            .album_info {
                font-size: 13px;
                opacity: .8;
                margin-top: 5px;
            }
            .option_box {
                position: absolute;
                right:20px;
                bottom:20px;
                z-index: 1;
                display: flex;
                .btn_all {
                    position: absolute;
                    right: 0;
                    top:0;
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: url(../images/guide/ico_plus_w.svg) no-repeat 50% / 9px;
                    z-index: 10;
                }

            }
            .swiper-pagination.swiper-pagination-fraction {
                position: static;
                height: 25px;
                transform: translateX(0);
                background-color: rgba(0, 0, 0, 0.3);
                padding-right: 25px;
                .swiper-pagination-current,
                .swiper-pagination-total {
                    line-height: 25px;
                }
            }
            .play_pause_box {
                margin-right: 4px;
                [class^=btn_] {
                    display: block;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
                .btn_play {
                    background:rgba(0,0,0,.3) url(../images/guide/ico_play.svg) no-repeat 50% / 7px;
                }
                .btn_pause {
                    background:rgba(0,0,0,.3) url(../images/guide/ico_pause.svg) no-repeat 50% / 5px;
                }
                &.play {
                    .btn_play {
                        display: none;
                    }
                    .btn_pause {
                        display: block;
                    }
                }
                &.pause {
                    .btn_play {
                        display: block;
                    }
                    .btn_pause {
                        display: none;
                    }
                }
            }
        }
        
        // 퀵메뉴
        .music_quick_menu {
            margin-bottom: 60px;
            padding:0 60px;
            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    margin-top:24px;
                    &:nth-child(-n + 3) {
                        margin-top: 0;
                    }
                    .ico {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 56px;
                        height: 56px;
                        background-color: #f7f7f7;
                        border-radius: 50%;
                        img {
                            display: block;
                            min-width: 32px;
                        }
                    }
                    .txt {
                        font-size: 13px;
                        color:#000;
                        letter-spacing: -0.01em;
                        margin-top: 4px;
                        &.marker {
                            position: relative;
                            &::after {
                                content: '';
                                display: block;
                                width: 4px;
                                height: 4px;
                                border-radius: 50%;
                                background-color: #da2128;
                                position: absolute;
                                right: -7px;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
        // 예약 상품
        .reserved_product_wrap {
            margin-bottom: 40px;
            position: relative;
            .btn_more_link {
                top:-87px;
            }
            .swiper-container {
                overflow: visible;
            }
            .swiper-slide {
                width: 70%;
                .product_box {
                    transform: scale(.8);
                }
                &.swiper-slide-active {
                    z-index: 10;
                    &.zoom_in {
                        .product_box {
                            animation: zoom_in 2s forwards;
                        }
                        .circle_txt {
                            animation-fill-mode: forwards, forwards;
                            animation-name: rotate_txt, rotate_txt_loop;
                            animation-delay: 1s, 0;
                            animation-duration: 1s, 3s;
                            animation-timing-function: ease, linear ;
                            animation-iteration-count: 1, infinite;
                            animation-direction: normal,normal;
                        }
                    }
                }
            }
            .product_box {
                text-align: center;
                position: relative;
                img {
                    width: 100%;
                }
                .circle_txt {
                    position: absolute;
                    color:#E6D6CA;
                    font-size: 44px;
                    font-weight: 700;
                    top:-20px;
                    left: 60%;
                    opacity: 0;
                }
            }
            @keyframes zoom_in {
                0% {
                    transform: scale(.8);
                }
                100% {
                    transform: scale(1);
                }
            }
            @keyframes rotate_txt {
                0% {
                    transform: rotate(0);
                    opacity: 0;
                }
                100% {
                    transform: rotate(180deg);
                    opacity: 1;
                }
            }
            @keyframes rotate_txt_loop {
                100% {
                    transform: rotate(360deg);
                    opacity: 1;
                }
            }
        }

        //예약 상품 구매내역
        .purchase_history_wrap {
            background: #fff4f1;
            padding:30px 0;
            margin-bottom: 60px;
            .swiper-container {
                padding-bottom: 20px;
                margin-left: 20px;
            }
            .purchase_box {
                display: flex;
                align-items: center;
                border: 1px solid #d5d5d5;
                background-color: #fff;
                border-radius: 4px;
                padding:24px 20px;
                .img_box {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    margin-right: 16px;
                    .d_day {
                        font-size: 30px;
                        color:#fff;
                        font-weight: 700;
                        position: absolute;
                        z-index: 10;
                        width: 100%;
                        top:20%;
                        left: 0;
                        text-align: center;
                    }
                    .date {
                        font-size: 12px;
                        color:#fff;
                        position: absolute;
                        z-index: 10;
                        width: 100%;
                        top:70%;
                        left: 0;
                        text-align: center;
                        font-weight: 700;
                    }
                    img {
                        width: 100%;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../images/guide/purchase_mask.svg) no-repeat 0 0 / cover;
                        position: absolute;
                        left: 0;
                        top:0;
                    }
                }
                .txt_box {
                    width: calc(100% - 116px);
                    .artist_name {
                        font-size: 13px;
                        color:#595959;
                    }
                    .album_name {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .txt {
                        margin-top: 8px;
                        font-size: 12px;
                        color:#595959;
                    }
                    .info_txt {
                        font-size: 12px;
                        font-weight: 700;
                        color:#D53020;
                    }

                }
            }
            .swiper-slide {
                width: calc(100% - 32px);
                box-sizing: border-box;
                &.swiper-slide-active {
                    .guage_box {
                        margin-top: 12px;
                        height: 6px;
                        background: #D5D5D5;
                        border-radius: 300px;
                        width: 100%;
                        // overflow:hidden;
                        .gauge_bar {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            &:after {
                                display: block;
                                content: '';
                                width: 0px;
                                height: 100%;
                                background-color: #DA2128;
                                position: absolute;
                                left: 0;
                                top: 0;
                                animation: loadingGauge 2s forwards;
                                animation-delay: 1s;
                                border-radius: 300px;
                            }
                            &::before {
                                display: block;
                                content: '';
                                width: 18px;
                                height: 18px;
                                background: url(../images/guide/img_hot_deal_time_s1.gif) no-repeat 0 0 / cover;
                                position: absolute;
                                bottom:0;
                                left:0;
                                transform: translateX(-10px);
                                z-index: 1;
                                opacity: 0;
                                animation: loadingGaugeIcon 2s forwards;
                                animation-delay: 1s;
                            }
                        }
                    }
                    @keyframes loadingGauge {
                        0% {
                        width: 0;
                        }
                        100% {
                        width: 100%;
                        }
                    }
                    @keyframes loadingGaugeIcon {
                        0% {
                        left:0;
                        opacity: 0;
                        }
                        10% {
                            opacity: 1;
                        }
                        100% {
                        left:100%;
                        opacity: 1;
                        
                        }
                    }
                }
            }
            .btn_all {
                display: block;
                margin:20px auto 0;
                width: max-content;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #fff;
                padding:12px 24px;
                font-weight: 500;
                span {
                    padding-right: 17px;
                    background: url(../images/guide/ico_plus_more.svg) no-repeat 100% 50% / 12px;
                }
            }
            .swiper-pagination.swiper-pagination-progressbar {
                width: calc(100% - 20px);
                transform: translateX(0);
                left: 0;
            }
        }

        // 새로나온 음반
        .new_album_wrap {
            margin-bottom: 60px;
        }

        // 실시간 차트
        .realtime_chart_wrap {
            margin-bottom: 60px;
            .chart_box {
                display: flex;
                align-items: center;
                padding:0 20px;
                flex: 1 1 0;;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                .rank_txt {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 13px;
                    font-weight: 700;
                    .num {
                        font-size: 15px;
                    }
                    .fluctuation {
                        font-size: 12px;
                        width: 26px;
                        text-align: center;
                        &.new {
                            color:#D53020;
                            font-weight: 700;
                        }
                        &.down {
                            &::before {
                                content: '▼';
                                margin-right: 2px;
                                transform: scale(.5);
                            }
                        }
                        &.up {
                            &::before {
                                content: '▲';
                                transform: scale(.5);
                                margin-right: 2px;
                                color:#d53020;
                            }
                        }
                    }
                }
                .album_img {
                    width: 20%;
                    min-width: 73px;
                    margin-right: 13px;
                    img {
                        width:100%;
                    }
                }
                .singer_name {
                    font-size: 13px;
                    color:#595959;
                }
                .album_name {
                    &.ellipsis_line2 {
                        height: auto;
                        max-height: 52px;
                    }
                }
                .detail_info {
                    display: none;
                }
                .btn_wrap {
                    display: none;
                }
                &.active {
                    padding:30px 20px;
                    background: url(../images/guide/@bg_realtime_bg.png) no-repeat 0 0 / cover;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .album_img {
                        display: none;
                    }
                    .chart_info {
                        width:calc(100% - 40px);
                    }
                    .album_name {
                        font-weight: 500;
                    } 
                    .detail_info {
                        display: block;
                        .cost {
                            display: block;
                            font-size: 12px;
                            color:#767676;
                            margin-top: 5px;
                        }
                        .sale_price {
                            font-size: 15px;
                            font-weight: 700;
                            margin-bottom: 8px;
                            span {
                                color:#d53020;
                            }
                        }
                        .badge_wrap {
                            margin-bottom: 24px;
                        }
                    }
                    .btn_wrap {
                        width: 100%;
                        display: flex;
                    }
                }
            }
        }

        // 추천앨범 개인화 영역 
        .frequently_txt {
            display: inline-block;
            background-color: #ffc7b7;
            padding:8px 16px;
            margin-bottom: 10px;
            border-radius: 500px;
            font-weight: 500;
            position: relative;
            max-width: 70%;
            left: 20px;
            top: -10px;
            text-align: center;
            .ellipsis_line2 {
                height: auto;
                max-height: 52px;
            }
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-bottom: 10px solid #ffc7b7;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                left: 20px;
                top:-8px;
                border-radius: 4px;
            }
        }
        // 팬사인회 소식
        .fan_sign_wrap {
            padding:0 20px;
            margin-bottom: 60px;
            .swiper-slide {
                width: 73%;
                min-width: 276px;
                opacity: .2;
                > img {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                &.swiper-slide-active {
                    opacity: 1;
                }
            }
            .txt_box {
                border: 1px solid #d5d5d5;
                border-top: 0 solid #000;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                text-align: center;
                padding:20px 0;
                .btn_sm {
                    min-width: 165px;
                }
                .artist_name {
                    color:#595959;
                    font-size: 13px;
                }
                .album_name {
                    font-weight: 500;
                    color:#000;
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
                .badge_wrap {
                    margin-bottom: 20px;
                }
                .period_txt {
                    color:#595959;
                    margin-bottom: 20px;
                    font-size: 13px;
                }
            }
            .swiper-container {
                padding-bottom: 28px;
                width: calc(100% + 20px);
            }
            .swiper-pagination.out_bottom  {
                width: calc(100% - 20px);
            }
            &.no_swiper {
                .swiper-container {
                    width: 100%;
                }
                .swiper-wrapper {
                    padding:0 30px;
                    box-sizing: border-box;
                }
                .swiper-slide {
                    opacity: 1;
                }
            }
        }

        // 영통팬싸
        .video_call_wrap {
            background-color: #fff4f1;
            padding:30px 20px;
            text-align: center;
            .tit                  {
                margin-left: 0;
            }
            .event_list {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            > a {
                display: inline-block;
                font-size: 13px;
                margin:0 auto;
                color:#595959;
                font-weight: 500;
                padding-right: 9px;
                background: url(../images/guide/ico_more_arrow.svg) no-repeat 100% 50%;
            }
        }

        // 핫한 해외 팝음반
        .overseas_hot_wrap {
            margin-bottom: 60px;
            padding:0 20px;
            position: relative;
            .thumb_img_list {
                position: absolute;
                display: flex;
                flex-direction: column;
                right:20px;
                width: 10%;
                min-width: 40px;
                li {
                    margin-bottom: 7px;
                    opacity: .5;
                    img {
                        width: 100%;
                    }
                    &.active {
                        opacity: 1;
                    }
                }
            }
            .record_info_area {
                .img_box {
                    width: 73%;
                    img {
                        width: 100%;
                        min-width: 276px;
                    }
                }
                .ellipsis_line2 {
                    height: auto;
                    max-height: 52px;
                }
            }
            .txt_box {
                padding-top: 10px;
                margin-top: 20px;
                border-top: 1px dashed #d5d5d5;
            }
            .btn_wrap {
                margin-top: 16px;
            }
            .product_info {
                font-size: 15px;
                margin-bottom: 8px;
            }
            .product_txt {
                margin:4px 0;
            }
        }

        // 음반상품 리스트
        .music_main_list {
            padding:0 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .product_info {
                font-size: 15px;
            }
        }

        // 새로 나온 음반
        .new_album_wrap {
            .swiper-container {
                padding-left: 20px;
                .swiper-slide {
                    width: calc(100% - 20px);
                    padding-right: 20px;
                }
            }
            .product_list__div {
                margin-bottom: 20px;
                .product_tit {
                    margin-top: 0;
                }
                .product_info {
                    font-size: 15px;
                }
            }
        }

        // 띠배너
        .belt_banner_wrap {
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 60px;
            .swiper-pagination {
                &.out_bottom {
                    bottom:0;
                }
            }    
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
        }
        
        // 클래식 음반 찾기
        .classic_album_search {
            background-color: #d53020;
            padding:30px 20px;
            color:#fff;
            text-align: center;
            .t1 {
                font-size: 16px;
                line-height: 1.63;
                letter-spacing: -0.016em;
                font-weight: 700;
            }
            .t2 {
                font-size: 12px;   
                letter-spacing: -0.012em;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin:18px 0 12px;
                width: 100%;
                height: 40px;
                border-radius: 25px;
                background: #fff url(../images/guide/ico_find.svg) no-repeat right 20px top 50% / 20px;
                font-size: 13px;
                color:#767676;
                letter-spacing: -0.012em;
            }
        }

        // LP SHOP 
        .lp_shop_wrap {
            margin-bottom: 60px;
            padding:0 20px;
            position: relative;
            .swiper-container {
                width: calc(100% + 20px);
                padding-bottom: 20px;
            }
            .swiper-slide {
                width: 37%;
                min-width: 140px;
                margin-right: 4.27%;
                img {
                    width: 100%;
                    border-radius: 4px;
                }
            }
            .swiper-pagination.swiper-pagination-progressbar {
                width: calc(100% - 20px);
                left: 0;
                transform: translateX(0);
            }
            .btn_more_link {
                top:-64px;
            }
        }
        // 특별한 할인상품
        .special_sale_wrap {
            background-color: #fffaf1;
            padding:40px 20px;
            .tit {
                margin-left: 0;
            }
            .scroll_tab {
                width: calc(100% + 20px);
                padding-left: 0;
            }
            .sale_list_wrap {
                position: relative;
                padding-bottom: 28px;
                .product_info {
                    font-size: 13px;
                }
                .swiper_ctrl_box {
                    margin: -20px 0 0;
                }
                &.no_swiper {
                    .swiper_ctrl_box { 
                        display: none;
                    }
                    .swiper-slide {
                        + .swiper-slide {
                            margin-top: 20px;
                        }
                    }
                }
            }
            .img_box {
                .btn_like {
                    right: 4px;
                    bottom:4px;
                }
            }
        }
    }
    
    // 상품 리스트 공통 타입 todo : list.scss로 정리해서 분류 할 것
    .product_list {
        .product_tit {
            font-size: 13px;
            letter-spacing: -0.013em;
            color:rgb(0,0,0);
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .product_txt {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.013em;
            color:rgb(0,0,0);
            margin-top: 4px;
        }
        .cost_t {
            font-size: 12px;
            color:#767676;
            margin-top: 8px;
            &::after {
                content: '원';
            }
        }
        .product_info {
            color:rgb(0,0,0);
            letter-spacing: -0.01em;
            .discount_t {
                line-height: 19px;
                font-weight: 700;
                color:rgb(218,33,40);
            }
            .price_t {
                font-weight: 700;
                &::after {
                    content: '원';
                    font-weight: 400;
                }
            }
            .text {
                font-weight: bold;
            }
        }
        .img_box {
            position: relative;
            .btn_like {
                position: absolute;
                right: 8px;
                bottom: 8px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: rgba(0,0,0,.3) url(../images/guide/ico_heart_w.svg) no-repeat 50% / 14px 12px;
                &.active {
                    background: rgba(0,0,0,.3) url(../images/guide/ico_heart_active.svg) no-repeat 50% / 14px 12px;
                }
            }
        }
        &__li {
            width: 47%;
            margin-bottom: 25px;
            .product_img {
                width: 100%;
                border-radius: 4px;
            }
        }
        &__group {
            width: 100%;
            .product_img {
                width: 100%;
                border-radius: 4px;
            }
        }
        &__div {
            width: 100%;
            display: flex;
            align-items: center;
            .product_img {
                width: 45%;
                margin-right:20px;
            }
        }
        + .btn_more {
            margin:0 auto 40px;
            padding:0 24px;
            width: max-content;
            height: 44px;
            border-radius: 4px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.014em;
                color:#000;
                padding-right: 23px;
                background: url(../images/guide/ico_reload.svg) no-repeat 100% 50% / 18px;
            }
        }
    }
}

