@charset "UTF-8";

/*=================================== 음반 리스트  ====================================*/
.main_cont_wrap {
    .main_tab_menu {
        position:relative;
        width:75%;
        max-width:480px;
        margin:12px auto 30px auto;
        text-align: center;
        white-space: nowrap;
        background:rgba(0,0,0,0);
        border:1px solid #D5D5D5;
        border-radius: 50px;
        border:1px solid #D5D5D5;
        &:before {
            content:"";
            position:absolute;
            left:0;
            top:-1px;
            width : 30%;
            height:calc(100% + 1px);
            border-radius: 50px;
            background-color: #000;
            border:1px solid #000;
            box-sizing: content-box;
            transition: left .1s ease-in-out;  
    
        }
        &.active0:before {
            left:0;
            width: calc(100% / 3); 
        }
        &.active1:before {
            left:calc(100% / 3); 
            width: calc(100% / 3); 
        }
        &.active2:before {
            left:calc((100% / 3 ) * 2);
            width: calc(100% / 3); 
            }
        & + .ctg_top_wrap {
            padding-top:0;

            .ctg_top_swiper {
                padding-top:0;
            }
        }
        a {
            position:relative;
            display:inline-block;
            width:calc(100% / 3);
            margin-left:-4px;
            font-size: 13px;
            color:#595959;
            letter-spacing: -0.03em;    

            &:first-of-type {
                margin:0;
            }
            &.active {
                color:#fff;
                font-weight: 700;
                .icon {
                    width:25px;
                    height:44px;
                }
            }
        }
        .icon {
            display:inline-block;
            vertical-align: middle;
            background:url(../images/guide/muse_menu_active_icon.svg) no-repeat left center  / 20px;
            width:0;
            height:0;
            //transition: width .2s, height .2s;
        }
        .txt {
            display:inline-block;
            vertical-align: middle;
            line-height: 44px;
        }
    }
}   

 /*=============================== HTR-M-MUS-LIST-001-1.html =================================*/
 .cont_wrap .tit_area {
    padding:0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom:12px;
    .tit {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.18px;
        text-align: left;
        white-space: nowrap;
    }
    .sub_tit {
        margin-left: auto;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 700;
        .sub {
            float:left;
			display:block;
            margin-right:16px;
            line-height: 32px;
            white-space: nowrap;
			color:rgba(0,0,0,0.2);
			font-size: 18px;
            &:last-of-type {
                margin-right:0;
            }
            &.active {
                color:#000;
            }
        }
    }
}
//리스트 날짜 정보
.list_time_info {
    padding:0 20px;
    margin-top: 20px;
   .time_info_tit {
       margin-bottom:5px;
       font-size: 16px;
        .date {
            position: relative;
            line-height:25px;
            margin-right: 5px;
            &:before {
                content:",";
                position:absolute;
                bottom:-3px;
                right:-3px;
                z-index: 3;
            }
        }
        .sub {
            line-height:25px;
        }
        .btn_info {
            width:25px;
            height:25px;
            background:url(../images/guide/arw_tooltip.png) no-repeat center center/ 20px;
        }
   }
    .time_info_sub {
        line-height: 20px;
        word-break: keep-all;
        font-size: 13px;
        color:#767676;
    }
}
/*===================================== 음반 리스트 팝업 =================================*/
.dialog_header.bd_none {
	border-bottom:1px solid #fff !important;
	.dialog_title_sub {
		margin-top:8px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		.icon_mus{
			display: block;
			width:20px;
			height:20px;
			margin-right:3px;
			background:url(../images/guide/mus_pop_sub_tit_icon.svg) no-repeat left center /13px;
		}
		.year,
		.month,
		.week,
		.day {
			margin-right:3px;
		}
		.rate {
			position:relative;
			margin-left: 5px;
			&:before {
				content:",";
				position:absolute;
				left:-5px;
				bottom:-1px;
				z-index: 3;
			}
		}
	}
}

#ClickCksClose_year .vertical_swap_contents,
#ClickCksClose_month .vertical_swap_contents,
#ClickCksClose_week .vertical_swap_contents,
#ClickCksClose_day .vertical_swap_contents{
     background-color: #F7F7F7;
     height:300px;
	 margin:0;
	 padding:0 20px;
	 position:relative;
	 &:before {
		content:"";
		position: absolute;
		left:20px;
		top:100px;
		width:calc(100% - 40px);
		height:50px;
		background-color: #fff;
		
	}
	.swiper-wrapper.ck_list{
		height:250px;
	}
	.swiper-slide{
		height:50px;
		line-height: 50px;
		font-size: 16px;
		text-align: center;
		&.swiper-slide-active {
			font-weight: 700;
			font-size: 20px;
		}
		&.swiper-slide-prev,
		&.swiper-slide-next{
			font-size: 18px;
		}
	}
	 .type_month {
		 display: flex;
		 flex-flow: row nowrap;
		 .chart_date_swap {
			&:first-of-type {
				flex:1 1 auto;
				padding-right:10px;
				.swiper-slide {
					text-align: right;
				}
			}
			&:last-of-type {
				flex:1 1 auto;
				padding-left:10px;
				.swiper-slide {
					text-align: left;
				}
			}
			
		 }
	 }
	 .type_week {
		display: flex;
		flex-flow: row nowrap;
		.chart_date_swap {
		   &:first-of-type {
			   flex:3 1 auto;
			   padding-right:10px;
			   .swiper-slide {
				text-align: right;
			   }
			   .swiper-slide-active{
				   padding-right:5px
			   }
			   .swiper-slide-prev,
			   .swiper-slide-next{
			    	padding-right:2px
			   }
		   }
		   &:nth-of-type(2) {
			flex:3 1 auto;
		}
		   &:last-of-type {
			   flex:4 1 auto;
			   padding-left:10px;
			   .swiper-slide {
				text-align: left;
		    	}
				.swiper-slide-active{
					padding-left:5px;
				}
				.swiper-slide-prev,
				.swiper-slide-next{
					padding-left:2px;
				}
		   }
		   
		}
	}
	 .dialog_footer.ctg_cks {
		 margin-top:0;
		 padding:0;
		 background-color: #F7F7F7;
		 .btn_black {
			 background-color: #000;
		 }
	 }
}
/*==================================== HTR-M-MUS-ETC-000.html(팬사인회)====================================*/
#content {
    padding-bottom:50px;
}
.pdb30{ padding-bottom:30px;}
.banner_basic02 ul.mgt30{margin-left:10px; margin-right:10px; width : auto;border-top:1px solid #e5e5e5;}
.banner_basic02 ul.mgt30 li{height: 80px; margin-top:20px; width : 100%; border-bottom:1px solid #e5e5e5; overflow: hidden;}

.banner_basic02 ul.mgt30 a {width: 100%; float :left;}
.banner_basic02 ul.mgt30 a span{display:block;margin-left:170px;  text-align:left; width : auto; font-size: 12px;}
.banner_basic02 div.bannerIcon img{vertical-align: middle;  position: absolute; left: 125px; z-index: 30; width: 35px;}

.banner_basic02 {position:relative;overflow:hidden;margin:0 10px 0 10px; }
.banner_basic02 li { background-color:#fff;text-align:center; }
.banner_basic02 li + li { margin-top:20px;padding-bottom:10px; }
.banner_basic02 a { background-color:#fff;max-width:100%;text-align:center;padding-bottom:10px; }
.banner_basic02 a.full { width:100%; }
.banner_basic02 a img { max-width:100%;}
.banner_basic02 a .pic_full img { width:100%; }
.banner_basic02 a .tit { padding-top:12px;white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;display:inline-block;font-size:14px;color:#010101}
.banner_basic02 a .txt { padding-top:5px;white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;display:inline-block;font-size:12px;color:#6a6a6a;height:14px;line-height:14px; }
.banner_basic02 a .prdt-name {padding-top:12px;white-space:nowrap;font-weight:bold;width:100%;overflow:hidden;text-overflow:ellipsis;display:inline-block;font-size:14px;color:#010101;text-align:center; }
.banner_basic02 a .price {padding-top:12px;width:100%;display:inline-block;text-align:center;font-size:14px;color:#f51d1d;font-weight:bold;height:14px;}
.banner_basic02 a .price span { font-size:12px;color:#a2a2a2;text-decoration:line-through;margin-right:10px; }

.banner_basic.col2 + .banner_basic.col2 {margin:0}
.paging.mb30 { height:30px; background-color: #fff !important;}