//슬라이더 영역
.module_wrap {
    margin-top:30px;
	background-color: #fff;
	overflow:hidden;
	&:first-of-type {
		margin:0;
	}
	.swiper {
		padding-right:20px;
	}
	.md_tab {
      display: flex;
	  flex-flow:row nowrap;
	  justify-content: center;
	  .md_anchor{
		  margin-left:16px;
		  font-size:18px;
		  letter-spacing: -0.022em;
		  line-height:26px;
		  font-weight:700;
		  color:rgba(0,0,0,0.2);
	   }
	  .md_anchor:first-of-type {
		margin-left:0;
	   }
	   .md_anchor.active {
		   color:#000;
	   }
	}
	//MD추천 스와이퍼
	.ctg_top_swiper{
		padding-bottom:30px;
		margin-bottom:30px;
		.prod-wrapper{
			padding-top:16px;
		}
		.swiper-slide{
            position:relative;
			width:217px;
			border-radius: 12px;
			overflow: hidden;
			box-sizing: border-box;
			height:auto;
			min-height: 100% !important;
            &:before {
                content:"";
                width:100%;
                height:100%;
                position: absolute;
                border-radius: 12px;
                border:2px solid #000;
                z-index: 2;
            }
			.product_pic{
				padding-top: 217px;
			}
			img{
				width:100%;
				height:auto;
			}
			.product_info{
				padding:0 20px 20px 20px;
			}
		}
		.swiper-pagination.out_bottom {
			height:auto;
			padding:0;
			background-color: #fff;
			bottom:0px;
			line-height:16px;
			.swiper-pagination-current{
				color:#000;
				line-height:16px;
			}
			.swiper-pagination-total{
				line-height:16px;
			}
		}
	}
}

// 띠배너
.mc_cont.resp {
	height:auto;
	margin:0;
}
.wel_belt_banner {
	position:relative;
&.round_ty .swiper-container {
	border-radius:10px;
	overflow:hidden;
}
.swiper-pagination.swiper-pagination-bullets {
	position:static;
	margin-top:12px;
	&.out_bottom {
		bottom:0;
	}
}    
.swiper-slide {
	img {
		width:100%;
	}
}
}
//구분선
.divide_hr{
	display: block;
    width:100%;
	height:8px;
	padding:0;
	border:none;
	background-color: #f7f7f7;
	margin:0;
	margin-top:40px;
}
//스티키 메뉴
.ctg_floating_line{
	padding:0 0 10px 20px;
	background-color: #fff;
	margin-top:32px;
    &.sub_mn {
        margin:0;
        padding:0 0 20px 20px;
        background-color: #F7F7F7;
    }
	span {
		display: block;
	}
	.menu_nm {
		display: inline-flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding-right:20px;
		margin-bottom:16px;
	}
	h3 {
		font-size: 20px;
		line-height:32px;
		letter-spacing: -0.02em;
		font-weight: 500;
	}
	.menu_nm_icon {
		width:12px;
		height:32px;
		margin-left:8px;
		background:url(../images/guide/arrow_down.svg) no-repeat center center / 80%;
	}
	.ctg_floating_menues {
		display: flex;
		flex-flow: row nowrap;
		overflow-x: auto;
		padding: 1px 20px 1px 0;

		li,
        button { 
			flex-shrink: 0;
			padding:8px 14px;
			border:1px solid #d5d5d5;
			border-radius: 20px;
			margin-right: 4px;
			font-size: 13px;
			color:#767676;
			letter-spacing: -0.013em;
            background-color: #fff;
			&:last-of-type{
				margin-right:0;
			}
			&.arrow_li{
				padding-right:35px;
				background:url(../images/guide/arrow_down.svg) no-repeat right 14px top 50% / 9px;
                background-color: #fff;
			}
			&.active{
				color:#fff;
				background-color: #000;
				border-color:#000;
			}
		}
		li.arrow_li {
			position:relative;
			em{
				display:none;
				font-size: 11px;
				color:#fff;
				position:absolute;
				background-color:#000;
				top:8px;
				right:8px;
				min-width:18px;
				height:18px;
				border-radius: 50%;
				text-align: center;
				line-height: 19px;;
			}
			&.checked_status em{
				display:block;
			
			}
		}
	}
}
//상품 리스트 영역
.ctg_prod_wrap {
	padding:0 20px;
	color:#292929;
	.prod_list_info {
	   margin-top: 20px;
	   display: flex;
	   flex-flow: row nowrap;
	   justify-content: space-between;
	}
	span {
		display: block;
		line-height: 19px;
	}
	.prod_ea {
		color:#767676;
	}
	.right_side {
		display: flex;
		flex-flow: row nowrap;
	}
	.sort_nm {
		font-weight: 500;
		padding-right:14px;
		background:url(../images/guide/arrow_down.svg) no-repeat right 0px top 50% / 10px;
	}
	.ctg_list_icon{
		margin-left:15px;
		width:14px;
		height:19px;
		background: url(../images/guide/ico_ctg_list_type1.svg) no-repeat center center / 14px;
	}
	.ctg_list_icon.row_list{
		background: url(../images/guide/ico_ctg_list_type2.svg) no-repeat center center / 14px;
	}
}
//품절 대체 슬라이더
.replace_prod_swap {
	position:relative;
	display:none;
	background-color: #F2E3CB;
	width: 100vw;
	padding:32px 0 32px 20px;
	margin:36px -20px 0 -20px;
	&:before{
		content:"";
		position:absolute;
		border-top:12px solid #F2E3CB;
		border-left:12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid transparent;
		transform: rotate(-180deg);
		z-index: -1;
		left:20px;
		top:-23px;
	}
	.swiper {
		padding-right: 20px;
	}
	.close_swap{
		position: absolute;
		display: block;
		width: 24px;
		height: 24px;
		background-image: url(../images/guide/btn_dialog_close.svg);
		background-size: 24px 24px;
		top:35px;
		right:20px;
		}
	.tit{
		position:relative;
		width:calc(100% - 45px);
		color:#000;
		.txt{
			float:left;
			font-size:20px;
			line-height: 29px;
			font-weight: 700;
			letter-spacing: -0.02em;
		}
		.replace_icon{
			float:left;
			width:32px;
			height:32px;
			margin-left:5px;
			background:url(../images/guide/replace_swipe_icon.svg) no-repeat center center/29px;
		}
	}
	.sub_title{
		line-height: 20px;
		letter-spacing: -0.014em;
		color:#767676;
		clear:both;
	}
	.prod-wrapper .prod_item{
		width:140px;
		height: unset;
		margin-top:0;
	}
	.product_pic:before{
		display: none;
	}
}
.show_bubble {
	display: block;
}

.evt_products {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items: flex-start;
	align-content: flex-start;
	.prod_item {
		width: calc((100% - 20px)/2);
		cursor:pointer;
		margin-top:24px;
		&:nth-of-type(2){
			margin-top:0;
		}
	}
	.product_pic{
		width:100%;
		padding-top: 100%;
		position: relative;
	}
	.product_info{
		width:100%;
	}
	.sold_out .product_pic:before{
		content:"";
		position:absolute;
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.6);
		border-radius: 5%;
		top:0;
		left:0;
		z-index: 1;
		overflow: hidden;
	}
	.show_replace{
		display: none;
		width:100%;
		position:absolute;
	    text-align: center;
		color:#fff;
		font-size: 13px;
		font-weight: 700;
		z-index: 2;
		top:50%;
		left:0;
		transform: translateY(-50%);
		div{
			line-height:19px;
			letter-spacing: -0.013em;
		}
	}
	.replace_prod_btn{
		margin:0 auto;
		margin-top: 11px;
		height:24px;
		padding:0 6px;
		background-color: #fff;
		border-radius: 4px;
		line-height:24px;
		color:#000;
		font-size: 12px;
		display:none;
	}
	.sold_out .show_replace{
		display: block;
	}
	//두줄 정렬일때 품절 대체 상품 슬라이더
	.prod_item:nth-of-type(2n) .replace_prod_swap{
		margin-right:0;
		margin-left: calc(-100vw + 100% + 20px);
		&:before{
			content:"";
			position:absolute;
			left:calc(100% - 40px);
		}
	}
	.prod_item:nth-of-type(2n+1) .replace_prod_swap{
		margin-right:0;
	}
}
.evt_products.row_dir{
	display:block;
	padding-top:20px;
	.prod_item{
		width:100%;
		margin-top:25px;
        display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	    align-content: center;
	    align-items:center;
		cursor:pointer;
		span{
			display: block;
		}
		&:first-of-type{
			margin-top:0;
		}
		.company{
			display: block;
		}
	}
	.product_pic{
		position:relative;
		width: calc((100% - 20px )/2);
		height:0;
		padding-top:calc((100% - 20px )/2);
		overflow: hidden;
		flex-shrink: 0;
		img{
			width:100%;
			position:absolute;
			top:0;
			left:0;
		}
	} 			
	.product_info{
		width: calc((100% - 20px )/2);
		padding-left:20px;
		flex-shrink: 0;
	}
	.replace_prod_swap{
		&:before{
			content:"";
			position:absolute;
			left:40px !important;
		}
		.mySwiper .swiper-wrapper{
			align-items: flex-start;
		}
		.prod_item{
			width:140px;
			margin-top:0;
		}
		.product_pic{
			width:100%;
			height:0;
			padding-top:140px;
		}
		
	}
}
//품절 대체 상품 스왑이 있는 항목
.replace_prod{
	.replace_prod_btn{
		display:block;
	}
}
//솔로 배너
.solo_banner{
	margin:30px 0;
	img{
		width:100%;
	}
}
 //더보기 버튼 영역
 .btn_more_div{
	margin-top:26px;
	.more_btn{
		width:71px;
		height:24px;
		margin:0 auto;
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: 24px auto;
	}
 }
 /*=============================== HTR-M-MUS-LIST-001-1.html =================================*/
 .wrap .tit_area {
    padding:0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom:12px;
    .tit {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.18px;
        text-align: left;
        white-space: nowrap;
    }
    .sub_tit {
        margin-left: auto;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
        .sub {
            float:left;
			display:block;
            margin-right:10px;
            line-height: 32px;
            white-space: nowrap;
			color:rgba(0,0,0,0.2);
			font-size: 18px;
            &:last-of-type {
                margin-right:0;
            }
            &.active {
                color:#000;
            }
        }
    }
}
//상단 메뉴 1depth 
.ctg_topMenu {
    width:100%;
    overflow: hidden;
    position:relative;
    background-color: #F7F7F7;
    .inner_wrap{
        width:100%;
        overflow-x: auto;
        display:flex;
        flex-flow:row nowrap;
        padding:20px;

    }
    a{
        flex-shrink: 0;
        display: block;
        position:relative;
        letter-spacing: -0.15px;
        font-weight:500;
        color:rgba(0,0,0,0.2);
        white-space: nowrap;
        margin-left:16px;
        font-size: 16px;
    
        &:first-of-type{
            margin-left:0px;
        }
        &.active{
            color:#000;
        }    
    }
}
//리스트 날짜 정보
.list_time_info {
    padding:0 20px;
    margin-top: 20px;
   .time_info_tit {
       margin-bottom:5px;
       font-size: 16px;
        .date {
            position: relative;
            line-height:25px;
            margin-right: 5px;
            &:before {
                content:",";
                position:absolute;
                bottom:-3px;
                right:-3px;
                z-index: 3;
            }
        }
        .sub {
            line-height:25px;
        }
        .btn_info {
            width:25px;
            height:25px;
            background:url(../images/guide/arw_tooltip.png) no-repeat center center/ 20px;
        }
   }
    .time_info_sub {
        line-height: 20px;
        word-break: keep-all;
        font-size: 13px;
        color:#767676;
    }
}
//상품 리스트 영역
ul.prod-wrapper.column_dir {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items: flex-start;
	align-content: flex-start;
    padding:0;
 .prod_item {
	width: calc((100% - 20px)/2);
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	cursor:pointer;
	margin-top:20px;
	&:nth-of-type(1),
	&:nth-of-type(2){
		margin-top:0;
	}
	&:last-of-type{
		margin-right:0;
	}
 }
 .product_pic {
	 width:100%;
	 padding-top: 100%;
 }

}
ul.prod-wrapper.row_dir {
    margin-top:20px;
    padding:20px 20px 0 20px;
	.prod_item{ 
        position:relative;
		margin:0;
		margin-top:40px;
        display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		cursor:pointer;
		span {
			display: block;
		}
		&:first-of-type {
			margin-top:0;
		}
	}
    .product_pic {
        position:relative;
        width:158px;
        height:0;
        padding-top:158px;
        overflow: hidden;
        flex-shrink: 0;
        margin-bottom:0;
        img{
            width:100%;
            position:absolute;
            top:0;
            left:0;
        }
    } 			
    .product_info {
        flex-grow:1;
        padding-left:19px;
    }
    .title {
        margin-bottom:8px;
    }
}
//랭킹
.list_section{
    .rangking {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width:52px;
        height:50px;
        text-align: center;
        line-height: 50px;
        top:-20px;
        left:-10px;
        z-index: 30;
        color:#000;
        font-weight: 700;
        background:url(../images/guide/lank_noraml.svg) no-repeat center center / 50px;
        &.none_icon {
            .rank_icon{
                display: none;
            }
        }
        .rank_icon{
            width:10px;
            height:15px;
            margin-left:2px;
            margin-top:-1px;
        }
        .rank{
            display: block;
        }
        &.down .rank_icon{
            background:url(../images/guide/lank_noraml_up.svg) no-repeat center center / 9px;
            transform: rotate(180deg);
        }
        &.up .rank_icon{
            background:url(../images/guide/lank_noraml_up.svg) no-repeat center center / 9px;
            margin-top:-2px;
        }

        &.same .rank_icon{
            position:relative;
        }
        &.same .rank_icon:before{
            content:"";
            position:absolute;
            width:7px;
            height:2px;
            right:14px;
            background-color: #000;
            top:50%;
            left:0;
            margin-top:-2px;
    
        }
    }
    @for $lank from 1 through 5 {
        .list_block:first-of-type .prod_item:nth-of-type(#{$lank}) .rangking{
            color:#fff;
            background:url(../images/guide/lank_hot.svg) no-repeat center center / 50px;
            border:none;
            &.none_icon {
                .rank_icon{
                    display: none;
                }
            }    
            .rank{
                display: block;
            }
            .rank_icon{
                display: block;
                width:10px;
            }
            &.down .rank_icon{
                background:url(../images/guide/lank_hot_up.svg) no-repeat center center / 9px;
                transform: rotate(180deg);
            }
            &.up .rank_icon{
                background:url(../images/guide/lank_hot_up.svg) no-repeat center center / 9px;
                transform: rotate(360deg);
            }
    
            &.same .rank_icon:before{
                content:"";
                position:absolute;
                width:7px;
                height:2px;
                right:14px;
                background-color: #fff;
                top:50%;
                margin-top:-2px;
                left:0;
                z-index: 20;
            }
        }  
    }
}
/*===================================== 음반 리스트 팝업 =================================*/
.dialog_header {
	border-bottom:1px solid #fff !important;
	.dialog_title_sub {
		margin-top:8px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		.icon_mus{
			display: block;
			width:20px;
			height:20px;
			margin-right:3px;
			background:url(../images/guide/mus_pop_sub_tit_icon.svg) no-repeat left center /13px;
		}
		.year,
		.month,
		.week,
		.day {
			margin-right:3px;
		}
		.rate {
			position:relative;
			margin-left: 5px;
			&:before {
				content:",";
				position:absolute;
				left:-3px;
				bottom:-3px;
				z-index: 3;
			}
		}
	}
}

#ClickCksClose_year .vertical_swap_contents,
#ClickCksClose_month .vertical_swap_contents,
#ClickCksClose_week .vertical_swap_contents,
#ClickCksClose_day .vertical_swap_contents{
     background-color: #F7F7F7;
     height:300px;
	 margin:0;
	 padding:0 20px;
	 position:relative;
	 &:before {
		content:"";
		position: absolute;
		left:20px;
		top:100px;
		width:calc(100% - 40px);
		height:50px;
		background-color: #fff;
		
	}
	.swiper-wrapper.ck_list{
		height:250px;
	}
	.swiper-slide{
		height:50px;
		line-height: 50px;
		font-size: 16px;
		text-align: center;
		&.swiper-slide-active {
			font-weight: 700;
			font-size: 20px;
		}
		&.swiper-slide-prev,
		&.swiper-slide-next{
			font-size: 18px;
		}
	}
	 .type_month {
		 display: flex;
		 flex-flow: row nowrap;
		 .chart_date_swap {
			&:first-of-type {
				flex:1 1 auto;
				padding-right:10px;
				.swiper-slide {
					text-align: right;
				}
			}
			&:last-of-type {
				flex:1 1 auto;
				padding-left:10px;
				.swiper-slide {
					text-align: left;
				}
			}
			
		 }
	 }
	 .type_week {
		display: flex;
		flex-flow: row nowrap;
		.chart_date_swap {
		   &:first-of-type {
			   flex:4 1 auto;
			   padding-right:10px;
			   .swiper-slide {
				text-align: right;
			   }
			   .swiper-slide-active{
				   padding-right:5px
			   }
			   .swiper-slide-prev,
			   .swiper-slide-next{
			    	padding-right:2px
			   }
		   }
		   &:nth-of-type(2) {
			flex:2 1 auto;
		}
		   &:last-of-type {
			   flex:4 1 auto;
			   padding-left:10px;
			   .swiper-slide {
				text-align: left;
		    	}
				.swiper-slide-active{
					padding-left:5px;
				}
				.swiper-slide-prev,
				.swiper-slide-next{
					padding-left:2px;
				}
		   }
		   
		}
	}
	 .dialog_footer.ctg_cks {
		 margin-top:0;
		 padding:0;
		 background-color: #F7F7F7;
		 .btn_black {
			 background-color: #000;
		 }
	 }
}
