@import "ht_product_mok.scss"; 
.product_info_area{
    .tit_wrap .rating_score_wrap{
        margin-top:8px;
        margin-bottom:12px;
    }
}
.contents_wrap .product_info_area .price_wrap {
    display: flex;
    flex-flow: row wrap;
    margin-bottom:3px;
    .sale_price, 
    .real_price{
        line-height: 32px;
    }
    .real_price{
        margin-left:8px;
    }

}
.cpon_bubble {
    position:relative;
    display: inline-block;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 17px;
    padding:8px 16px 8px 10px;
    border-radius: 50px;
    &:before{
        content:"";
        position:absolute;
        border-top:7px solid #000;
        border-left:7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
        transform: rotate(-180deg);
        z-index: -1;
        left:16px;
        top:-12px;
    }
}
.product_deliinfo_area .info_wrap {
    margin-bottom:4px;
    .list_info .txt_dt{
        padding:0;
        line-height:20px;
        margin-bottom:20px;
    }
    .list_info .txt_dd {
        padding:0;
        line-height:20px;
        margin-bottom:20px;
        word-break: keep-all;
        .ico_more {
          display: inline-block;
          font-size: 13px;
          margin-top:4px;
          line-height:19px;
          color:#595959;
        }
    }

}
.product_deliinfo_area .freebie_wrap {
    position:relative;
    padding:16px 20px;
    .figure{
        top:46px;
    }
    .txt_desc{
        padding-left:50px;
        font-size: 13px;
        margin-top: 16px;
        .title{
            font-size: 14px;
            font-weight:500;
        }
        &:nth-of-type(1){
            margin-top: 0;
        }
        span{
            word-break: keep-all;
        }
    }
}
.notice_area_alarm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom:24px;
    .thumnail_notice{
        width:99px;
        position:relative;
        height:0;
        padding-top:99px;
        img{
            position:absolute;
            top:0;
            left:0;
        }
    }
    .account_notice {
        width:calc(100% - 99px);
        padding-left:16px;
        .txt_tit {
            display: flex;
            position:relative;
            div{
                overflow:hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
                margin-bottom:8px;
            }
            img{
              margin-left:3px;
            }
        }
        .txt_desc {
            font-size: 13px;
            line-height:19px;
            margin-bottom:8px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
        }
        .link_live{
            display: block;
            line-height:19px;
            color:#767675;
            font-size: 13px;
            overflow:hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
        }
    }
}
.product_area{
    .info_all_area{
        .txt_dec{
            word-break: keep-all;
        }
    }
    .product_detailinfo_area{
        margin-top:24px;
        flex-wrap: nowrap;
         .list_info{
            .txt_dt, 
            .txt_dd{
                padding:0;
                margin-bottom:16px;
                line-height: 20px;
                word-break: keep-all;
                &:last-of-type{
                    margin-bottom:0;
                }
            }
            .txt_dd{
                padding-left:5px;
            }
         }

    }
}

.btn .txt.ico_review{
    background: url(../images/ico/ico_review.svg) no-repeat 0 5px;
    background-size: 18px auto;
    padding-left: 22px;      
}
.hotpick_area{
    margin-bottom: 22px;
    .tit_sub_area {
        padding:12px 0 16px 0;
        .tit{
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.rating_reaction_wrap .txt_value{
    color:#595959;
}
.review_best_area{
    .tit_con_area{
        padding-bottom: 24px;
        .tit{
            line-height:32px;
        }
    }
    .tooltip_wrap{
        width:22px;
        height:32px;
        background: url(../images/guide/ico_tooltip_guide.svg) no-repeat center center / 22px;
    }
    .progress_container{
        .progressbar .bg_black{
            background-color: #000;
        }
    }
}

.multi_review_area{
    .right_area .form_sel select{
      font-size: 13px;
    }
}

.all_review_wrap{
    .review_reply {
        border-top: 1px solid #eaeaea;
        padding: 10px 4px 0 4px;
        margin-top: 20px;
        .byte_check_wrap {
            display: none;
            &.active {
                display: block;
            }
            .form_textarea {
                height: 80px;
                padding:12px 16px;
            }
        }
        .reply_list .reply_list_item {
            position: relative;
            padding: 20px 40px;
            box-sizing: border-box;
            background-color: #f7f7f7;
            margin-top: 4px;
            border-radius: 10px;
            .review_user_info:before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 9px;
                background-image: url('../images/guide/arw_reply.svg');
                background-size: 8px 9px;
                position: absolute;
                top: 24px;
                left: 20px;
            }
            .info_text {
                color: #000;
            }
        }
        .btn_more_body {
            margin-top: 12px;
        }
    }
    .rereply_btn_footer{
        padding:0 4px;
    }
}

.all_qa_wrap{
    .review_inner .review_comment_area{
        padding-bottom:50px;
        position: relative;
        .txt_review{
            line-height: 20px;
        }
        .btn_expand{
            position: absolute;
            bottom:20px;
            left:0;
        }
        .ico_circle_more{
            position: relative;
            width:20px;
            height:20px;
            background:url(../images/ico/ico_arrow.png) no-repeat center center /20px;
            transform: rotate(180deg);
        }
        .btn_expand.btn_up{
            .ico_circle_more{
                position: relative;
                width:20px;
                height:20px;
                background:url(../images/ico/ico_arrow.png) no-repeat center center /20px;
                transform: rotate(0deg);
            }
        }
    }
    .review_inner.secret_cmt{
        .txt_review{
            position:relative;
            padding-left:20px;
            &:before{
                content:"";
                position:absolute;
                width:18px;
                height:18px;
                left:0;
                top:0; 
                background: url(../images/ico/ico_lock.png) no-repeat center 1px /14px;
            }
        }
    }
}

//장바구니 팝업(옵션 선택)
.dialog_wrapper .ui-dialog.dialog_bottom .dialog_wrap.option_pop_wrap{
    .dialog_header{
        padding:0;
        border:none;
    }
    .dialog_header .close{
        width:25px;
        height:25px;
        margin:0 auto;
        background:url(../images/guide/ico_arrow_down_light.svg) no-repeat center center /23px;
    }
    .dialog_contents{
        margin-top:0;
        .selec_lb{
            margin-bottom:12px;
        }
        .title_selec{
            border:1px solid #D5D5D5;
            border-radius: 6px;
            margin-bottom:16px;
            color:#767676;
            &.active{
                border:1px solid #000;
                color:#000;
            }
            .selected_option{
                position:relative;
                padding:15px 37px 15px 14px;
                display: flex;
                flex-flow: row nowrap;
            }
            .selec_icon{
                position: absolute;
                width:9px;
                height:5px;
                right:17px;
                top:23px;
                background:url(../images/guide/ico_arrow_down.svg) no-repeat center center / cover;
                transform: rotate(180deg);
            }
            .selec_icon.open{
                background:url(../images/guide/ico_arrow_down.svg) no-repeat center center / cover;
                transform: rotate(0deg);
            }
            .option_ul{
                max-height: 200px;
                overflow:auto;
                display: none;
                border-top:1px solid #000;
                li{
                   height:50px;
                   padding:15px 14px;
                   &:active,
                   &:hover{
                       background-color: #F5F5F5;
                   }
                }
            }
        }
        .buy_info{
            background: #F7F7F7;
            padding:16px;
            margin-bottom:16px;
            .prod_nm{
                padding-right:20px;
                position:relative;
                word-break: keep-all;
                margin-bottom:10px;
                .close{
                    position:absolute; 
                    width:15px;
                    height:15px;
                    top:0;
                    right:0;
                    background: url(../images/guide/ico_close_light.svg) no-repeat center center/ 13px;
                }
            }
            .prod_count{
                display: flex;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                flex-flow: row nowrap;
                .input_wrap{
                    display: flex;
                    justify-content: flex-start;
                    background-color: #fff;
                    width:102px;
                    height:36px;
                    border-radius: 6px;
                    border:1px solid #707070;
                    input{
                        width:52px;
                        outline: none;
                        font-weight: 500;
                        text-align: center;
                    }
                }
                button{
                    display: block;
                    width:45px;
                    height:36px;
                }
                .down_btn{
                    background: url(../images/guide/ico_input_down.svg) no-repeat center center/ 12px;
                }
                .up_btn{
                    background: url(../images/guide/ico_input_up.svg) no-repeat center center/ 12px;
                }
                .cpon{
                    position:relative;
                    height:30px;
                    line-height: 16px;
                    padding:6px 10px 6px 22px;
                    background-color: #fff;
                    border-radius: 6px;
                    border:1px solid #707070;
                    margin-left:8px;
                    font-size: 12px;
                    font-weight: 500;
                    &.disabled{
                        color:#D5D5D5;
                        border:1px solid #D5D5D5;
                        &:before{
                            content:"";
                            position: absolute;
                            width:12px;
                            height:12px;
                            left:8px;
                            top:8px;
                            background: url(../images/guide/ico_coupon_down_gray.svg) no-repeat center center/ 10px;
                        }
                    }
                    .highlight{
                        color:#DA2128;
                    }
                    &:before{
                        content:"";
                        position: absolute;
                        width:12px;
                        height:12px;
                        left:8px;
                        top:8px;
                        background: url(../images/guide/ico_coupon_down_black.svg) no-repeat center center/ 10px;
                    }
                }
                .price{
                   font-weight: 700;
                   font-size: 16px;
                   margin-left:auto;
                }
            }
        }
        .buy_result{
            display: flex;
            justify-content: space-between;
             font-weight: 700;
             padding-bottom: 10px;
            .result em{
                color:#DA2128;
                line-height: 26px;
                margin:0 3px;
            }
            .total{
                font-size: 18px;
                line-height: 26px;
                em{
                    margin-right:3px;
                }
            }
        }
    }
} 
