.ht_ {
    .prod_purchase_info_wrap {
        .btn_wish {
            flex: 0 1 auto;
        }
        .btn_ip  {
            padding:0 5px;
        }
        .btn_wrap {
            &.overlap {
                flex: 1 0 auto;
            }
        }
    }
    .prod_detail_header {
        padding:0 20px 56px;
    }
    .prod_detail_contents {
        padding:0 20px 112px;
        .tab_content {
            &.sps-blw {
                padding-top: 40px;
            }
        }
    }
    .product_area {
        padding-top: 40px;
    }
}
