@import "ht_product_mok.scss"; 
.product_info_area{
    .tit_wrap .rating_score_wrap{
        margin-top:8px;
        margin-bottom:12px;
    }
}
.contents_wrap .product_info_area .price_wrap {
    display: flex;
    flex-flow: row wrap;
    margin-bottom:3px;
    .sale_price, 
    .real_price{
        line-height: 32px;
    }
    .real_price{
        margin-left:8px;
    }

}
.cpon_bubble {
    position:relative;
    display: inline-block;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 17px;
    padding:8px 16px 8px 10px;
    border-radius: 50px;
    &:before{
        content:"";
        position:absolute;
        border-top:7px solid #000;
        border-left:7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
        transform: rotate(-180deg);
        z-index: -1;
        left:16px;
        top:-12px;
    }
}
.product_deliinfo_area .info_wrap {
    margin-bottom:4px;
    .list_info .txt_dt{
        padding:0;
        line-height:20px;
        margin-bottom:20px;
    }
    .list_info .txt_dd {
        padding:0;
        line-height:20px;
        margin-bottom:20px;
        .ico_more {
          display: inline-block;
          font-size: 13px;
          margin-top:4px;
          line-height:19px;
          color:#595959;
        }
    }

}
.product_deliinfo_area .freebie_wrap {
    position:relative;
    padding:16px 20px;
    .figure{
        top:46px;
    }
    .txt_desc{
        padding-left:50px;
        font-size: 13px;
        margin-top: 16px;
        .title{
            font-size: 14px;
            font-weight:500;
        }
        &:nth-of-type(1){
            margin-top: 0;
        }
        span{
            word-break: keep-all;
        }
    }
}
.notice_area_alarm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom:24px;
    .thumnail_notice{
        width:99px;
        position:relative;
        height:0;
        padding-top:99px;
        img{
            position:absolute;
            top:0;
            left:0;
        }
    }
    .account_notice {
        width:calc(100% - 99px);
        padding-left:16px;
        .txt_tit {
            display: flex;
            position:relative;
            div{
                overflow:hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
                margin-bottom:8px;
            }
            img{
              margin-left:3px;
            }
        }
        .txt_desc {
            font-size: 13px;
            line-height:19px;
            margin-bottom:8px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
        }
        .link_live{
            display: block;
            line-height:19px;
            color:#767675;
            font-size: 13px;
            overflow:hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
        }
    }
}
.info_all_area{
    .txt_dec{
        word-break: keep-all;
    }
}