.ht_ {
    /* header common */
    .header_wrapper {
        .header_center {
            padding-top: 0;
            .page_title {
                opacity: 0;
                img {
                    width: 28px;
                    border-radius: 4px;
                    margin-right: 10px;
                }
            }
        }
        &.active_product {
            .btn_header_home {
                display: none;
            }
            .btn_header_search {
                display: none;
            }
            .header_center {
                .page_title {
                    opacity: 1;
                    display: flex;
                    font-size: 14px;
                    font-weight: 500;
                    color:#000;
                    transition:opacity 0.5s;
                    span {
                        display: inline-block;
                        width: calc(100% - 38px);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .prod_purchase_info_wrap {
        .btn_wish {
            flex: 0 1 auto;
        }
        .btn_ip  {
            padding:0 5px;
        }
        .btn_wrap {
            &.overlap {
                flex: 1 0 auto;
            }
        }
    }
    .prod_detail_header {
        padding:0 20px 56px;
        .visual_wrap img{
            max-width:100%;
            max-height:none;
            height:auto;
        }
    }
    .prod_detail_contents {

        padding:0 20px 112px;
        .tab_content {
            &.sps-blw {
                padding-top: 40px;
            }
        }
    }
    .product_area {
        padding-top: 40px;
    }
}

/* 팝업 */
.coupon_box {
    width: 100%;
    padding:20px 24px;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    position: relative;
    letter-spacing: -0.01em;
    + .coupon_box {
        margin-top: 16px;
    }
    .t_sale {
        font-size: 20px;
        font-weight: 700;
        color:#DA2128;
    }
    .t_name {
        font-size: 14px;
        font-weight: 700;
        color:#000;
    }
    .t_guide {
        margin-top: 6px;
        font-size: 12px;
        color:#767676;
    }
    .t_date {
        font-size: 12px;
        color:#767676;
    }
    .t_help {
        margin-top: 8px;
        font-size: 11px;
        color:#767676;
    }
    .btn_coupon_download {
        width: 100%;
        margin-top: 17px;
        padding-top: 16px;
        border-top: 1px dotted #D5D5D5;
        font-size: 13px;
        font-weight: 700;
        color:#DA2128;
        .ico_coupon {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            background: url(../images/guide/ico_coupon_down.svg) no-repeat 50% 50% / 16px;
        }
        .ico_coupon_end {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            background: url(../images/guide/ico_coupon_end.svg) no-repeat 50% 50% / 14px;
        }
    }
    &::before,
    &::after {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        border: 1px solid #d5d5d5;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top:138px;
    }
    &::before {
        left: -17px;
    }
    &::after {
        right: -17px;
    }
    &.disabled {
        background-color: #F2F2F2;
        .t_sale,
        .t_name,
        .t_guide,
        .t_date,
        .t_help,
        .btn_coupon_download {
            color:#767676;
        }
    }
}
/* 단순 정보성 텍스트 */
.info_text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #595959;
    .btn_text_link {
        display: inline;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        .text {
            display: inline;
            text-decoration: underline;
        }
    }
    &.font_size_xs {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.01em;
        + .info_text.font_size_xs {
            /* TODO : 가이드에 13PX + 13PX 사이 여백 추가될 때 수정 필요 */
            margin-top: 16px;
        }
    }
    &.font_size_xxs {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        + .info_text.font_size_xxs {
            /* TODO : 가이드에 12PX + 12PX 사이 여백 추가될 때 수정 필요 */
            margin-top: 16px;
        }
    }
    &.font_size_def {
        font-size: 15px;
        line-height: 23px;
        letter-spacing: -0.01em;
        color: #000;
        font-weight: 500;
        margin-bottom: 13px;
    }
    + .info_text {
        margin-top: 14px;
    }
}

/*===== 상품 섬네일 아이템 =====*/
.thumbnail_product_item {
    position: relative;
    /* 상품 섬네일 가로형 */
    /* 섬네일 사이즈 별 */
    &:after {
        // content: "전시 템플릿 정의 후 작업";
        position: absolute;
        display: inline-block;
        color: #fff;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 0, 0, 0.5);
        pointer-events: none;
    }
    &.vertical_type {
        width: 134px;
        .thumbnail_area {
            display: block;
            overflow: hidden;
            width: 100%;
            min-height: 10px;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            background-color: #eaeaea;
            .link_thumbnail {
                display: block;
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .info_area {
            display: block;
            width: 100%;
            margin-top: 16px;
            box-sizing: border-box;
            &.align_center {
                margin-top: 10px;
                text-align: center;
                [class^=info_] {
                    text-align: center;
                }
                .info_product_name {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    display: block;
                    overflow: hidden;
                    max-height: 36px;
                    line-height: 18px;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: -o-ellipsis-lastline;
                    white-space: normal;
                    .link_text {
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: -0.01em;
                        text-align: center;
                    }
                }
            }
            .info_product_name {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                color: #000;
                display: block;
                overflow: hidden;
                max-height: 44px;
                line-height: 22px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: -o-ellipsis-lastline;
                white-space: normal;
                .link_text {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    color: #000;
                    &.multi_ellipsis {
                        display: block;
                        overflow: hidden;
                        max-height: 46px;
                        line-height: 23px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: -o-ellipsis-lastline;
                        white-space: normal;
                    }
                }
            }
            .info_author_publication {
                margin-top: 5px;
                .info_author,
                .info_publication {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    font-weight: 400;
                    color: #595959;
                    &.multi_ellipsis {
                        display: block;
                        overflow: hidden;
                        max-height: 38px;
                        line-height: 19px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: -o-ellipsis-lastline;
                        white-space: normal;
                    }
                }
                [class^=info_] + [class^=info_] {
                    position: relative;
                    padding-left: 6px;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 8px;
                        display: block;
                        width: 2px;
                        height: 2px;
                        border-radius: 50%;
                        background-color: #595959;
                    }
                }
            }
            .info_price {
                margin-top: 12px;
                [class^=price_] {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                }
                .price_dc {
                    font-weight: 700;
                    color: #3c9a17;
                    font-family: Roboto, sans-serif;
                }
                .price_amount {
                    font-weight: 400;
                    color: #000;
                    strong {
                        font-weight: 700;
                        color: #000;
                        font-family: Roboto, sans-serif;
                    }
                }
                .price_point {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    font-weight: 400;
                    color: #595959;
                    font-family: Roboto, sans-serif;
                }
            }
        }
        .product_check {
            margin-bottom: 6px;
        }
    }
    &.horizontal_type {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: auto;
        min-width: 250px;
        min-height: 10px;
        .thumbnail_area {
            flex-shrink: 0;
            display: block;
            overflow: hidden;
            width: 84px;
            min-height: 10px;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            background-color: #eaeaea;
            flex-shrink: 0;
            .link_thumbnail {
                display: block;
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .info_area {
            display: block;
            width: auto;
            box-sizing: border-box;
            padding-left: 12px;
            .info_product_number {
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                font-weight: 400;
                font-family: Roboto, sans-serif;
                color: #595959;
            }
            .info_product_name {
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                font-weight: 500;
                color: #000;
                display: block;
                overflow: hidden;
                max-height: 42px;
                line-height: 19px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: -o-ellipsis-lastline;
                white-space: normal;
                .link_text {
                    display: block;
                    width: 100%;
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    font-weight: 500;
                    color: #000;
                    &.multi_ellipsis {
                        display: block;
                        overflow: hidden;
                        max-height: 46px;
                        line-height: 23px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: -o-ellipsis-lastline;
                        white-space: normal;
                    }
                }
            }
            .info_author_publication {
                margin-top: 5px;
                .info_author,
                .info_publication {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    font-weight: 400;
                    color: #595959;
                    &.multi_ellipsis {
                        display: block;
                        overflow: hidden;
                        max-height: 38px;
                        line-height: 19px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: -o-ellipsis-lastline;
                        white-space: normal;
                    }
                }
                [class^=info_] + [class^=info_] {
                    position: relative;
                    padding-left: 6px;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 8px;
                        display: block;
                        width: 2px;
                        height: 2px;
                        border-radius: 50%;
                        background-color: #595959;
                    }
                }
            }
            .info_price {
                margin-top: 20px;
                [class^=price_] {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                }
                .price_dc {
                    font-weight: 700;
                    color: #3c9a17;
                    font-family: Roboto, sans-serif;
                }
                .price_amount {
                    font-weight: 400;
                    color: #000;
                    strong {
                        font-weight: 700;
                        color: #000;
                        font-family: Roboto, sans-serif;
                    }
                }
                .price_point {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    font-weight: 400;
                    color: #595959;
                    font-family: Roboto, sans-serif;
                }
            }
            .rating-container {
                margin-top: 18px;
            }
        }
    }
    &.vertical_type.width_sm {
        width: 122px;
        .info_area {
            margin-top: 16px;
            &.align_center {
                margin-top: 10px;
            }
            .info_author_name {
                margin-top: 5px;
            }
            .info_price {
                margin-top: 12px;
            }
        }
    }
}

.round_gray_box {
    display: block;
    padding: 24px 24px 30px;
    border-radius: 4px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    .bottom_btn_area {
        margin: 30px 0 -6px;
        text-align: center;
    }
    .explan_text_list {
        .explan_title {
            display: block;
            margin-bottom: 7px;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #000;
            font-weight: 500;
        }
        .explan_desc {
            display: block;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #767676;
            ~ .explan_title {
                border-top: 1px solid #eaeaea;
                margin-top: 16px;
                padding-top: 14px;
            }
        }
    }
    + .round_gray_box {
        margin-top: 20px;
    }
    &.type_sub {
        padding: 20px;
    }
    &.type_divide {
        padding: 0;
        background-color: #fff;
        border: 1px solid #eaeaea;
        .box_header {
            border-radius: 16px 16px 0 0;
            padding: 19px 23px;
            border-bottom: 1px solid #eaeaea;
            background-color: #f7f7f7;
            .right_box {
                margin-left: auto;
                font-size: 0;
            }
            &.type_sm {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                padding: 10px 14px;
            }
        }
        .box_body {
            border-radius: 0 0 16px 16px;
            padding: 23px;
        }
    }
}
.thumbnail_product_item {
    .caption {
        display: none;
    }
    &.horizontal_type {
        .caption {
            display: inline-block;
            .caption-badge {
                background: 0;
            }
        }
    }
}
/* rating */
.rating-container {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 0;
    vertical-align: top;
    margin-left: -2px;
    .clear-rating {
        display: none;
    }
    .rating-stars {
        .empty-stars .star {
            margin: 0 2px;
            .glyphicon-star-empty:before {
                content: "";
                display: inline-block;
                width: 22px;
                height: 22px;
                background-image: url('../images/guide/ico_klover_none.svg');
                background-size: 22px 22px;
            }
        }
        .filled-stars .star {
            margin: 0 2px;
            .glyphicon-star:before {
                content: "";
                display: inline-block;
                width: 22px;
                height: 22px;
                background-size: 22px 22px;
            }
        }
        .form_rating {
            color: #000;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: -0.01em;
            font-family: Roboto, sans-serif;
            outline: 0;
        }
    }
    .caption {
        margin: 0 0 0 8px;
        vertical-align: top;
        font-size: 0;
        position: relative;

        .val {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -.01em;
            color: #DA2128;
            font-weight: 700;
            line-height: 1;
        }
        .total {
            padding-top: 5px;
            margin-left: 6px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -.01em;
            color: #767676;
            font-weight: 400;
            line-height: 1;
            &:before {
                content: "/";
            }
        }
    }
    &.rating-sm {
        margin-left: -2px;
        .empty-stars .star {
            margin: 0 2px;
            .glyphicon-star-empty:before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px 18px;
            }
        }
        .filled-stars .star {
            margin: 0 2px;
            .glyphicon-star:before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/guide/ico_klover.svg');
                background-size: 18px 18px;
            }
        }
    }
    &.rating-xs {
        margin-left: -1px;
        .empty-stars .star {
            margin: 0 2px 0 1px;
            .glyphicon-star-empty:before {
                content: "";
                display: inline-block;
                width: 13px;
                height: 13px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/guide/ico_klover_none.svg');
                background-size: 13px 13px;
            }
        }
        .filled-stars .star {
            margin: 0 2px 0 1px;
            .glyphicon-star:before {
                content: "";
                display: inline-block;
                width: 13px;
                height: 13px;
                background-image: url('../images/guide/ico_klover.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 13px 13px;
            }
        }
    }
    &.rating-lg {
        margin-left: -6px;
        .empty-stars .star {
            margin: 0 6px;
            .glyphicon-star-empty:before {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/guide/ico_klover_none.svg');
                background-size: 40px 40px;
            }
        }
        .filled-stars .star {
            margin: 0 6px;
            .glyphicon-star:before {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/guide/ico_klover.svg');
                background-size: 40px 40px;
            }
        }
    }
    &.has_caption .caption {
        display: inline-block;
        margin: 0 0 0 8px;
        vertical-align: top;
        font-size: 0;
        .label {
            padding: 0;
            border-radius: 0;
            font-size: 0;
            .val {
                font-size: 20px;
                line-height: 32px;
                letter-spacing: -0.01em;
                color: #3c9a17;
                font-weight: 700;
                line-height: 1;
            }
            .total {
                padding-top: 5px;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                color: #767676;
                line-height: 1;
                &:before {
                    content: "/";
                }
            }
        }
    }
}

.rating-disabled {
    .rating-input,
    .rating-stars {
        cursor: default;
    }
}
.total_rating_box {
    .caption {
        margin: 1px 0 0 8px;
        vertical-align: top;
        .label {
            padding: 0;
            border-radius: 0;
            font-size: 0;
            .val {
                font-size: 20px;
                line-height: 32px;
                letter-spacing: -0.01em;
                color: #3c9a17;
                font-weight: 700;
                line-height: 1;
            }
        }
    }
    .total_score {
        display: inline-block;
        margin: 7px 0 0 1px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #767676;
        line-height: 1;
        vertical-align: top;
    }
}

.review_user_info {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    font-size: 12px; 
    line-height: 18px; 
    letter-spacing: -.01em; 
    color: #767676; 
    margin-bottom: 11px; 
    flex-wrap: wrap;
    .gap {
        display: inline-block; 
        font-size: 0; 
        width: 1px; 
        height: 9px; 
        background-color: #d5d5d5; 
        margin: 0 6px;
    }
    .badge_line_gray {
        margin: 0 6px 0 4px;
        border-radius: 10px;
        .text{
            transform:translateY(1px);
        }
    }
}

.review_summary_wrap {
    display: block;
    font-size: 0;
    .gap {
        display: inline-block;
        width: 4px;
        height: 8px;
        margin: 5px 6px 0;
        background-image: url('../images/guide/ico_slash.svg');
        background-size: 4px 8px;
        vertical-align: top;
    }
    .review_quotes_text {
        margin-right: 1px;
        + .gap {
            margin: 6px 6px 0;
        }
    }
    .rating-container.rating-xs {
        margin-top: 3px;
    }
}
/* auto overflow 공통 */
.auto_overflow_wrap {
    .auto_overflow_contents {
        overflow: hidden;
    }
    .auto_overflow_footer {
        display: none;
    }
    &.overflow .auto_overflow_footer {
        display: block;
        margin-top: 12px;
        &.type_cont {
            margin-top: 24px;
            text-align: center;
        }
    }
    &.active {
        > .auto_overflow_contents {
            max-height: none !important;
        }
        &.type_tbl_col .auto_overflow_contents:after {
            content: none;
        }
    }
    &.type_tbl_col {
        .auto_overflow_contents {
            position: relative;
            border-bottom: 1px solid #eaeaea;
            &:after {
                content: "";
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10px;
                background-color: #fff;
            }
        }
        .tbl_col_wrap {
            border-bottom: none;
        }
    }
    &.type_text.overflow {
        .auto_overflow_contents {
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 15px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff 15px);
                position: absolute;
                bottom: 0;
            }
        }
        &.active .auto_overflow_contents:after {
            content: none;
        }
    }
}
/* 상품/리뷰 컨텐츠 공통 사용 */
.review_quotes_text {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    color: #595959;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 500;
    vertical-align: top;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 13px;
        height: 13px;
        background-image: url('../images/guide/ico_quotes.svg');
        background-size: 13px 13px;
    }
}

.review_klover_text {
    display: inline-block;
    position: relative;
    padding-left: 19px;
    color: #000;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 700;
    vertical-align: top;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 13px;
        height: 13px;
        background-image: url('../images/guide/ico_klover.svg');
        background-size: 13px 13px;
    }
}
.review_klover_box {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    .review_desc {
        display: inline-block;
        margin: 1px 0 0 4px;
        color: #767676;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        vertical-align: top;
    }
}

/* 리뷰 */
.all_review_wrap {
    .all_review_list .all_review_item {
        border-bottom: 1px solid #eaeaea;
        padding: 20px 4px;
        box-sizing: border-box;
        .review_middle .review_middle_box .auto_overflow_wrap {
            .auto_overflow_contents {
                max-height: 86px;
                .auto_overflow_inner .info_text {
                    margin-bottom: 13px;
                    display: block;
                    overflow: hidden;
                    max-height: 88px;
                    line-height: 22px;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    text-overflow: -o-ellipsis-lastline;
                    white-space: normal;
                    color: #000;
                }
            }
            &.active .auto_overflow_contents .auto_overflow_inner .info_text {
                height: auto;
                max-height: none;
                -webkit-box-orient: inherit;
                -webkit-line-clamp: inherit;
            }
            .auto_overflow_footer {
                margin-bottom: 13px;
                .overflow_footer_inner {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                }
            }
        }
        .review_top_common .review_summary_wrap {
            margin-bottom: 14px;
        }
        .review_button_common {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            .btn_more_view {
                flex: 1 0;
            }
            .bottom_right {
                margin-left: auto;
                .btn_like {
                    .ico_like {
                        width: 20px;
                        height: 20px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url('../images/guide/ico_like.svg');
                        background-size: 20px 20px;
                        margin-right: 4px;
                    }
                    &.active .ico_like {
                        background-image: url('../images/guide/ico_like_pre.svg');
                        background-size: 20px 20px;
                    }
                    .like_cont {
                        position: relative;
                        font-size: 13px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .btn_reply {
                    margin-left: 12px;
                    &.active {
                        .ico_reply {
                            background-image: url('../images/guide/ico_reply_pre.svg');
                            background-size: 20px 20px;
                        }
                        .text_reply {
                            color: #000;
                        }
                    }
                    .ico_reply {
                        width: 20px;
                        height: 20px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url('../images/guide/ico_reply.svg');
                        background-size: 20px 20px;
                        margin-right: 4px;
                    }
                    .text_reply {
                        position: relative;
                        font-size: 13px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        color: #767676;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
        &.thumbnail .review_middle .review_middle_box .auto_overflow_wrap {
            .auto_overflow_contents {
                max-height: 86px;
                .auto_overflow_inner {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    .info_text {
                        padding-right: 20px;
                        display: block;
                        display: -webkit-box;
                        overflow: hidden;
                        max-height: 88px;
                        line-height: 22px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        text-overflow: -o-ellipsis-lastline;
                        white-space: normal;
                    }
                    .review_thumb {
                        position: relative;
                        width: 78px;
                        height: 78px;
                        .thumb_cont {
                            display: block;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0.85);
                            color: #fff;
                            text-align: center;
                            font-size: 11px;
                            border-radius: 6px 0 6px 0;
                        }
                    }
                }
                .review_swiper {
                    margin-top: 16px;
                    display: none;
                    .swiper-container .swiper-wrapper .swiper-slide {
                        max-width: 335px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            &.active .auto_overflow_contents {
                .auto_overflow_inner {
                    .info_text {
                        width: 100%;
                        padding-right: 0;
                        height: auto;
                        max-height: none;
                        -webkit-box-orient: inherit;
                        -webkit-line-clamp: inherit;
                    }
                    .review_thumb {
                        display: none;
                    }
                }
                .review_swiper {
                    display: block;
                }
            }
        }
        &.spoilers .review_middle .spoilers_text_box {
            height: 62px;
            background-color: #f7f7f7;
            color: #767676;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: -0.01em;
            border-radius: 6px;
            margin-bottom: 12px;
            .text_spoilers:before {
                content: "";
                display: inline-block;
                width: 17px;
                height: 19px;
                background-image: url('../images/ico_locker_mok.png');
                background-size: 17px 19px;
                vertical-align: sub;
                margin-right: 6px;
            }
            .btn_xxs {
                width: 20px;
                height: 20px;
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                background-image: url('../images/ico_spo_more_mok.png');
                background-size: 20px 20px;
                margin-left: 4px;
            }
        }
        &.reply .review_reply {
            border-top: 1px solid #eaeaea;
            padding-top: 10px;
            margin-top: 20px;
            .byte_check_wrap {
                &.active {
                    display: block;
                }
                .form_textarea {
                    height: 80px;
                }
            }
            .reply_list .reply_list_item {
                position: relative;
                padding: 20px 20px 24px 37px;
                box-sizing: border-box;
                background-color: #f7f7f7;
                margin-top: 8px;
                border-radius: 10px;
                .review_user_info:before {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 9px;
                    background-image: url('../images/guide/arw_reply.svg');
                    background-size: 8px 9px;
                    position: absolute;
                    top: 24px;
                    left: 20px;
                }
                .info_text {
                    color: #000;
                }
            }
            .btn_more_body {
                margin-top: 12px;
            }
        }
        &.report_wrap .review_middle .report_text_box {
            background-color: #f7f7f7;
            border-radius: 6px;
            padding: 37px 0 16px;
            text-align: center;
            box-sizing: border-box;
            margin-top: 16px;
            margin-bottom: 12px;
            position: relative;
            .info_text {
                color: #767676;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background-image: url('../images/ico_exclamation_gray_sm_mok.png');
                    background-size: 17px 17px;
                    vertical-align: middle;
                    margin-right: 2px;
                    position: absolute;
                    top: 16px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .review_more_btn_wrap {
        margin-top: 24px;
        text-align: center;
    }
}
//상품 리스트 영역
.module_wrap{
    padding-top:20px;
    .tit{
        font-weight:700;
        font-size: 20px;
        line-height:28px;
    }
}
ul.prod-wrapper.column_dir{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items: flex-start;
	align-content: flex-start;
 li{
	width: calc((100% - 20px)/2);
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	cursor:pointer;
	margin:0;
	margin-top:20px;
	&:nth-of-type(1),
	&:nth-of-type(2){
		margin-top:0;
	}
 }
 .product_pic{
	 width:100%;
	 padding-top: 100%;
 }
 .title{
     font-size: 13px;
     margin-bottom:8px;
 }
}
/* 텍스트 gray 박스 */
.info_text_box {
    display: block;
    padding: 18px;
    border-radius: 4px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    .info_text_inner + .info_text_inner {
        margin-top: 18px;
        padding-top: 18px;
        border-top: 1px solid #eaeaea;
    }
    &.size_sm {
        padding: 14px;
        [class^=bul_item_].font_size_min + [class^=bul_item_].font_size_min {
            margin-top: 4px;
        }
    }
}

