@charset "UTF-8";
@import "_variables.scss"; 
@import "_mixins.scss";
@import "_ht_reset.scss"; // eric meyer reset 2.0, _ht : 핫트랙스 접두어
@import "_ht_components.scss"; // button, form, tab, swiper, fixed content, folding, list, table, box등 ...
@import "_ht_header.scss"; // todo : layout으로 추가 할 것
@import "_ht_products.scss";

// Font : Gmarket Sans
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:700;
	src:local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('../font/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:500;
	src:local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('../font/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:300;
	src:local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('../font/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.devide_underline_thin{
	display: block;
	border:none;
	width:100%;
	height:8px;
	margin:0;
	background-color:#f7f7f7 ;
}
//메인 메뉴
.tod_menu_wrap {
  display: flex;
  flex-flow: row nowrap;
  border-top:1px solid rgba(0,0,0,0.2);
  .tod_menu {
      display: block;
      width:50%;
      line-height:21px;
      font-size: 15px;
      font-weight: 500;
      color:rgba(0,0,0,0.2);
      text-align: center;
      padding:15px 10px;  
      &.active{
          color:#000;
          position: relative;
          &:before{
              content:"";
              position: absolute;
              left:0;
              bottom:0;
              width:100%;
              height:2px;
              background-color:#000;
          }
      }
  }

}
//타이머 배너 영역
.tod_full_banner {
    position:relative;
    text-align: center;
    background-color: #FFEB01;
    height:150px;
    overflow:hidden;
    &.none_timer{
        padding:0;
        background-color:#86CCFF;
    }
    img {
        height:100%;
        &.btm{
            width:95px;
            left:50%;
            transform: translateX(85%);
            position:absolute;
            bottom:-50px;;
            z-index:5;
        }
    }

    .timer {
        position: absolute;
        font-weight: 900;
        color:#fff;
        line-height: 21px;
        font-size: 16px;
        left:50%;
        bottom:40px;
        transform: translateX(-55%);
        z-index: 10;
    }
    .btn_share {
        width:20px;
        height:20px;
        position:absolute;
        z-index: 10;
        top:20px;
        right:20px;
        background:url(../images/guide/ico_tod_share.svg) no-repeat center center/ 20px;
    }
    .holdeal_mail_direct {
        position:absolute;
        width:100%;
        left:0;
        bottom:12px;
        z-index: 10;
        display: flex;
        flex-flow:row nowrap;
        justify-content: center;
        align-items: center;
        span {
            display: block;
        }
        .icon {
            width:18px;
            height:18px;
            background:url(../images/guide/ico_tod_bell.svg) no-repeat center center/ 18px;
        }
        .txt {
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            margin:0 3px;
        }
        .arrow {
            background:url(../images/guide/ico_selec_arrow.svg) no-repeat center center/9px;
            transform: rotate(-90deg);
            width:9px;
            height:18px;
        }
    }
}
.hotdeal_product_pic{
    position:relative;
    height:0;
    padding-top: 114.5%;
    overflow:hidden;
    img{
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }
}
/*=======================     모듈 006 영역   =====================*/
.module_wrap {
	padding:40px 20px;
    &.type_pic{
        padding-bottom: 32px;
    }
}
.module6_item {
	margin-top:20px;
	&:first-of-type {
		margin-top:0;
	}
	.product_pic {
		position:relative;
		height:0;
		padding-top:100%;
		overflow:hidden;
		margin-bottom: 12px;
		img {
			width:100%;
			position: absolute;
			left:0;
			top:0;
		}
        .evt_good_count {
			display: block;
			padding:5px 7px;
			height:24px;
			position:absolute;
			border-radius: 30px;
			color:#fff;
			font-size: 10px;
			right:8px;
			bottom:8px;
			background-color: rgba(0,0,0,0.5);
			z-index:5;
			.icon {
				float:left;
				width:12px;
				height:14px;
				background:url(../images/guide/ico_prod_like_icon.svg) no-repeat center center /12px;
			}
			.txt {
				float:left;
				margin-left:3px;
				line-height:14px;
			}
		}
	}
	.evt_good_count.active {
		.icon {
			float:left;
			width:12px;
			height:14px;
			background:url(../images/guide/ico_prod_like_icon_active.svg) no-repeat center center /12px;
		}
	}
	.company {
		font-size: 12px;
		color:#767676;
		margin-top:8px;
	}
	.title {
		width:100%;
		margin-bottom: 4px;
		font-size: 16px;
		line-height: px;
		letter-spacing: -0.13px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		word-break: keep-all;
	}
	.price_area {
		margin-top:px;
		display:flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		font-size: 15px;
        margin-bottom:12px;
	}
	.discount_rate,
	.fianl_price {
		margin-left:4px;
		font-weight: 700;
		font-size: 15px;
		line-height: 23px;
	}
	.discount_rate {
		color:#da2128;
		margin:0;
	}
	.price_origin {
		margin-left:4px;
		font-size: 11px;
		line-height: 23px;
		text-decoration: line-through;
		color:#767676;
	}  
}
/*===============================  모듈 016 영역  ===========================*/
.mdl_selec_list_wrap{
    padding:32px 20px 32px 20px;
    &.type2{
        padding-top:0;
    }
    .tit{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.18px;
        text-align: left;
        margin-bottom:12px;
    }
}
.sticky_selec{
	padding:20px;
	position: sticky;
	top:60px;
	left:0;
	z-index: 7;
	background-color: #fff;
	&.anchor{
		top:60px;
	}
}
.common_select{
	width:100%;
	height:50px;
	padding:14px 25px 14px 15px;
	border:1px solid #d5d5d5;
	position:relative;
	line-height: 22px;
	letter-spacing: -0.14px;
	border-radius: 6px;
	outline: 0;
	color:#767676;
	appearance: none;
	background:url(../images/guide/ico_selec_arrow.svg) no-repeat right 14px top 50% /9px;
    option{
        height:50px;
    }
}

//상품 리스트 영역
ul.prod-wrapper.column_dir{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items: flex-start;
	align-content: flex-start;
    padding:0;
 .prod_item{
	width: calc((100% - 20px)/2);
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	cursor:pointer;
	margin-top:20px;
	&:nth-of-type(1),
	&:nth-of-type(2){
		margin-top:0;
	}
	&:last-of-type{
		margin-right:0;
	}
 }
 .product_pic{
	 width:100%;
	 padding-top: 100%;
 }
}
ul.prod-wrapper.row_dir{
	.prod_item{ 
		margin:0;
		margin-top:20px;
        display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		cursor:pointer;
		span{
			display: block;
		}
		&:first-of-type{
			margin-top:0;
		}
	}
	.product_pic{
		position:relative;
		width:158px;
		height:0;
		padding-top:158px;
		overflow: hidden;
		flex-shrink: 0;
		margin-bottom:0;
		img{
			width:100%;
			position:absolute;
			top:0;
			left:0;
		}
	} 			
	.product_info{
		flex-grow:1;
		padding-left:19px;
	}
	.title{
		margin-bottom:8px;
	}
}
//더보기 버튼 영역
.btn_more_div{
	margin-top:26px;
	.more_btn{
		width:71px;
		height:24px;
		margin:0 auto;
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		appearance: none;
		cursor:pointer;
	}
	.more_btn.hidden{
		display:none;
	}
	.txt{
		line-height:24px;
		font-size: 15px;
		font-weight:500;
		letter-spacing: -0.15px;
		color:#767676;
	}
	.btn_more_icon{
		width:24px;
		height:24px;
		background:url(../images/ico/ico_arrow_large.png) no-repeat 0 0;
		background-size: 24px auto;
	}
 }
/*================================ 타이머 말풍선 ==========================*/
.timer_bubble_area {
    position: fixed;
    bottom:32px;
    right:12px;
    z-index: 70;
    &:before {
        content:"";
        position:absolute;
        width:45px;
        height:35px;
        z-index: 72;
        right:0;
        top:-28px;
        background: url(../images/guide/tod_timer_bomb.svg) no-repeat center center/ contain;

    }
    .timer_bubble {
        position: relative;
        color:#fff;
        background-color: #000;
        padding:11px 24px 8px 24px;
        border-radius: 50px;
        span {
            display: block;
            text-align: center;
            line-height: 16px;
            font-family:'Gmarket Sans';
        }
        &:before {
            content:"";
            position: absolute;
            border-top: 9px solid transparent;
			border-left: 0 solid transparent;
			border-right: 9px solid #000;
			border-bottom: 9px solid transparent;
			-webkit-transform: rotate(110deg);
					transform: rotate(110deg);
			z-index: -1;
			bottom: 0;
			right: 2px;
        }
    }
    .timer {
        font-weight: 900;
        
    }
    .txt {display: block;
        font-size: 13px;
    }
}
//띠배너
.belt_banner {
    margin-top:30px;
    & > img {
        width:100%;
    }
}